[2018-05-03 13:55] zefanja opened #1 "Can't install webui7"
When I try to install linuxmuster-webui7 in the latest lmn v7 appliance I get this error (middle of the picture):

![lmnv7 auslieferungszustand wird ausgefuhrt - oracle vm virtualbox_053](https://user-images.githubusercontent.com/708888/39580845-4fa2b4c0-4f14-11e8-8861-e5f40356eed3.png)

[2018-05-03 14:01] netzint commented on #1
This is a known Bug in the pre Alpha version. This will be fixed in the alpha release. At the moment it is enough to run "apt-get install linuxmuster-webui7" again.

[2018-05-05 03:37] zefanja opened #2 "[Errno 2] No such file or directory: '/etc/linuxmuster/sophomorix/default-school/students.csv'"
After running`linuxmuster-setup` I get this error, when accessing the Students Section in the webUI7.

[code]

Same for teachers and extrastudents.

[2018-05-05 03:40] zefanja opened #3 "No Option for field 9 in workstations section"
In lmn v7 you can set the device typ in field 9. This should be possible with the webUI, too. Currently there is no such field / dropdown.

[2018-05-05 03:41] zefanja opened #4 "[Errno 2] No such file or directory: '/etc/cups/access.conf'"
While trying to access the printers section I get this error:

[code]

[2018-05-05 03:42] zefanja opened #5 "Quota: list index out of range"
There is an index error, when you try to access the Quota section:
[code]

[2018-05-05 03:44] zefanja opened #6 "[Errno 2] No such file or directory: '/home/share/school'"
When I try to access Settings under Settings & Defaults I get this error:

[code]

[2018-05-05 03:52] zefanja opened #7 "Remove Partition Dialog is hidden behind popup"
When I create a new disk and want to delete a partition, the confirm dialog is hidden behind the modal / popup.
![peek 2018-05-05 10-34](https://user-images.githubusercontent.com/708888/39659442-5bac8360-5052-11e8-9f92-29f902ba2852.gif)

[2018-05-05 14:20] zefanja opened #8 "Command 'sophomorix-print -a' returned non-zero exit status 88"
When I try to print all passwords:
[code]

[2018-05-05 14:24] zefanja opened #9 "Icons not found"
The icons are not display in the drop-down menu:

![auswahl_054](https://user-images.githubusercontent.com/708888/39664248-ad9837fc-50aa-11e8-89d0-8c69727859fa.png)

[2018-05-05 14:32] jeffbeck commented on #8
sophomorix-print -a
"-a" is not a valid option for sophomorix-print

[2018-05-05 14:38] zefanja opened #10 "Can't login with a teacher account"
I can't login with a teacher account. Are logins enabled for teachers?

Login is possible with `root`.

[2018-05-08 20:22] netzint commented on #8
This feature is not implemented at the moment. This module is only ported from the linuxmuster 6.2 webui.

[2018-05-08 20:23] netzint commented on #6
This feature is not implemented at the moment. This module is only ported from the linuxmuster 6.2 webui.

[2018-05-08 20:23] netzint commented on #5
This feature is not implemented at the moment. This module is only ported from the linuxmuster 6.2 webui.

[2018-05-08 20:24] netzint commented on #1
Should be fixed in the Alpha version "linuxmuster-webui7_1.0.10-1".

[2018-05-09 08:57] PLanB2008 commented on #10
Login as teacher should be possible. Please check /etc/ajenti/config.yml for linuxmuster  ldap credentials.

Section should contain the ldap credentials:

linuxmuster:
  ldap:
    binddn: CN=global-binduser,OU=Management,OU=GLOBAL,DC=linuxmuster,DC=lan
    bindpw: PASSWORD
    host: server
    searchdn: DC=linuxmuster,DC=lan

Please check and report. It might happen that the installation process d

[2018-05-09 12:18] zefanja opened #11 "No License text"
If you start the initial configuration with the webui there is just a placeholder text on the first screen.

If you do the setup with via CLI you don't have to accept a license.

![auswahl_057](https://user-images.githubusercontent.com/708888/39814191-94af0e3a-53bd-11e8-9808-20df1419b40a.png)

[2018-05-09 12:22] zefanja opened #12 "Skip firewall configuration does not skip it"
I've checked "Skip Firewall Configuration" but the setup still wants to set up the firewall:

![auswahl_058](https://user-images.githubusercontent.com/708888/39814301-fb78b850-53bd-11e8-9444-21b3695d17b3.png)

[2018-05-09 12:24] zefanja opened #13 "There is no way to cancel the setup"
On the last screen there is no way to cancel the setup (e.g. something went wrong with `linuxmuster-setup`). There is just a spinner and the command line output.

[2018-05-09 12:36] netzint commented on #12
can you please post the /tmp/setup.ini file?

[2018-05-09 12:42] zefanja opened #14 "Navigation initial setup"
It is possible to jump to any screen for the initial setup and skip the screens before.

![peek 2018-05-09 19-40](https://user-images.githubusercontent.com/708888/39815011-e470bd9e-53c0-11e8-8110-18d4a4125e39.gif)

[2018-05-09 12:45] zefanja opened #15 "Input is not validated"
There are some inputs that are not validated or required (compare to `linuxmuster-setup`):

* server hostname
* domain
* Admin password (can be anything)

[2018-05-09 12:45] zefanja commented on #12
[code]

[2018-05-09 12:51] netzint commented on #12
This looks like a bug in linuxmuster-setup.

skipfw = True > that's ok.

[2018-05-09 12:53] zefanja commented on #12
The thing is `linuxmuster-setup -s` does work like expected :)

[2018-05-09 12:54] #1 closed, assigned to nobody

[2018-05-09 12:56] netzint commented on #12
Yes, but probably not in unattanded mode:

The WebUI calls: 'linuxmuster-setup -u -c /tmp/setup.ini ..'

[2018-05-09 12:57] zefanja opened #16 "Setup does not ask for DHCP range"
I'm not sure if this is necessary, but `linuxmuster-setup` does ask for the default DHCP range - the webui does not.

[2018-05-09 12:57] netzint commented on #12
Ticket Created: https://github.com/linuxmuster/linuxmuster-base7/issues/20

[2018-05-09 13:02] netzint commented on #16
That was taken out again. This information is probably too much at setup time. We will discuss it in the development team.

[2018-05-09 13:02] #16 closed, assigned to nobody

[2018-05-09 13:02] zefanja commented on #12
Right, just tested it.

[2018-05-09 13:02] #12 closed, assigned to nobody

[2018-05-09 13:19] zefanja opened #17 "LookupError: unknown encoding: auto"
After adding a teacher and clicking "Save&Check" I get this error:

`POST /api/lm/users/teachers?encoding=auto`

[code]

[2018-05-09 13:22] zefanja opened #18 "Adding a new row to an empty teachers.csv does not work"
Adding a row does not work with one click. You have to click twice (but then you get two rows):

![peek 2018-05-09 20-20](https://user-images.githubusercontent.com/708888/39816832-962e0f28-53c6-11e8-8659-093e733e9073.gif)

[2018-05-09 13:38] zefanja opened #19 "No sidebar when logging in as teacher"
When I log in as a teacher I see the dashboard but no sidebar. I'm not sure if this is a webui or sophomorix4 issue.

![auswahl_059](https://user-images.githubusercontent.com/708888/39817659-ef502896-53c8-11e8-9b59-cab1465537fb.png)

[2018-05-09 13:41] zefanja commented on #10
Seems to work with the latest version. Or maybe I've installed the webui after running `linuxmuster-setup`

[2018-05-09 13:41] #10 closed, assigned to nobody

[2018-05-09 13:52] zefanja opened #20 "webUI messes up school.conf"
When I save settings from Settings&Defaults → Settings the webUI messes up the `school.conf` file. It adds some JSON at the end of the file:

[code]

[2018-05-09 22:17] zefanja commented on #19
Looks like a sophomorix issue.

[2018-05-09 22:17] #19 closed, assigned to nobody

[2018-05-11 11:46] PLanB2008 commented on #3
Should be fixed in current code. Package will be updated soon

[2018-05-11 11:48] PLanB2008 commented on #15
Should be fixed in current code. Package will be updated soon

[2018-05-12 06:13] zefanja commented on #3
It is not fixed, because LMNv7 has different roles then v6.2. See `man devices.csv`.

[2018-05-12 06:18] zefanja opened #21 "Input validation should only highlight fields that are missing."
If input validation fails there is a red border and background for that field (good), but it stays red even after entering a valid value.

![peek 2018-05-12 13-16](https://user-images.githubusercontent.com/708888/39954281-fc897ad8-55e6-11e8-85cb-471b2deab1a0.gif)

[2018-05-12 06:20] zefanja commented on #15
Could you please add some hints which characters are expected in a strong password?

"Muster!" does work in the CLI-Setup, but not in the webUI. It would be nice if both can share the same test for a good / strong password.

[2018-05-16 09:13] #21 closed, assigned to nobody

[2018-05-21 12:17] zefanja opened #22 "setup does not validate domain name"
The domain name is not validated. It should check if the value is an domain name (something.tld).

![auswahl_063](https://user-images.githubusercontent.com/708888/40307175-a15524e0-5d2b-11e8-8bf0-89472c64a7ad.png)

[2018-05-21 12:20] zefanja opened #23 "Setup does not save date when going back"
The data a user enters during setup is not stored when you go back:

![peek 2018-05-21 19-19](https://user-images.githubusercontent.com/708888/40307278-005f4ea2-5d2c-11e8-92ed-54ec8799ef6e.gif)

[2018-05-21 12:26] zefanja opened #24 "Students List should show the user name"
IMHO the students list should have a column "user name".

[2018-05-21 19:04] jeffbeck commented on #24
Are you talking about the 36 Latex entries per page List?

datalist-DE-36-template.tex

??

[2018-05-21 21:47] zefanja commented on #24
No, I'm talking about the students list view in the webUI7. It shows the fields from the CSV, but it would be helpful to show the user name, too.

[2018-05-22 05:21] jeffbeck commented on #24
OK. I didn't notice that this issue is in the webui7 repo

[2018-05-22 07:12] ni-kw commented on #24
The Students Plugin is only an editor with import function. So the Username should not really be shown. In the teachers list the username is part of the list itselve - so there it is shown.

[2018-05-22 07:17] zefanja commented on #24
@ni-kw I know, but it would be nice if a teacher / admin opens the student list, he/she will get all the information + actions that are needed.

It would be nice to have just one list with all the details, where you can manage everything related, like setting a new password. Then there won't be a need for and extra Menu item "Passwords". Same for teachers.

[2018-05-22 07:59] jeffbeck commented on #24
Are we talking about students.csv and teachers.csv and their display in Schulkonsole editor?

These a files to be **synced** in the database (Active directory)

That means, the Fields in these files are **updated** in AD, when they change in the files.

So I'm very reluctant to add passwords to these files, because these would be only used on user creation, and not synced.

see also

man teachers.

[2018-05-22 08:33] zefanja commented on #24
@jeffbeck I'm just talking from a user point of view. The school console needs to take care of the things you've described.

[2018-05-22 09:05] PLanB2008 commented on #22
duplicate #15

[2018-05-22 09:05] #22 closed, assigned to nobody

[2018-05-23 07:22] ni-kw commented on #24
@zefanja I also think it would be nice to have less Plugins (menus) to do some jobs. But the Students list (students.csv) is only a file to import. I don't think that it is a good idea to merge a import list with a user-database (AD). The file could be complete different to the user databese. Users in the list may doesn't even have a passoword could be changed.

But we also don't like the seperate

[2018-05-24 10:53] zefanja opened #25 "removing linuxmuster-webui7 will also remove linuxmuster-base7 and linuxmuster-linbo7"
If you want to remove `linuxmuster-webui7` it will also remove other important packages:

[code]

[2018-05-24 12:33] zefanja opened #26 "change-password should redirect to XY after successful change"
IMHO after a successful password change the user should be redirected to another page (e.g. Dashboard or previous page).

[2018-05-25 14:44] netzint commented on #25
This pakage is in depency of linuxmuster-base7. It is an integral part of the solution and therefore ok

[2018-05-25 14:44] #25 closed, assigned to nobody

[2018-06-02 10:33] zefanja opened #27 "No pagination in students view"
It seems to be / It is not possible to view all students in the students view. It just displays the amount of students you can set in the "Rows" Menu.

[2018-06-07 15:44] PLanB2008 commented on #24
We tried to address this issue by separating the List Management (which is mostly just used twice a year) from the User Management.
In addition we'll add functionality to the session module so teacher will have the ability to do most of their administrative tasks from the session module.

![screenshot 20180607 17-41-27](https://user-images.githubusercontent.com/26460239/41110597-1a127468-6a7a-11e8

[2018-06-07 15:46] PLanB2008 commented on #3
Should be fixed in a6547419b785d207e523fbd9b428eca4906dd54f

please check

[2018-06-23 21:05] jeffbeck opened #28 "WEBUI_PERMISSIONS"
lm:users:teachers:read:
is needed in the configuration file, section [teacher]
so that the session module works for a teacher

[2018-06-27 18:28] jeffbeck opened #29 "sophomorix-ui in postinst"
call

/usr/sbin/sophomorix-ui

in postinstall script to update sophomorixWebuiPermissionsCalculated at all users (incl. admins)

[2018-07-03 12:02] jeffbeck opened #30 "sophomorix-check --analyze-encoding /path/..."
sophomorix-check now analyzes encoding without locking sophomorix. (starting with 5.52.3-1)

Please verify if that this works for webui now.

[2018-07-04 10:12] zefanja opened #31 "Show Password does not work in Teacher List"
This is the error I get:

[code]

[2018-07-04 10:13] zefanja opened #32 "Set Custom Password does not work"
I can't set a custom password for a teacher:

[code]

[2018-07-06 17:58] #3 closed, assigned to nobody

[2018-07-09 07:10] netzint commented on #32
should be fixed in the latest release, please test again

[2018-07-09 07:11] netzint commented on #31
should be fixed in the latest release, please test again

[2018-07-09 11:40] #31 closed, assigned to nobody

[2018-07-09 11:40] #32 closed, assigned to nobody

[2018-09-13 14:43] PLanB2008 commented on #27
Fixed a while ago. I forgot to close the issue.

[2018-09-13 14:43] #27 closed, assigned to nobody

[2018-09-13 14:46] PLanB2008 commented on #24
I'm going to close this issue because session module and user management modules both show the username.

[2018-09-13 14:46] #24 closed, assigned to nobody

[2018-09-13 14:47] PLanB2008 commented on #8
Print feature got implemented a while ago. Please test!

[2018-09-13 14:48] #2 closed, assigned to nobody

[2018-09-13 15:14] PLanB2008 commented on #18
fixed in f7a92e1a6b59ef2abeaf1d2e0ee08ea5f9fbadfb

[2018-09-13 15:14] #18 closed, assigned to nobody

[2018-09-19 13:23] PLanB2008 commented on #30
Unfortunately this does not work. It took me a while to figure out what goes wrong.

By creating a small shellscript which runs the analyze commands simultaneously, like the webui does, you can see that in some cases theres no proper json outout.

The following script:

    #!/bin/bash
    sophomorix-check --analyze-encoding /etc/linuxmuster/sophomorix/default-school/extrastudents.csv -j 1> /dev/n

[2018-09-20 14:38] #7 closed, assigned to nobody

[2018-09-20 14:39] #9 closed, assigned to nobody

[2018-09-21 06:46] PLanB2008 commented on #28
Hmm I just checked this issue. I know its a while ago, but is this still relevant? I assume this permission is not needed anymore.

[2018-09-21 06:46] #29 closed, assigned to nobody

[2018-09-21 07:16] #8 closed, assigned to nobody

[2018-09-29 21:05] jeffbeck commented on #30
Each config read action creates a tmpfile for the output of `net conf list`.
This was the same file for each script run. Now the file name is randomized, so that concurrent script runs do not interfere each other.

Closed in V-3.60.16-1

[2018-09-29 21:05] #30 closed, assigned to nobody

[2018-10-08 11:01] zefanja opened #33 "Location, State and Country Code are required in webUI7"
Location, State and Country Code are required in webUI7, but IMHO it shouldn't be like that, because it is not necessary if you do the setup via command line.

[2018-10-08 11:06] zefanja opened #34 "Setup popup could be wider to show all messages from setup"
The initial setup popup could be a little bit wider too show the complete progress of linuxmuster-setup.

[2018-10-08 11:10] zefanja opened #35 "No option to edit DHCP lease from webUI"
I couldn't find a way to edit the DHCP range during setup. Is it hidden somewhere? If you do the setup via CLI you can set the DHCP range.

[2018-10-08 12:01] zefanja opened #36 "Bug (in Ajenti) - webUI fails to start"
After the initial setup and a reboot, the webUI does not run anymore. The error seems to be related to ajenti. Here is the log:

[code]
This is the info from the ajenti log file:

[code]

[2018-10-08 14:40] zefanja commented on #36
More infos: Looks like the cert linked in config.yml is the problem. On my system it is set to `/etc/linuxmuster/ssl/server.cert.bundle.pem`, but this file is empty. May hostname is different to `server`. Who creates this file? WebUI7 or linuxmuster-setup?

[2018-10-08 14:46] zefanja commented on #36
More infos: Looks like the cert linked in config.yml is the problem. On my system it is set to `/etc/linuxmuster/ssl/server.cert.bundle.pem`, but this file is empty. May hostname is different to `server`. Who creates this file? WebUI7 or linuxmuster-setup?

[2018-10-08 14:47] netzint commented on #36
The Bundle file is created by webui with:

cat /etc/linuxmuster/ssl/server.key.pem /etc/linuxmuster/ssl/server.cert.pem >  /etc/linuxmuster/ssl/server.cert.bundle.pem

This is likely a bug and have to be fixed with different hostnames.

[2018-10-08 14:47] zefanja commented on #36
OK

[2018-10-08 14:54] zefanja opened #37 "Country code should be renamed to language in setup"
The country code in the setup routine sets the language in config.yml. It would be better to rename it as Language, because in some countries you speak more than just one language. (e.g. in Switzerland they have 3 languages).

[2018-10-08 15:13] zefanja opened #38 "bindpw of global-admin is readable for everyone"
If I go to the login page and show the source code of the page, all content (including `bindpw` and `binddn` for the global admin) is readable in plaintext by everyone...

[2018-10-08 15:32] zefanja opened #39 "WebUI should forward to HTTPS after setup"
After the setup and a reboot the webUI is only accessible over HTTPS, but it does not forward HTTP requests to HTTPS. For a better user experience it should do it.

[2018-10-08 21:29] kiarn commented on #38
Hello,

Ajenti build a dict with the config content, then pass it to AngularJS, but I think we don't need the key linuxmuster in AngularJS, all the ldap connect is done within the lm_* plugins with Python.

I can simply delete this key in the dict.

@PLanB2008 : can you please confirm ?

[2018-10-09 12:49] PLanB2008 commented on #38
This is right. We don't need these information in frontend. @kiarn any suggestions how to fix this backwards in ajenti core? I guess its pretty easy in linuxmuster-core but I think we need a quick solution for this issue.

[2018-10-09 12:54] PLanB2008 commented on #33
Did you double check this? AFAIK it is necessary for creating the ssl certificate. I'm not sure but I think the CLI setup Wizard is deprecated and kind of abandoned.
@HappyBasher do you still maintain the cli setup wizard?

[2018-10-09 13:00] PLanB2008 commented on #35
Like in https://github.com/linuxmuster/linuxmuster-webui7/issues/33#issuecomment-428180283
I don't know if the CLI wizard is still maintained. On the other hand this option still exists.

I'm not sure if we'll provide this option from the beginning. We once hat this option but removed it later to the bare minimum.
Maybe we'll add it as a expert setting or something like that.

[2018-10-09 13:01] HappyBasher commented on #33
Yep. In fact Location, State and Country Code are not absolutely necessary to create a self signed certificate. Setup uses only the fqdn.

[2018-10-09 13:11] PLanB2008 commented on #20
Back then this was still in progress. This should work now. If you find other bugs in this module please open another issue.

[2018-10-09 13:11] #20 closed, assigned to nobody

[2018-10-09 13:12] PLanB2008 commented on #17
Closed with https://github.com/linuxmuster/sophomorix4/issues/45

[2018-10-09 13:12] #17 closed, assigned to nobody

[2018-10-09 13:16] PLanB2008 commented on #13
Well I'm not sure how to tackle this problem. The installation process is kind of complex and at the moment it would be best to start over if something goes off the rail during this process - so a abort button would not really help to start the process over again.
Without the option to rerun the setup and get a working environment afterwards a camcel button wouldn't help.
I'll label this for the f

[2018-10-09 13:16] #5 closed, assigned to nobody

[2018-10-09 13:17] PLanB2008 commented on #4
List entry removed

[2018-10-09 13:17] #4 closed, assigned to nobody

[2018-10-09 13:17] PLanB2008 commented on #6
List entry removed

[2018-10-09 13:17] #6 closed, assigned to nobody

[2018-10-09 13:17] zefanja commented on #33
I was thinking about `linuxmuster-setup`, not the wizard.

[2018-10-09 22:34] zefanja opened #40 "Scrolling in terminal outputs is not possible"
It is not possible to scroll in a terminal output window, because it jumps to the bottom every second.

![peek 2018-10-10 05-32](https://user-images.githubusercontent.com/708888/46702649-182e4100-cc4e-11e8-93f3-30b4ee0105bb.gif)

[2018-10-09 22:40] zefanja opened #41 "no error output after running sophomorix-check"
The webUI shows, there is an error ("Fehler gefunden: 1"), but it does not show the error in the error tab, just:

`;  , ; ; `

[2018-10-09 22:54] zefanja opened #42 "sophomorix-move is used instead of sophomorix-update"
webUI uses `sophomorix-move` (deprecated) to update users, but it should be `sophomorix-update`.

[2018-10-09 23:00] zefanja opened #43 "School Admin page shows empty entry"
Although there are no school admins, an empty entry is shown in the list
![auswahl_188](https://user-images.githubusercontent.com/708888/46703624-c8517900-cc51-11e8-96e1-3010b00a5eb7.png)

[2018-10-09 23:07] zefanja opened #44 "webUI / ajenti tries to track users"
There seems to be some code inside ajenti, that tries to track their users. ~~Luckily its blocked (CORS)~~ **Its blocked only in Firefox, not in Chromium/Chrome!**:

![auswahl_189](https://user-images.githubusercontent.com/708888/46703857-bb815500-cc52-11e8-8823-5fc0481a5b26.png)

[2018-10-09 23:12] zefanja opened #45 "Adding a new student causes a faulty entry in studenty.csv"
If you click "Schüler hinzufügen" and then save the file, it causes a faulty entry in students.csv (because of the "New" value in "Vorname")

![auswahl_190](https://user-images.githubusercontent.com/708888/46704001-4bbf9a00-cc53-11e8-87c1-893f32789728.png)

It would be nice, if there is some input validation.

That is try for all lists (teachers, extra students) when you click on "Add Teacher/Stud

[2018-10-10 03:31] zefanja commented on #35
:+1: or a setting, where you can change the DHCP lease range later.

[2018-10-10 06:58] PLanB2008 commented on #33
Okay. I think it makes sense for users to add these information but I'm gonna make these non mandatory.

[2018-10-10 06:59] PLanB2008 commented on #41
Thanks for feedback. This wasn't possible at the time I implemented it and I forgot about it.

[2018-10-10 07:05] PLanB2008 commented on #45
I'll have a look where the 'New' comes from. This afaik this does not happen in teacher module and I'm gonna remove this.

Saving empty lines is currently expected but I think we can add some validation in feature.

[2018-10-10 11:50] zefanja opened #46 "Can't remove student from session"
If I want to remove a student from a session, he/she re-appears.
![peek 2018-10-10 18-49](https://user-images.githubusercontent.com/708888/46734419-56af1480-ccbd-11e8-8713-dca54c91602d.gif)

[2018-10-10 12:21] PLanB2008 commented on #46
This only happens to the last user in a session, right?
I assume this is an issue based on the way I write the sessionmembers. I'll have a look into this.

[2018-10-10 12:34] zefanja commented on #46
Yes, only happens with last student.

[2018-10-10 12:36] zefanja opened #47 "Adding Students should be disable in session overview view"
Adding a student in the session overview view does not make sense IMHO and results in an error, too.
![peek 2018-10-10 19-32](https://user-images.githubusercontent.com/708888/46736614-b4465f80-ccc3-11e8-8b3a-c9cc7cd1aa52.gif)

[2018-10-10 12:37] zefanja opened #48 "Renaming session causes mixed UI"
See GIF:

![peek 2018-10-10 19-34](https://user-images.githubusercontent.com/708888/46736677-d5a74b80-ccc3-11e8-92ae-96122765c444.gif)

[2018-10-10 13:04] zefanja opened #49 "Can't create new start.conf"
When I want to create a new start.conf (empty, or from template) nothing happens.

[2018-10-10 13:16] zefanja opened #50 "Select all students in user management does not work"
![peek 2018-10-10 20-13](https://user-images.githubusercontent.com/708888/46738855-66ccf100-ccc9-11e8-9654-050473fafe4f.gif)

[2018-10-10 13:18] zefanja opened #51 "Can't delele users"
The Delete action does not work. Nothing happens, when I click the button:
![peek 2018-10-10 20-12](https://user-images.githubusercontent.com/708888/46738956-a1cf2480-ccc9-11e8-8c81-832f1f630f96.gif)

There is no delete for students.

EDIT: Or is the only way to delete a user, to remove the entry in the corresponding csv file?

[2018-10-10 13:34] PLanB2008 commented on #51
Please always add the information in which usermmodule this happens.
I assume this is the teacher Module?
Indeed there should be no delete option.
Only school- and globaladministrators can be added without list editing.

[2018-10-10 13:38] zefanja commented on #51
Sorry, yes, it's the teacher module.

[2018-10-10 14:36] PLanB2008 commented on #45
I added support for this. Right now theres only a message which appears if there are missing information in a new line.
In feature the bad line should be highlighted.

[2018-10-10 15:20] #51 closed, assigned to nobody

[2018-10-10 15:24] #43 closed, assigned to nobody

[2018-10-10 15:31] #33 closed, assigned to nobody

[2018-10-10 15:40] PLanB2008 commented on #44
Well this is a leftover we got by the ajenti base. It doesn't look like a big deal to remove.
We'll definitely  remove this in a feature release.

[2018-10-10 15:49] PLanB2008 commented on #46
I passed this problem to @jeffbeck
https://github.com/linuxmuster/sophomorix4/issues/58
The module writes all session members back in one string rather than running add-user and remove-user several times.
This works almost flawless except if the participant string is empty.

[2018-10-10 16:03] #48 closed, assigned to nobody

[2018-10-10 18:42] jeffbeck commented on #42
Yes sophomorix-update is the thing!

[2018-10-11 10:09] #47 closed, assigned to nobody

[2018-10-11 10:26] #50 closed, assigned to nobody

[2018-10-11 11:19] #49 closed, assigned to nobody

[2018-10-11 11:26] PLanB2008 commented on #36
Should be fixed in  ce361bc12b6c5be79014fde0ede930f9ed50c0b4

@zefanja , could you give it a try? I'll create a deb package from the current commit for you to test.

EDIT: just uploaded linuxmuster-webui7_1.0.18-41_all

[2018-10-11 12:07] zefanja opened #52 "Data in initial setup is lost, when you go back"
When you go back in the initial setup (e.g. to change a typo) all the data is gone and you have to enter everything again.

![peek 2018-10-11 19-04](https://user-images.githubusercontent.com/708888/46802884-e79ef200-cd88-11e8-9bb0-7cb8211dee7e.gif)

[2018-10-11 12:12] zefanja commented on #36
Fixed, thanks.

[2018-10-11 12:12] #36 closed, assigned to nobody

[2018-10-11 12:15] zefanja opened #53 "Spinner is showing in Session Module as root user"
Spinner should disabled. Causes higher CPU load on the client

![auswahl_191](https://user-images.githubusercontent.com/708888/46803286-ec17da80-cd89-11e8-8d10-8d8c541d3ca6.png)

[2018-10-11 12:16] zefanja opened #54 "Print Passwords as root user results in error"
When I click on "Print Passwords" as root user, I get this error:

[code]

[2018-10-11 12:21] zefanja opened #55 "Linbo Module - UI bugs"
I created a new start.conf from a template and gave it a name ("Ubuntu"). The name is not displayed in the detailed settings, just "gruppe". When I create a new start.conf (empty, not a template) it works.

There are also JSON data displayed in the partitions screen.

![auswahl_193](https://user-images.githubusercontent.com/708888/46803673-d8b93f00-cd8a-11e8-963b-47cc10bdd5c8.png)

[2018-10-11 13:45] PLanB2008 commented on #54
Well first and for all printing passwords as root isn't particularly supported.

The 'right' way of using the WebUI should be to login as a systemuser like global-admin.

Do you still have the user global-admin? Back then I implemented a fallback if root user is logged in for the printer module. In this case it'll take global-admin as the caller of the command.

Does the module work using a teache

[2018-10-11 14:22] zefanja commented on #54
Well, then there should be not "Print Passwords" if you login as root :) Or disable root login.

Also for the initial setup?

If I login with the global-admin I get this error (with no students and teacher users):

[code]

As a teacher it does work.

[2018-10-11 15:44] PLanB2008 commented on #54
Ya this is planned for the feature. For the current dev process it makes sense not to disable it but I agree, its kind of conusing in this state. Sorry for that.

No, not for the initial setup. At this point there are no systemuser so we need a unix user to authenticate. This is an documentation issue rather than a technical one.

This appears to be a bug. I'll have a look into this.

EDIT: Looks

[2018-10-12 08:36] #53 closed, assigned to nobody

[2018-10-12 08:44] PLanB2008 commented on #54
Okay, i've to ask further. Does the module work using another global-administrator? What about a school-administrator?

I don't exactly get the circumstances when this happens.

[2018-10-12 10:27] #41 closed, assigned to nobody

[2018-10-15 11:10] PLanB2008 opened #56 "User Sort in Session Module does not work"

[2018-10-15 11:15] PLanB2008 opened #57 "Last element in Session not showed properly, impossilble to klick submenu buttons"
![grafik](https://user-images.githubusercontent.com/26460239/46947794-4eb7f180-d07c-11e8-8609-2c6214c63031.png)

[2018-10-16 23:05] zefanja opened #58 "MAC addresses aren't saved properly in devices.conf"
If I add a new device in the webUI, the MAC address is saved without the `:` in `devices.conf`. This causes the DHCP server to fail.

[2018-10-22 15:40] cweikl commented on #13
Using WebUI Version 1.0.18-41 I have chosen docker, firewall-config and opsi, having forgotten to start the opsi VM. The setup is successful, but I only the the end of the log file in the WebUI and the the circle as a symbol for ongoing installation ist still turning. I cannot close the window. It is a bit confusing. Closing the browser and starting it agains brings me to the configured UI.

[2018-10-22 15:58] cweikl opened #59 "WebUI - Settings: SSL"
Having chosen the menue general -> settings in the WebUI. I ticket SSL activate, I haven chosen the SSL certificate generated during setup - apperently the wrong one -, saved the settings and restarted the panel.
No error warning and no access to the WebUI anymore.
Having found that the settings are saved in /etc/ ajenti/ config.yml I can reset them.

It would be helpful, if there could be any hin

[2018-10-22 16:09] cweikl opened #60 "WebUI: Several Menue items fail - linuxmuster-webui7 1.0.18-41"
Having chosen the menue option Global-Admins (user-management) I receive a warning indicationg a server error.
No JSON object could be decoded.

Request POST /api/lm/sophomorixUsers/globaladmins
Type ValueError

[2018-10-22 16:21] cweikl commented on #60
The same is true for all submenues in the menue "user management" and for the menue items "List Management - students list & lehrer-Liste", also for "Class Management - Passwörter drucken" and for both submenues for "school settings"

[2018-10-22 20:34] kiarn commented on #59
Hello @cweikl,

Thanks for your report, it is not a big deal to solve this ( I already have a solution ), but we have to modify ajenti-plugin-core for this.

[2018-10-22 20:40] kiarn commented on #39
Hello @zefanja ,

Thanks for your report. I searched a long time a solution for this issue, and I think it will be difficult to redirect to HTTPS with WebSockets. Wenn SSL is enabled, the server only decode SSL requests, and, as far as I know, it is not possible to listen to HTTP and HTTPS on the same port.

So, for the moment I didn't find a simple solution, but I will search further.

[2018-10-22 20:50] kiarn commented on #60
Hello @cweikl ,

First of all : do you have some users on your system ?
You can check it with :

`sophomorix-user -i`

[2018-10-23 00:01] zefanja commented on #39
One way to solve this would be proxy server, like nginx. Nginx could take care of all the redirection and also provide a nicer domain like _webui.domain.tld_

[2018-10-23 06:24] netzint commented on #39
We do not want that explicitly. If it has to go through a reverse proxy, then via the OPNsense. I see the problem as less tragic. Many web applications only listen to SSL. A shortcut or a 1 Click APP should help you better.

[2018-10-23 07:23] zefanja commented on #39
I understand that, but software should also be written to be easy to support. Maybe it's just me, but I fear that we will have many questions like "I can't access the webUI after installation anymore". There should be a solution for that.

Yes, and most of them redirect from HTTP to HTTPS :)

[2018-10-23 12:55] cweikl commented on #60
Hi @kiarn,
ok, I checked it with your proposed command. I receive an error message:
"ERROR: Connection to AD failed: No password found!"
There are some hints how to connect to AD.
I thought having done the setup with WebUI that AD has been configured.
Then I tried to create a new user administrator, but I receive an ERROR as samba-tool is unable to parse dn string.
/etc/linuxmuster/.secret/adminis

[2018-10-23 13:05] PLanB2008 commented on #60
Sound like a serious bug. Could you describe your steps from the beginning?
It seems something went wrong during the installation.

[2018-10-23 13:07] PLanB2008 commented on #55
Well the Json output is more or less a reminder to implement (user)configurable disk Types like mmcblk and nvme.

[2018-10-23 13:16] cweikl commented on #60
ok, I have done the following steps:

1. Imported the OVA VMs in XCP
2. Followed the steps in the github wiki to prepare these VMs for usage with v7
3. updated all VMs
4. rebooted all VMs
5. checked connectivity for internal and external network
6. configured a notebook to be part of the internal network
7. opend the browser (firefox) and used the URL: http://10.16.1.1:8000
8. I logged in with the

[2018-10-26 09:25] cweikl opened #61 "WebUI does not show up with MS Edge Browser"
I tried you login to the WebUI, but using MS Edge Browser does not show up any content of the WebUI, so I cannot see any login fields.
I am using win10 Pro N in a VM with updates installed (status yesterday).
Is this a know behaviour of the WebUI?

[2018-10-26 09:29] zefanja commented on #61
Any errors in the web console of the Edge Browser?

[2018-10-26 09:31] cweikl commented on #61
No, I only see a shaded column without content on the left side of the window.

[2018-10-26 09:32] zefanja commented on #61
So, no errors in the console (https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide/console)?

[2018-10-26 09:37] cweikl commented on #61
Ah, thanks for the hint.
In the console window I receive the following errors:
`DOM97011: Der Code auf dieser Seite hat die Zwischenspeicherung und das Vor- und zurücknavigieren deaktiviert.
Script1004: Expected ;
all.js (2143,22)
Script5022: [$injector:nomod]: Module core ist not available. ...
all.bendor.js (2056,11)`

[2018-10-26 09:44] kiarn commented on #61
Hello,
I've already solved it last week on a fork : https://github.com/ajenti/ajenti/issues/1117#issuecomment-427751808

[2018-10-26 09:48] cweikl commented on #61
ok, so with the next update of ajenti this will be fixed for all ?
Thanks

[2018-10-26 09:48] PLanB2008 commented on #61
Seems like this issue got fixed upstream and should be solved soon for everyone.

[2018-10-26 09:50] kiarn commented on #61
Yep, thanks, I didn't see it.

[2018-10-26 10:10] cweikl opened #62 "Linbo: Groups start.conf"
I have two start.conf files for two hardware classes. After running linuxmuster-import-devices, I do not get any errors. In the start.conf files I used previous definitions as I use them under v6.2.

For a Win7 group I can edit the group via WebUI. Habing changed the size of the windows partition I saved the changed with the webUI. Looking in the start.conf.win7 file in /etc/linuxmuster/linbo the

[2018-10-26 14:21] cweikl opened #63 "WebUI: Ajenti core 2.1.24 update to 2.1.25 available - fails"
I logged in the WebUI as a superuser. Under Plugins it is indicated, that an update of Ajenti Core to version 2.1.25 is available.

I clicked update everything on top the page and I receiven an error:

`Upgrading Ajenti: Failed erno 2 no such file or directory`

[2018-10-28 13:37] kiarn commented on #63
Hello @cweikl,

Yes, the file ajenti-update is missing, that's the reason.
It's not perfect, but here you can update manually with CLI :

    pip install aj -U
    systemctl restart linuxmuster-webui.service

[2018-11-11 11:05] kiarn commented on #63
Hello @cweikl,

Can you please show the output of
`ls /usr/local/bin/`
?

[2018-11-11 11:41] cweikl commented on #63
Hi @kiarn,

I have manually updated as you proposed above.
The output of /usr/local/bin is as follows:
`ajenti-client-ssl-gen
ajenti-panel
ajenti-ssl-gen
easy_install
easy_install-2.7
pip
pip2
pip2.7
wheel
`

[2018-11-11 11:50] kiarn commented on #63
Ok, thanks, we have to correct the setup process, which forgot to move ajenti-upgrade.

[2018-11-21 12:04] jeffbeck opened #64 "Exam collection foldername and structure"
When collecting an exam (multiple classes, 100 users),

the following data structure is favorited by the teachers that do such things:

Date-Name_of_session
    ├── class1
    │   ├── Lastname2_Firstname2_loginname_hostname
    │   └── Lastname_Firstname_loginname_hostname
    ├── class2
    └── class3

Very important is Lastname_Firstname instead of login_name.

Firstname/Lastname could be acsii-

[2018-11-21 12:07] PLanB2008 commented on #64
Sounds reasonable. I'm gonna try to implement it that way.

[2018-11-21 17:59] PLanB2008 commented on #56
fixed

[2018-11-21 17:59] #56 closed, assigned to nobody

[2018-11-21 18:00] PLanB2008 commented on #46
fixed

[2018-11-21 18:00] #46 closed, assigned to nobody

[2018-11-25 08:40] aloisr opened #65 "Anmeldung mit Großbuchstaben"
Hallo Andreas,

wie schon mündlich mitgeteilt. Man kann sich mit Großbuchstaben anmelden, danach geht aber nichts in der Webui.

Gruß

Alois

[2018-11-25 09:32] jeffbeck opened #66 "Passwordlisten drucken: sophomorix-print"
Please add a new butten to compile the tex files:

sophomorix-print ... --command pdflatex ..

To the existing command add: (this is the default and not really necessary)
sophomorix-print ... --command latex ..

[2018-11-25 10:10] netzint opened #67 "Resize Setup Window"
Resize the logging window:

![image](https://user-images.githubusercontent.com/10708981/48977847-a9446480-f0a2-11e8-94cd-df295c33f088.png)

[2018-11-25 17:10] kiarn commented on #39
I have had the confirmation today : it's not possible with gevent to split the different requests HTTP and HTTPS. The only way to do this is to install nginx or apache, and to let this run as a proxy_pass.

You can see the config file for nginx here : https://support.ajenti.org/knowledge-bases/5/articles/1129-ajenti-behind-nginx, it's quite the same way for apache.

[2018-11-25 17:10] #39 closed, assigned to nobody

[2018-11-25 17:12] kiarn commented on #61
@cweikl : does it work with the version 2.1.25 ?

[2018-11-27 08:17] jeffbeck opened #68 "debian pckage update of linuxmuster-webui7 on a not configured server needs to show information"
when you update linuxmuster-webui7 BEFORE linuxmuster-setup:

--> The postinstscript fails, because there is no password to connect to samba.

There should be:

1) a message what to to manually (in the webui package) like:
    Please run dpkg-reconfigure linuxmuster-webui7 after setup
2) Is this done by the linuxmuster-setup?

[2018-12-05 01:51] zefanja commented on #54
This is the output when I log in as school-admin:

[code]

[2018-12-06 13:38] #66 closed, assigned to nobody

[2018-12-06 15:19] PLanB2008 commented on #65
I created a fix for this and opened a pull request.
https://github.com/ajenti/ajenti/pull/1147

[2018-12-06 15:22] PLanB2008 commented on #62
Sorry for the late response.

start.conf are saved in the linbo directory like it was in 6.2 as well. This changed from ''/var/linbo/'' to ''/srv/linbo/''

[2018-12-06 15:59] PLanB2008 commented on #61
@kiarn this seems to work now, just tested 2.1.25
![peek 2018-12-06 16-53](https://user-images.githubusercontent.com/26460239/49595429-3bd4e580-f978-11e8-8f2f-c8b925d6a652.GIF)

[2018-12-06 15:59] #61 closed, assigned to nobody

[2018-12-06 18:27] #55 closed, assigned to nobody

[2018-12-06 18:30] PLanB2008 commented on #54
Well, if the output is correct, there are no students:
 {u'student': {u'COUNT': u'0'}},
Do you have added any students?

[2018-12-06 18:30] #28 closed, assigned to nobody

[2018-12-06 18:32] #64 closed, assigned to nobody

[2018-12-06 22:48] zefanja commented on #54
yes, there are no students.

[2018-12-07 09:00] PLanB2008 commented on #54
Okay, so we get closer. Could you add students and try again?

Seems like an easy bug and we just have to check if there are students before we try offering the class overview.

[2018-12-07 12:57] zefanja opened #69 "Can't add a student with unicode chars"
When I want to add a student, that has a unicode char (e.g. André) I get this error:

[code]

[2018-12-07 13:35] zefanja commented on #54
When I add a student, it works.

[2018-12-07 13:55] PLanB2008 commented on #54
Okay so in this case we've to check if there are any students first...

[2018-12-09 15:05] kiarn commented on #63
Corrected in Ajenti with ajenti/ajenti#1140
I think it can be solved through :

[code]

It worked for me.

[2018-12-09 15:13] kiarn opened #70 "File Upload"
Hello,

There is a minimal example of file upload in https://github.com/linuxmuster/linuxmuster-webui7/commit/e9a3577351875eea4b74f0b99e3099dcd4eb939d

I hope it helps.
Todo :

- set the upload path,
- handle the csv file ( Python or JS ? ),
- translation,
- add Drag&Drop support ( not a problem, I have a working example ).

There is although a PR for correcting this in the filemanager from Ajenti

[2018-12-10 10:55] kiarn commented on #59
Pull request here ajenti/ajenti#1149.

[2018-12-10 11:36] kiarn commented on #59
Merged in Ajenti.

[2018-12-10 11:36] #59 closed, assigned to nobody

[2019-01-09 16:28] cweikl opened #71 "WebUI7: Can't show up devices"
I installed the WebUI (Version 1.0.23-1) on a lmn7 server (linuxmuster-base7 Version 7.0.24). The server has some users I have imported some devices via console which are working with linbo.
Working as user root in the WebUI an klicking the menue "Devices" I receive an server error indicating that there is likely a big (GET /api/lm/devices).

Chris

[2019-01-09 16:35] cweikl opened #72 "Can't define School-Admins"
In the user-management I clicked the option School-Admins. As I do not have a schol admin yet, I wanted to add one.
Having clicked this option, I receive a server error.
![error-adding-school-admin](https://user-images.githubusercontent.com/16056720/50919262-9dd6ae00-1442-11e9-8eb6-6a9137f907b7.png)

I receive the same error when trying to do this as global-admin.

[2019-01-09 16:39] cweikl opened #73 "Global-Admin: Can't set custom password"
In the menue Global-Admins, I clicked the option password -> custom password for the global-admin Admin. Then I indicated a new password, clicking OK leads to s server error (Exception, post /api/lm/users/password).
Please, find attached a screenshot of the error:
![error-set-global-admin-custom-password](https://user-images.githubusercontent.com/16056720/50919161-551ef500-1442-11e9-93bd-f8be568b7

[2019-01-09 17:00] zefanja commented on #71
Could you post the error message or a screenshot of the error, please?

[2019-01-09 17:07] PLanB2008 commented on #71
First things first:
There is a general problem we've to address in the documentation and after the installation process:

Working in webui as root is a bad idea. You should definitely use the created global-admin account. We're looking into the option of disabling root login for the webui.

Anyway, the reason for your problem seems to be different. I assume there's something wrong  either with the

[2019-01-09 18:08] cweikl commented on #71
Ok, I should use global-admin.
As I logged in again as root as I wanted to make a screenshot of the error, now the devices are shown.
Mmh, strange.
Please find attached the devices .csv
[devices.zip](https://github.com/linuxmuster/linuxmuster-webui7/files/2742032/devices.zip)

[2019-01-14 18:08] PLanB2008 commented on #73
During the meeting last weekend we figured out there are a lot erros like this. This is based on a changed behaviour in communication between sophomorix and  webui.

I'll fix the issue this week.

[2019-01-14 20:14] kiarn commented on #73
In lm_common/api.py :

    jsonS = subprocess.Popen(sophomorixCommand, stdout=subprocess.PIPE, stderr=subprocess.STDOUT, shell=False)

    while jsonS.poll() is None:
        output = jsonS.stdout.readline()
        file.write(output)

This will log continuously the complete output of sophomorix in your log file. Is that what you need ?
But it's not in json format.
What do you need to extract from

[2019-01-15 14:54] PLanB2008 commented on #73
Well its a little more complicated.

The output sophomorix provides us in the error level is not clean. There are also some error messages mixed up in it. So I look for #JSON begin and #JSON end strings and split it so I only receive the json string.

[2019-01-15 21:38] kiarn commented on #73
Hello @PLanB2008 !

I got both dict above with one single command ( add global-admin in WebUI ), and I extract both of these dicts between # JSON-begin and # JSON-end as you said.

When more than one dict ( between # JSON-begin and # JSON-end ) come as output from a sophomorix command, would you like to merge these ?

[2019-01-17 14:25] PLanB2008 opened #74 "Setup Process"
When something goes wrong during the setup the webUI stays in installation mode without possibility to break out.

![grafik](https://user-images.githubusercontent.com/26460239/51324865-0be72a80-1a6c-11e9-8f55-b4585f1a1c15.png)

[2019-01-18 20:06] HappyBasher opened #75 "linuxmuster-webui7 1.0.41-1: config.yml does not exist"
During setup version 1.0.41-1 produces following output:
[code]

[2019-01-19 22:00] kiarn commented on #73
Hello @PLanB2008 !

I've done a commit for this in a new branch soph-comm : 0e5b187229dcf8ca6a005f13dd6be508cb3847cf
It seems to work on my server.

Problem was :

- the string '# JSON-*' was sometime on the same line as the dict,
- null has to be a string 'null', otherwise there's a syntax error.

Please try this and I tell me if it solves this.

[2019-01-19 23:23] kiarn commented on #75
Hello @HappyBasher !

What you are mentionning is weird : the file `/etc/linuxmuster/webui/config.yml` is in a test branch `config-linuxmuster` in which we are trying to split the config files.
This error is thrown through the file `/usr/lib/linuxmuster-webui/etc/create_aj_cfg.sh`, and this version should not be in the alpha-package yet.

[2019-01-20 00:28] zefanja commented on #75
I got the same error. Workaround is to create the file by yourself.

This error is thrown through the file /usr/lib/linuxmuster-webui/etc/create_aj_cfg.sh, and this version should not be in the alpha-package yet.

Looks like someone packaged exactly this branch for 1.0.41...

[2019-01-20 12:25] PLanB2008 commented on #75
I fixed some issues in the testing branch and merged it to alpha branch from which on we build our packages.

The packages worked for me and I was able to login for new installations. I'll look into this tomorrow. I assume theres just a minor problem with the hook script we run on package upgrades.

[2019-01-20 12:37] kiarn commented on #75
The issue is following : postinst script does the job for a new install, but not split the actual config file for an existing installation. In any case of update without `/etc/linuxmuster/webui/config.yml`, this error will be thrown.

The question is : there is yet not so many existing installations of linuxmuster-webui7, and this error occurs because a major change in the config file behaviour, d

[2019-01-20 13:54] kiarn commented on #75
This python script may eventually help :

[code]

It's easier to parse yml with python as with bash ...

[2019-01-20 22:24] zefanja commented on #75
For me it was fine to create/touch the file (empty) and the folder and re-run the setup / reconfigure webui.

[2019-01-20 22:35] kiarn commented on #75
The goal is to hide the special data from linuxmuster config ( bindpw, ... ), which appear on the source code from any page.
With a touch of an empty config file, this may let the setup run fine, but your bindpw will in the future update of ajenti again appear on the default page.

[2019-01-20 22:38] zefanja commented on #75
Aren't the config files re-created on every setup? AFAIK the bindpw is not in the source code anymore on my test-system.

[2019-01-20 22:44] kiarn commented on #75
I did a patch in the postinst process for this, but this was not a good solution, we have to split the config ajenti/linuxmuster for more security and flexibility.
As I said, the next update of ajenti will erase this patch, and if the linuxmuster dict is still in `/etc/ajenti/config.yml`, it will appear on the source code.

[2019-01-21 08:48] PLanB2008 commented on #75
Thats right, I didn't pay attention to this, my bad. I dont think there are that many installation out there currently. If your python script work, and we have a safe way to determine if we have to update an old installation we could implement it.

On the other hand it isn't a big hassle to split the information by hand for these few installations. Focus is a safe and clean installation for beta t

[2019-01-21 09:10] kiarn commented on #75
Yep, I would do so. In case of an empty ` /etc/linuxmuster/webui/config.yml`, it will not work.
I pushed right now the python script with little modifications.
It worked on my test server, I hope it will work overall.

Merge alpha + config_linuxmuster ?

[2019-01-21 15:28] PLanB2008 commented on #75
Okay I merged the changes back to alpha branch and uploaded a new debian package. (linuxmuster-webui7_1.0.42)
@zefanja could you please check if this works for your installation? (You should delete your empty /etc/linuxmuster/webui/config.yml first)

[2019-01-21 17:47] kiarn commented on #75
Ok, thanks. Can I now delete the branch config-linuxmuster ?

[2019-01-21 17:53] #38 closed, assigned to nobody

[2019-01-22 05:37] zefanja commented on #75
Now I get this error:

[code]

[2019-01-22 06:27] kiarn commented on #75
Is the linuxmuster part still written in `/etc/ajenti/config.yml` ?

[2019-01-22 07:35] zefanja commented on #75
No

[2019-01-22 08:05] kiarn commented on #75
That's the reason : if the config file from ajenti does not contain the linuxmuster part, it can not create the new config file.

[2019-01-22 17:07] PLanB2008 commented on #67
Fixed

[2019-01-22 17:07] #67 closed, assigned to nobody

[2019-01-22 17:10] PLanB2008 commented on #34
Fixed

[2019-01-22 17:10] #34 closed, assigned to nobody

[2019-01-22 17:16] PLanB2008 commented on #75
I'll delete it :)

[2019-01-25 14:54] HappyBasher opened #76 "linuxmuster-webui7 (1.0.44-1) upgrade fails"
Package upgrade of linuxmuster-webui7 (1.0.44-1) fails:

[code]
Previous version was 1.0.41-1.

[2019-01-25 15:01] kiarn commented on #76
Hello @HappyBasher ,

Please run ( with right PATH ) :

`bash /usr/lib/linuxmuster-webui/etc/create_aj_cfg.sh`

and then upgrade.

[2019-01-25 15:30] PLanB2008 commented on #76
I believe this is a special and rare case.

@HappyBasher did you try to update the linuxmuster-webui package on a host which was prepared (lmn-appliance or whatever) but did not run the lmn-setup?

There were some changes splitting lmn configs from ajenti/config.cfg to webui/config.cfg. This is done by the installation process.

If there is no webui/config.cfg we assume it is an old installation a

[2019-01-25 17:25] HappyBasher commented on #76
@kiam
After running the script the package upgrade was successfull. Script output:
[code]

[2019-01-25 17:29] HappyBasher commented on #76
@PLanB2008
Yes. As recommended I upgraded the appliance before setup when the issue occurs. I think this should be fixed as it unsettles customers.

[2019-01-25 20:26] PLanB2008 commented on #76
Now I'm confused...
Either you've a fresh, clean installation - then the package should work as expected , or you have a running installation where ajenti/config.yml contains the linuxmuster settings and you don't have a linuxmuster/config.yml - then postinstall of linuxmuster-webui shoudl trigger the script @kiarn  mentioned.

The only case I see where this fails is if you have a lets say 'old ap

[2019-01-25 21:41] kiarn commented on #76
I also think it's only a special case.
I just add a warning about it with a try ... except, and the update should work.
I'm also interested to know in which context this error occurs.

[2019-01-26 04:55] zefanja commented on #76
This will always happens, because the script checks if the directory exists and then tries to create it.

[code]
Just use the `-p` option of `mkdir` and skip the test.

[2019-01-26 08:33] kiarn commented on #76
Right !
Thank you, I don't what I was thinking about, it's a dummy error ...
It's done with 3e145ff.

[2019-01-28 10:04] kiarn commented on #69
Is it still a problem ?

I cannot reproduce on my system :

![2019-01-28_11-02](https://user-images.githubusercontent.com/10401079/51828722-80339080-22ec-11e9-89ab-104ce6ee3d52.png)

[2019-01-28 10:59] kiarn opened #77 "Sophomorix config files"
Hello,

I've found some old path for sophomorix, and i've corrected them in dfad5b5.
In my installation, i don't have the files /etc/linuxmuster/sophomorix/user/quota* and other config files from sophomorix, but i'm pretty sure it's because i'm testing / deleting in all ways.

I didn't find how to generate these ( not in linuxmuster-setup, linuxmuster-prepare or debian/postinst ).
How should it be

[2019-01-28 11:48] jeffbeck commented on #77
The content of quota.txt/mailquota.txt... is saved with sophomorix commands in Active Directory (per user, class,project, ...) or in school. conf for roles

quota.txt
mailquota.txt

are obsolete in lmn7

[2019-01-28 12:28] zefanja commented on #69
Yes, still a problem.

Steps to reproduce:
* clean system / fresh install
* add a student with unicode char in the webUI
* error

This is the request: `POST /api/lm/users/students-list?encoding=ASCII`

Looks like the charset detection is wrong. Encoding is set to `auto` in `school.conf`.

[2019-01-28 15:01] kiarn commented on #77
@jeffbeck : ok thanks.
The plugin lm_quotas needs some updates then.

[2019-01-28 19:31] jeffbeck commented on #69
The auto detection only works if you use real names (firstnames, lastnames).
If you type in arbitrary unicode characters ist simply a guess.
Maybe I can improve the guess.
Pleas write back the output of the following command to make sure I understand what you are doing.

and please try to cut and past the file.

sophomorix-check  --analyze-encoding /path/to/students.csv

[2019-01-28 19:35] jeffbeck commented on #77
'hardisk' quota have changed from partition quotas to smb-share(=school) quota.
So there is a change,
For more info see:

https://github.com/linuxmuster/sophomorix4/wiki/Quota

[2019-01-28 23:06] zefanja commented on #69
I am using a proper name (André Mustermann), but it looks like its a webUI issue and not a sophomorix. I can't even save an entry with unicode characters to the file. Here is a screenshot of the error:

![grafik](https://user-images.githubusercontent.com/708888/51872436-faffb880-238b-11e9-8d8f-a218634a5559.png)

[2019-01-28 23:24] zefanja commented on #69
`sophomorix-check --analyze-encoding /path/to/students.csv` (on empty students file, because I haven't added a student yet):

[code]

[2019-01-29 06:53] jeffbeck commented on #69
This part is tricky for the the webui and not top priority.
I hope Andy does things that are more urgent for the beta

[2019-01-29 07:02] zefanja commented on #69
I just report bugs :)

When I'm a new user and want to add my first student through the webUI and I can't because of an encoding issue...

From my point of knowledge default encoding should be utf8 if the file is empty, otherwise use the encoding of the (imported) file or utf8 for everything (writing / saving). But you know this better.

[2019-01-29 07:58] PLanB2008 commented on #69
Ya this is kind of tricky.

This is how it works at the moment:

WEBUI looks for the encoding configuration, if this is set to auto it uses sophomorix analyze to get the encoding.
If the file is empty youll get ASCII I guess. In this case it cannot write unicode chars.

Using the upload button it is supposed to analyze the encoding first and render the student data afterwards properly (not fully i

[2019-01-29 08:07] PLanB2008 commented on #69
Ya this is kind of tricky.

This is how it works at the moment:

WEBUI looks for the encoding configuration, if this is set to auto it uses sophomorix analyze to get the encoding.
If the file is empty youll get ASCII I guess. In this case it cannot write unicode chars.

Using the upload button it is supposed to analyze the encoding first and render the student data afterwards properly (not fully i

[2019-01-30 08:07] jeffbeck commented on #69
For analyzing an empty file, the result could be utf8, no problem.

I will open an issue for that in sophomorix4

[2019-01-30 20:22] kiarn commented on #70
@PLanB2008  : can be closed ?

[2019-02-02 01:37] zefanja commented on #69
I did some further testing. This is not a problem of an empty file only. When I only have "non-unicode" students in the students.csv and I want to add one with a special letter (like é) - the same error happens, because sophomorix detects ASCII.

Is there a reason why the files should be saved in different encodings? Why not just use utf-8 by default? Isn't the encoding detecting not only importan

[2019-02-11 16:54] #65 closed, assigned to nobody

[2019-02-12 15:20] #70 closed, assigned to nobody

[2019-02-12 15:23] PLanB2008 commented on #68
Can you provide a error message?

[2019-02-12 15:23] PLanB2008 commented on #63
@kiarn this should be solved, right? Close?

[2019-02-12 15:27] #52 closed, assigned to nobody

[2019-02-12 17:43] kiarn commented on #63
It's solved : the file requirements.txt specifies ajenti in version 2.1.26 which solves this, so it's good for all new install. We can manually solve the other : https://github.com/ajenti/ajenti/issues/1143

[2019-02-12 17:43] #63 closed, assigned to nobody

[2019-02-14 09:48] PLanB2008 commented on #13
I added a summarize page before the installation process. During the provisioning process theres nothing we can do to stop the installation (similar to terminal).

Maybe we could add a for the external services, check if they are reachable before start real provisioning process...

[2019-02-14 09:49] PLanB2008 commented on #14
I'll close this issue because its just missusing the interface. You can always go back and for so I don't see a point in limiting this.

[2019-02-14 09:49] #14 closed, assigned to nobody

[2019-02-14 09:52] PLanB2008 commented on #15
Fixed with  60c6c2a28cf9b13c03eaabc4d03c091e873b0e46

[2019-02-14 09:52] #15 closed, assigned to nobody

[2019-02-14 09:53] PLanB2008 commented on #23
fixed in 078477c23cb6a3da73cddbe93f4538da648dbccf

[2019-02-14 09:53] #23 closed, assigned to nobody

[2019-02-14 10:14] PLanB2008 commented on #26
Addressed in 2e229ec619106f94b987fdc1b2e683fc06c3f960

[2019-02-14 10:14] #26 closed, assigned to nobody

[2019-02-14 10:15] PLanB2008 commented on #44
@kiarn do you see a fix for this?

[2019-02-14 18:03] kiarn commented on #44
I think 8062516 should solve this.

To be sure, please try on your own testserver the following commands :

        cd /usr/local/lib/python2.7/dist-packages/ajenti_plugin_core
        sed -i 's/true/false/g' resources/js/core/services/feedback.service.es
        /usr/local/bin/ajenti-dev-multitool --build

Any feedback welcome !

[2019-02-18 08:43] kiarn commented on #77
Hello @jeffbeck

I think I don't get it : the user "de" has a file which weight is 60MB, and with quota, I get :

    $ quota -wvuls de
    Disk quotas for user LINUXMUSTER\de (uid 10015):
         Filesystem   space   quota   limit   grace   files   quota   limit   grace
          /dev/sda2  62268K   1605M   2006M               2    822k   1028k

But with sophomorix-quota, I get :

[code]
With th

[2019-02-18 08:51] kiarn opened #78 "Strong password"
Hello,

As I can see, the rules for a strong password are :

![2019-02-18_09-45](https://user-images.githubusercontent.com/10401079/52938456-011cff80-3362-11e9-81ff-efb9cf221045.png)

Are these rules still ok ? ( I would recommend min 8 chars, but I have to change the regexp for this ).

@jeffbeck : is the list of valid char right ? Can't we put digits ?

[2019-02-18 10:47] PLanB2008 commented on #78
Hey @kiarn ,
I just missed the digits in the discription.

The valid char regEx is

    var regExp = /^[a-zA-Z0-9!@#§+\-$%&*{}()\]\[]+$/
, so digits ARE allowed.

[2019-02-18 10:49] PLanB2008 commented on #69
You could be right zefanja, didn't think about it this way.
@jeffbeck what do you think?

[2019-02-18 10:59] kiarn commented on #78
Yep thanks, I should have seen this.

I just had password and quota ( not finished ) on the landing page. I think a direct access to change the password is necessary for the majority of the user, but we can remove this if the other dev are not ok with this :

![2019-02-18_11-57](https://user-images.githubusercontent.com/10401079/52946596-a7720080-3374-11e9-9b9a-45e1bca44cc1.png)

[2019-02-18 12:24] kiarn commented on #73
We can now set custom password and see first password, there still was an indent problem corrected in 076fda2.

I would recommend to change the text "Show password" into "Show first password", it may confuse some user.

[2019-02-18 15:02] kiarn commented on #73
After a couple of tests, I found out that the Json-Dict returned by sophomorix seems to appear in stderr and not in stdout, that's why there are mixed results : the python script scan stdout and stderr.

If it's always the case for all sophomorix command with option `-jj`, it's possible to reduce and optimize a little the python code for `lmn_getSophomorixValue()`.

@jeffbeck : can you please conf

[2019-02-20 09:41] PLanB2008 commented on #78
I would suggest not to have  the Password change option one the landing page but a button which leads to the existing page, this would keep the landing page cleaner.
In addition changing password is not a every day task so I think having a button which leads to the password change page would be sufficient, what do you think?

[2019-02-20 09:52] PLanB2008 commented on #73
Yes thats right, the json output always appear in error level.
Only problem is: the output is not clean json output. Erros appear as well in the output

[2019-02-20 10:10] kiarn commented on #78
Good suggestion, it's cleaner with only a button, and simple for all user. I can modify this.

[2019-02-20 10:13] kiarn commented on #73
Ok, thanks.

I've done a filter to correct this in the branch [soph-comm](https://github.com/linuxmuster/linuxmuster-webui7/tree/soph-comm), did you try it or have you some others errors with it ?

[2019-02-20 12:40] PLanB2008 commented on #44
Hi @kiarn this does not work because we do not install dev-multitool as an requirement.

[2019-02-20 12:56] kiarn commented on #44
I'm afraid this will be a little more complicated then, I have to test it further.

[2019-02-20 14:37] PLanB2008 commented on #73
I still have to give it a try. I hope I manage to test it today.

[2019-02-20 15:20] jeffbeck opened #79 "quotaangaben ohne Einheit MiB"
Bei den Quotaangaben feht die Einheit

[2019-02-20 15:31] jeffbeck opened #80 "Benutzerupdate mit Fehlermeldung"
Wenn bei einem Vorhandenen Schüler
1) die Klasse verändert wird
2) Speicher und Prüfen
3) beim umsetzen kommt der Fehler: sophomorix-move returned error

sophomorix-move gibt es nicht mehr
Der Befehl heisst nun sophonmorix-update

Auf Konsole tut es.

[2019-02-20 15:34] jeffbeck opened #81 "Erstpasswort statt Passwort"
Bei anzeigen der Erstpassworts der Schüler muss Erstpasswort stehen statt Passwort

[2019-02-21 12:58] zefanja commented on #15
In the latest version in `https://.../view/lm/init/school` input validation is not working if there is no input. It validates only if you enter something.

Error in the console: `TypeError: _this2.ini is null`

[2019-02-21 13:08] zefanja opened #82 "Error after setup: plugin failed to load"
When I finished the setup, and click "Close" on the last dialog, I get this error (otherwise blank page):

[code]
The console logs:
[code]

[2019-02-21 13:10] zefanja commented on #37
In the latest version its "Country" again (instead of Language).

[2019-02-21 20:37] #81 closed, assigned to nobody

[2019-02-23 08:50] #78 closed, assigned to nobody

[2019-02-23 10:10] #73 closed, assigned to nobody

[2019-02-23 10:11] #76 closed, assigned to nobody

[2019-02-23 10:11] #75 closed, assigned to nobody

[2019-02-23 10:59] kiarn commented on #71
Hello,

I tried your devices.csv on my installation, and there was no error. Is it still a problem ?

[2019-02-23 11:10] #77 closed, assigned to nobody

[2019-02-24 11:37] kiarn commented on #11
Hello,

[Ajenti](http://ajenti.org/) is distributed under MIT license AKA [License X11](https://en.wikipedia.org/wiki/MIT_License). From what I understand, the MIT License is more permissive than the GPL 3.0, mainly because of copyleft.

But, as seen of the official site of the FSF, [GPL 3.0 and MIT](https://www.gnu.org/licenses/license-list.en.html#X11License) seem to be [compatible](https://www.

[2019-02-24 12:38] zefanja opened #83 "Question: Students Login"
Currently it is not possible to login as student. Is this disabled temporarily or should students not log in to the webUI?

[2019-02-24 13:29] zefanja commented on #11
Can't we just skip this screen? Maybe add a about page somewhere with infos for version, licence, ...

[2019-02-24 18:43] cweikl commented on #71
I tested to import my device list by using WebUI (installed linuxmuster-base 7.0.31 and linuxmuster-webui7 1.0.56-1) again. I accessed the WebUI as the global-admin and then I saved & imported this device list. There were no errors anymore.
Closed.

[2019-02-24 18:43] #71 closed, assigned to nobody

[2019-02-24 19:02] cweikl commented on #72
Now, testing it with linuxmuster-webui7 1.0.56-1 as global-admin, I still receive an error.
![bildschirmfoto vom 2019-02-24 19-58-09](https://user-images.githubusercontent.com/16056720/53303804-fdf8a680-386e-11e9-8fc2-458dfd355869.png)

[2019-02-24 19:44] cweikl commented on #62
Yes, it works as you indicated. The new directory for linbo is now /var/linbo.
All config-files are saved in this directory and changes are definitely saved.
It works. Sorry for any confusions.

[2019-02-24 19:44] #62 closed, assigned to nobody

[2019-02-25 10:20] kiarn commented on #44
Solved in the next release from Ajenti https://github.com/ajenti/ajenti/commit/4b8394fe6c00bce1145c40727fb1aecbee25633f
See https://github.com/linuxmuster/linuxmuster-webui7/blob/alpha/usr/lib/linuxmuster-webui/plugins/lmn_common/resources/js/module.coffee#L15

[2019-02-25 10:20] #44 closed, assigned to nobody

[2019-02-25 12:04] PLanB2008 commented on #83
Currently we do not have plans allowing students to login via WEBUI.

[2019-02-25 12:04] #83 closed, assigned to nobody

[2019-02-25 12:08] zefanja commented on #83
Ok, thanks for the clarification. Do you think there should be a hint or a better error message when a student tries to login? Currently it says "Could not authenticate" or something like this.

[2019-02-25 13:09] PLanB2008 commented on #11
I would at least keep it as a welcome screen.

[2019-02-25 13:30] kiarn opened #84 "Mixed translations workflow"
https://github.com/linuxmuster/linuxmuster-webui7/blob/f1280c3ce065299195227ba067fbd78f611a98fa/usr/lib/linuxmuster-webui/plugins/lmn_session/resources/partial/session.html#L52

@PLanB2008 : this line mix the translation filter and the use of the angular-translate module.
What should we use in priority in this case ?

I would suggest angular-translate.

[2019-02-25 13:35] kiarn commented on #79
Hello @jeffbeck

Do you mean here in schoolsettings ?

![2019-02-25_14-34](https://user-images.githubusercontent.com/10401079/53340965-8ed09000-390a-11e9-9d4e-79ce99175233.png)

[2019-02-25 14:52] jeffbeck commented on #79
Yes. (Cloudquota is correct: percent)
If you can grep in your code, and quota appears at other places, change there as well.

Careful: The numbers are in MiB not MB

See:

https://de.wikipedia.org/wiki/Byte#Vergleich

[2019-03-04 18:01] #79 closed, assigned to nobody

[2019-03-04 18:02] kiarn commented on #79
Hello,

I've done it, but the units are hard-encoded. A better way to do this would habe been to convert automatically, but I'll do it later.

[2019-03-07 08:08] PLanB2008 commented on #84
You're right. I agree with your suggestion. I'm gonna update it in a minute.

[2019-03-07 14:45] #84 closed, assigned to nobody

[2019-03-14 09:16] HappyBasher opened #85 "Additional linbo start.conf options for opsi"
The linbo module should handle two more linbo start.conf options to control opsi product actions after sync:

- RestoreOpsiState = yes|no
- ForceOpsiSetup = \<comma separated list of opsi product ids\>

Example:
[code]
If _RestoreOpsiState_ is set to _yes_ after the linbo sync the opsi product state of the client will be restored to the state before the sync.
If a comma separated opsi product id l

[2019-03-14 18:11] HappyBasher commented on #85
See [related linbo issue #107](https://github.com/linuxmuster/linuxmuster-linbo/issues/107).

[2019-03-14 18:22] HappyBasher commented on #85
See [start.conf example file](https://github.com/linuxmuster/linuxmuster-linbo/blob/2.3.44/files/lmn7/srv/linbo/examples/start.conf.win10-opsi).

[2019-03-23 15:33] #11 closed, assigned to nobody

[2019-03-23 16:31] RolandBBerlin opened #86 "LINBO-Group Default TFTP set to "10.16.1.1" despite different server address"
When creating a new LINBO group the default value for TFTP Server is set to "10.16.1.1", despite the server having the address "10.0.0.1". It was selected "start.conf.win10" on the Create-Button

[2019-03-24 07:20] jolly-jump commented on #69
Hi, also teacher,

the simplest documentation does not work, since I only want to add a single teacher user with äöü..

cheers, Tobias

[2019-03-24 08:07] zefanja commented on #69
I should work if you add a teacher manually in the techers.csv with a unicode character. The webUI checks the encoding of the *.csv files before saving it. Adding a unicode character in the *.csv should "fix" it.

[2019-03-24 08:16] RolandBBerlin opened #87 "Name of school during setup not reflected in School name (Print data)"
During Setup a name for the school was entered. However, when opening administrative webui at school data the name "Default School" is shown and must be changed then.

[2019-03-24 08:45] RolandBBerlin opened #88 "Error on device import is not reflected in finish message shown"
On errors in device list (for example duplicate IP address) the import of devices finishes without any indication of an error - the finish message is green. Only when opening "details" the error is shown.

[2019-03-24 08:49] jolly-jump commented on #69
Hi.
Yes, but it is supposed for the simple case: add a teacher to the webui, which is not possible at the moment.
If I set the encoding to UTF-8 in the WEbui than add  a teacher, even if it does not contain any äöü, it does produce an browser console error, not the erro dialog.
see attached.

[2019-03-24 08:49] jolly-jump commented on #69
![Screenshot at 2019-03-24 09:44:12](https://user-images.githubusercontent.com/2824334/54877087-24801200-4e1a-11e9-9fac-3c6b97daa460.png)

now the upload

[2019-03-24 08:54] #88 closed, assigned to nobody

[2019-03-24 09:06] jolly-jump commented on #74
the current documentation says: "restart over with clean appliances" this is the most radical workaround

[2019-03-24 09:08] jolly-jump commented on #13
see #74, similar

[2019-03-24 09:13] jolly-jump opened #89 "fifth field for students ID missing"
input for students.csv could be:
10a; fray; kathrin; 1.1.2001; randomID-from-the-schluverwaltung01;
10a; fray; Kondoleza; 1.1.2001; randomID-from-the-schluverwaltung01;

does not exist so far

[2019-03-24 10:19] kiarn commented on #86
Related to https://github.com/linuxmuster/linuxmuster-base7.

[2019-03-24 10:30] RolandBBerlin opened #90 "First Setup ignores language selection"
On first start of webui the setup wizard asks for a language. However, the setup continues in english, even if "de" was selected.

[2019-03-24 10:34] RolandBBerlin opened #91 "End of setup wizard does not reload on "Close""
The Final message of the setup wizard informs, that on close the webui will reload the secure webui. However, a message is shown "Restart Webui" without reloading the web page.

[2019-03-24 16:42] #89 closed, assigned to nobody

[2019-03-24 21:21] jolly-jump commented on #89
thx

[2019-03-24 21:35] jolly-jump commented on #91
True, happens to me too.

The idea would be to load a different URL, actually. Before: http://10.0.0.1:8000, after: https://hostname.domain:8000

[2019-03-25 10:59] #90 closed, assigned to nobody

[2019-03-25 13:39] #85 closed, assigned to nobody

[2019-03-25 15:56] kiarn commented on #82
Hello @zefanja,

There's many possible reasons for this. But first : what browser did you use for this test ?

[2019-03-25 16:18] kiarn commented on #58
Hello @zefanja

Is it still actual ? Do you have a example of a bad entry ?
I cannot reproduce this.

[2019-03-27 11:28] PLanB2008 commented on #87
Well these are different values. The one provided during the setup process is used to create the certificate. So this is kind of a global name. The name configured in the settings dialogue represents the value  of the  SCHOOL_LONGNAME attribute in default-school/school.conf
On the other hand, from a user perspective I agree with you.

@jeffbeck @HappyBasher

What do you think? I suppose we agree t

[2019-03-27 11:30] PLanB2008 commented on #91
This would only work once the administrators client pc is using the LMN server as a DNS server. At this state we can't assume this.

It should be possible just to redirect from  http://10.0.0.1:8000 to https://10.0.0.1.8000 but we have to debug this a little more.

[2019-03-27 11:36] PLanB2008 commented on #86
created issue in linuxmuster-base
https://github.com/linuxmuster/linuxmuster-base7/issues/69

[2019-03-27 11:40] PLanB2008 commented on #68
I assume this is related to sophomorix-ui ? We could check if setup is done before we try to run sophomorix-ui.

Would this solve the problem?

[2019-03-27 12:26] kiarn commented on #91
Hello @PLanB2008 ,

I have already a solution for this, but not already pushed because I wanted to test further after the [hostname/servername problem have been resolved](https://github.com/linuxmuster/linuxmuster-base7/issues/67).

The problem is the following : when webui restart and serve https instead of http, then is the used websocket dead, and any command after the restart will be ignored.

[2019-03-27 12:28] kiarn commented on #86
Duplicate from https://github.com/linuxmuster/linuxmuster-base7/issues/66 and resolved today from @HappyBasher.

[2019-03-27 12:28] #86 closed, assigned to nobody

[2019-03-27 20:14] RolandBBerlin opened #92 "On first setup country selection 'de' gets replaced by 'da' on confirmation and setup"
After setting a language on the initial screen, on the second setup a country must be selected for the school.

On the final confirmation screen, however, country "da" is shown. After the setup the language of the interface is set to "da" (Danish). When instead of confirming the setting, the "Back"-button is pushed, the first screen still displays "de" as language, however the second screen shows

[2019-04-04 07:43] HappyBasher opened #94 "Cups printers"
Cups printers do not show up in the admin device management.

To reproduce create a cups pdf printer with the cups web interface.

[2019-04-04 07:57] HappyBasher opened #95 "Teacher cannot assign project users"
There is no possibility for a teacher to assign project users in the webui.

[2019-04-05 12:36] #94 closed, assigned to nobody

[2019-04-05 13:08] kiarn commented on #92
Hello @RolandBBerlin and thanks for your report.
I tried many times the setup wizard with many languages, and I'm not able to reproduce this, I think I need more informations about this.

Are you testing with the last package or with the last commit on git ?
Browser ? Empty cache in browser ?

[2019-04-08 18:06] HappyBasher commented on #94
Hi kiarn!
Maybe it was not so a good idea to get the printers from printers.conf because we need an ad group anyway. I'd like to know what the others think. However, printer entries in devices.csv cannot cover the cases where a printer has multiple queues on the cups server.
Regards, ts

[2019-04-08 19:35] kiarn commented on #94
Hi @HappyBasher

Yes, I'm aware of it, that's why I asked for a complete method on discourse.
It's only a temporary fix to only show up the printers, it's not a problem to fix this later.

[2019-04-10 12:24] kiarn commented on #95
Hello @HappyBasher

For a teacher, it is possible under Groupmembership --> clic on group --> edit member :

![project1](https://user-images.githubusercontent.com/10401079/55878296-6f30b680-5b9c-11e9-87ec-12e6fab71fbf.png)

and then

![project2](https://user-images.githubusercontent.com/10401079/55877890-7dca9e00-5b9b-11e9-8105-a5f32af6e6e9.png)

But, I think there's still some fix to do :

1. glo

[2019-04-27 12:50] zefanja opened #96 "Server Error when logging in (with global-admin)"
When I want to login with global-admin I get this error:

[code]
Its a freshly provisioned system with no teacher / student users.

[2019-04-27 12:55] zefanja opened #97 "Redirect to landing page if user lacks permission"
When I want to login as a teacher I get this error (trying to access the landing page):

```Security Error: Permission "lm:users:teachers:read" is required```

The landing page does not load because of that.

[2019-04-27 13:00] zefanja opened #98 ""Edit Session" should be "New Session""
If there are no session, the hint says:

" There are no sessions yet. Create a session using the "Edit Sessions" button at the top! "

But the Button is labeld "New Session".

![grafik](https://user-images.githubusercontent.com/708888/56850046-2b250c00-6927-11e9-952e-e730f8e45906.png)

[2019-04-27 13:03] zefanja opened #99 "After setup redirection to HTTPS does not work"
With the lastest version of the webUI it does not redirect to HTTPS. When I click on the "Close" button it says "Restart(ed) WebUI", but it does not redirect.

Is there a timeout and how long is it? I waited maybe 1 minute. I could access the website with https just fine, but manually.

[2019-04-27 13:11] zefanja commented on #97
Looks like ajenti saves the last accessed site. So if I was logged in with `global-admin` before and edited some students / teachers (e.g. /view/lm/users/teachers) and then log out and log in again as a teacher it will redirect to that page and result in the error above.

[2019-04-28 14:14] kiarn commented on #96
Hello @zefanja,

What's the output of `sophomorix-admin -i` ?

[2019-04-28 14:19] zefanja commented on #96
[code]

[2019-04-28 14:43] #98 closed, assigned to nobody

[2019-04-28 14:56] kiarn commented on #96
Oh, wait, I misunderstood the problem : the user global-admin can log in, but you get an error with the url http(s)://10.0.0.1:8000/view/lm/users/students-list because there's no students yet.
So, I think we can simply show an info message when the dict is empty.

[2019-04-28 14:59] kiarn commented on #97
Hello @zefanja,

That's right. I will see if it's possible to redirect to the landing page after login if the user have no permission for the saved path.

[2019-04-28 15:00] kiarn commented on #99
Hello @zefanja,

Do you mean git or package ?
I think I already solved this with https://github.com/linuxmuster/linuxmuster-webui7/commit/fdd3a0c5d92409577822f7f5bdb14aaedeb80cad

[2019-04-28 22:03] zefanja commented on #99
The package from the repo. I'll try again with the git version.

[2019-05-01 13:40] mathiasrettich opened #100 "After creating an image, it will not be loaded on the server."
Hello everybody,
Following situation:
I would like to create an image from a client via the Linbo console and immediately transfer it to the server. Subsequently, the client should shut down itself.
For this I go to Imaginig and choose Image erstellen.
![B001](https://user-images.githubusercontent.com/3775093/57019585-42197600-6c27-11e9-937f-f60d6a14d2c6.png)
As you can see in the screenshot, I ch

[2019-05-01 13:45] zefanja commented on #100
It's a know issue: https://github.com/linuxmuster/linuxmuster-linbo/issues/65

PS: This bug is not related to the webui. For each main component, there is a separate repository, like linuxmuster-webui7, linuxmuster-linbo, sophomorix4, linuxmuster-base7, ... (https://github.com/linuxmuster). If you know to which repo your bug belongs, report it in the right repo. Thanks :)

[2019-05-13 09:52] kiarn commented on #100
Not related to webui.

[2019-05-13 09:52] #100 closed, assigned to nobody

[2019-05-13 10:11] kiarn commented on #96
I think it's solved with https://github.com/linuxmuster/linuxmuster-webui7/commit/4ac566fd8f339c9ad10a37e6cbe09e0b087bc1b5

[2019-05-13 10:11] #96 closed, assigned to nobody

[2019-05-13 10:13] kiarn commented on #95
Global-admin can yet add teachers in a group.
I think it would be good to let teachers add teachers into a project, but they need the authorization "ln:users:teachers:read", or we need to split this authorization.
@HappyBasher and @PLanB2008 : are you ok with this or any suggestion ?

[2019-05-13 10:14] kiarn commented on #99
Any news on it ?

[2019-05-13 10:20] kiarn commented on #82
I think it's due to a certificate error, when `/etc/ajenti/config.yml` includes `/etc/linuxmuster/ssl/server.cert.bundle.pem`
I'm working with domain and a let's encrypt cert, that's why I didn't see it.

Can you please confirm this ?

[2019-05-13 10:28] kiarn commented on #80
Already fixed.

[2019-05-13 10:28] #80 closed, assigned to nobody

[2019-05-13 10:29] kiarn commented on #42
Already fixed.

[2019-05-13 10:29] #42 closed, assigned to nobody

[2019-05-13 11:02] #57 closed, assigned to nobody

[2019-05-13 11:22] PLanB2008 commented on #95
Well it depends. I think we've to take a look in the permission structure.

There are kind of sensitive information a teacher should not be able to see. Eg. birthday, group memberships of other teachers and the initial password.

The cleanest way would be to split the authorization.

[2019-05-13 11:23] PLanB2008 commented on #99
I updated the repo package last friday so there should be an improvement (if the fix works).

[2019-05-13 11:25] PLanB2008 commented on #91
Another solution would be to skip the forward at all and provide a link the user has to click after the webui restart is done.
Not really elegant but it would work I guess.

[2019-05-13 11:50] zefanja commented on #82
Yes, I'm using the default self signed cert. I will test further.

[2019-05-13 15:00] kiarn commented on #82
If you are using Chrome, there are some caching problems with SSL certificates that are self-signed.
I tried with the default certificate from linuxmuster.net : in a normal window, I get this error too, but in a private window, the webui just commes fine.

So, the possible solutions are :

1) not using chrome in normal mode
2) use a valid certificate

[2019-05-13 15:03] kiarn commented on #91
I did a restart from the Webui with redirect to https://10.0.0.1:8000 here : https://github.com/linuxmuster/linuxmuster-webui7/commit/fdd3a0c5d92409577822f7f5bdb14aaedeb80cad

It worked on my test system, is this change not ok ?

[2019-05-13 15:15] zefanja commented on #82
I use Firefox.

What do you mean with "I tried with the default certificate from linuxmuster.net"? Do you mean the self signed cert that is created during linuxmuster-setup?

[2019-05-13 17:41] kiarn commented on #82
Yes, that's what I meant.
After restart, no more error in Chrome, I didn't succeed to reproduce this error with Firefox.

[2019-05-15 10:18] kiarn commented on #95
In the initial way of coding, we need the information group membership to get the user from a specific project. So I added the authorization `lm:users:teachers:list` for the action `get-all`, available for all teachers, and let `lm:users:teachers:read` for the rest.

With `get-all`, a teacher can also access the quota ...

So, it's not perfect. Another way would be to get the list from teachers (

[2019-05-22 15:20] kiarn opened #101 "Drag&Drop upload for session"
Hello @PLanB2008,

Thank you for your work about it.
I have some questions :

1) When a file is uploaded, it comes in `'/srv/samba/schools/'+school+'/'+role+'/'+username+'/transfer/'` --> perfect, but the owner/group is root/root, I would suggest to make a chown after the upload to correct this. Handle this with a generic path like /srv/upload could be tricky : it can occur a conflict when 2 teach

[2019-05-22 15:30] kiarn opened #102 "More than 2 json outputs for sophomorix"
Hello @PLanB2008

Related to your comment here https://github.com/linuxmuster/linuxmuster-webui7/blob/bd5844bf4b680a362f2649b9664ebb95756a2ae6/usr/lib/linuxmuster-webui/plugins/lmn_session/views.py#L342 : some sophomorix commands return 2 json outputs.

I already wrote a post about it here : https://github.com/linuxmuster/sophomorix4/issues/68#issuecomment-491774481

There was a major change in `l

[2019-05-23 08:38] PLanB2008 commented on #101
Hi @kiarn ,

this is an issue I ran into as well and still has to be fixed..

First the idea was to share  data directly wen using the drag & drop field with the chosen user or session. But when I saw your code I thought maybe it would make more sense to upload the file in the transfer folder first and share it from there. This works right now but lacks the necessary user permissions.

I tried to

[2019-05-23 08:39] PLanB2008 commented on #99
This is confirmed to work now.

[2019-05-23 08:39] #99 closed, assigned to nobody

[2019-05-23 08:40] PLanB2008 commented on #91
This is confirmed to work now.

[2019-05-23 08:40] #91 closed, assigned to nobody

[2019-05-23 08:51] PLanB2008 commented on #74
Okay, so this seems to be  sufficient for now, I'll close this issue.

[2019-05-23 08:51] #74 closed, assigned to nobody

[2019-05-23 08:52] PLanB2008 commented on #97
@kiarn how about redirect to the root on logout / autologout (expired session)

so redirecting on logout from https://server:8000/view/lm/users/schooladmins to https://server:8000

[2019-05-23 09:09] PLanB2008 commented on #60
Is this still a problem? I would suggest to start over using the current ova and try again.

[2019-05-23 09:10] PLanB2008 commented on #40
Fixed

[2019-05-23 09:10] #40 closed, assigned to nobody

[2019-05-23 09:12] PLanB2008 commented on #72
This is reported to be fixed now.

[2019-05-23 09:12] #72 closed, assigned to nobody

[2019-05-23 09:26] PLanB2008 opened #103 "Devices List Validation"
The devices List validation should be triggered on save, not as soon as the add button is clicked:

![Peek 2019-05-23 11-21](https://user-images.githubusercontent.com/26460239/58241550-7c20f800-7d4d-11e9-80d4-7b7330b70877.gif)

A similiar validation then could be added to student and teachers list as well.

[2019-05-23 12:26] PLanB2008 commented on #69
I just looked into this again.

It all boils down to an encoding detection problem.  The error @jolly-jump mentioned is caused by this:

[code]

Digging deeper we get this:

[code]

Removint the student named maßkrug:

[code]

@jeffbeck
How should we tackle this? I would suggest something like this:

1 Encoding gets detected when using sophomorix-newfile.
2 Afterwards it is converted to utf8 / 16.

[2019-05-23 16:15] kiarn commented on #97
@PLanB2008 : good idea.
I read the code from ajenti to redirect to root if user has not sufficient permission, but it's not so easy.

[2019-05-23 16:16] kiarn commented on #103
Ok.

[2019-05-23 16:17] kiarn commented on #101
I think we can build a little api to change permissions, it's not that difficult.

[2019-05-23 20:13] jeffbeck commented on #69
Yes that ist the default behaviour:

register the nwe file with sophomorix-newfile.

This will not convert the file and change nothing on the system:
Reason:

You have very few nonascii Lastnames with umlaut (1, to be precise: maßkrug), and all (here: 1) nonacii characters fail to make 100% sure what encoding this file has.

Add a line like this:

7a;MaierJürgen;10.10.1980;

and Jürgen makes sure,

[2019-05-24 07:34] PLanB2008 commented on #95
Well I don't think this is a big issue.

[2019-05-24 08:31] PLanB2008 commented on #69
I get your point.

I'm just thinking if it wouldn't be easier to work with a standardized encoding internally, disconnected by the csv provided.

[2019-05-25 14:35] kiarn commented on #101
Chown done.

[2019-05-25 14:36] kiarn commented on #101
In this case, the uploaded file will overwrite the existing file, I think we can let it so ...

[2019-05-25 15:52] kiarn commented on #103
The first part is done.

I've seen your commit about [testing empty fields in the teachers list](https://github.com/linuxmuster/linuxmuster-webui7/blob/10319c26ef83c0e8e715cd17a68732e509a71e8a/usr/lib/linuxmuster-webui/plugins/lmn_users/resources/js/controllers/teachers-list.controller.coffee#L79). I think the TODO to add a red border line in the error fields would be easier in the angularjs way,

[2019-05-25 16:04] jeffbeck commented on #69
so it is.If the encoding could be determined, it is converted to (internally) utf8.
If you use dummy data like Maßkrug as the only lastname with umlaut. Encoding cannot be detected and manual action is required

[2019-05-25 16:09] jeffbeck commented on #69
I checked the following line:

7a;Maßkrug;Jürgen;10.10.1970;

The file is analyzed as utf8 because of the known firstname Jürgen.

So ONE known Firstname or Lastname is enough for encoding detection in a file

Is you use Peter as Firstname, Maßkrug is not enoght to analyze the encoding.

So you problems arise from using funny Names in your small example files.

[2019-05-26 13:25] kiarn commented on #97
Pull request done here : https://github.com/ajenti/ajenti/pull/1173

[2019-05-26 20:27] #97 closed, assigned to nobody

[2019-05-28 10:34] PLanB2008 commented on #103
Yes of course, go ahead :)

[2019-06-12 12:01] #103 closed, assigned to nobody

[2019-06-14 07:48] PLanB2008 commented on #101
This seems to work flawlessly for now. I'll close the issue

[2019-06-24 15:17] zefanja opened #104 "teachers can change other teachers passwords"
If I create a teacher and login with it, I can access the site `view/lm/users/teachers`. There a teacher can change other teachers passwords.

[2019-06-24 17:00] kiarn commented on #104
Hello @zefanja,

Thanks, corrected here : https://github.com/linuxmuster/linuxmuster-webui7/commit/2af76aaffe8b37857a6c0aeb1a9510bae7bb7ee2

@PLanB2008 : I think we should split `lm:users:passwords` into `lm:users:teacher-password` and `lm:users:student-password` to get more flexibility and simply avoid these cases. What do you think ?

[2019-07-01 06:32] PLanB2008 commented on #104
@kiarn : Yes I think this would help a lot. Maybe we should also extend this to admins and global admins

[2019-07-08 11:44] PLanB2008 commented on #104
This seems to be fixed now? @zefanja can you confirm?

[2019-07-08 13:05] zefanja commented on #104
@PLanB2008 Yes, fixed.

[2019-07-08 13:05] #104 closed, assigned to nobody

[2019-07-17 15:37] baumhof opened #105 "collected located in Folder transfer"
Hi everyone,

i noticed that, when a teacher collects Things from students it is stored in Home_auf_Server/transfer/collected
I understand the wish to keep the Home of a teacher tidy, but placing "collected" inside transfer is risky.
If a teacher, who has collected befor, is sharing Files with a class, he will see in the sharing box the collected Folder: one wring tick, an he will share everything

[2019-07-17 15:50] baumhof opened #106 "Management of Projects"
I have found no way to assign another Projectadmin other than the teacher creating the Project.
Not even global-admin has the capability to assign another Projectadmin.

Not a big Flaw: more like a Featurerequest :-)

Yours

Holger

[2019-07-17 17:22] PLanB2008 commented on #105
I'd rather prefer preventing the user from choosing collected directly than clutter the home directory.

[2019-07-17 17:54] baumhof commented on #105
Hi Till,
thanks for your fast response :-)
We diskussed that posibility at the  Meeting too: making the collected Folder "unklickable" in WebUI.
The concensus was to rather move it one Folder down, even if this means cluttering the home.
We know our Collegues: one will always find a way to still share that folder (rename it first for example).
Thats why we think moving is a better solution. We kno

[2019-07-18 13:32] PLanB2008 commented on #101
We have to reopen this issue. This only works in a single server environment.

If the fileserver is conncted via DFS (which is used in multischool environments) we cannot upload directly to the transfer folder of the user.

We have to upload to a generic folder on the LMN server (eg. /srv/upload/) and trigger sophomorix to move this file (sophomorix reads the DFS configuration and uses samba to tr

[2019-07-18 13:33] PLanB2008 commented on #106
This is something @kiarn is currently working on.

[2019-07-18 13:35] #60 closed, assigned to nobody

[2019-07-18 13:37] PLanB2008 opened #107 "Linbo Module Device Type Chooser"
The linbo modules allows users to change the disk device from sata to nvme or mmc.

Unfortunately this does not work in  Chrome but Firefox and Edge.

[2019-07-18 22:01] #106 closed, assigned to kiarn

[2019-07-18 22:05] #95 closed, assigned to kiarn

[2019-07-18 22:06] kiarn commented on #101
Sorry to ask a dummy question : what's DFS ?

[2019-07-18 22:07] baumhof commented on #106
Lightningspeed
Thumbs up
Thank you Arnaud.
I will test it.

[2019-07-18 22:12] kiarn commented on #105
As a developer, I would follow the idea of @PLanB2008 to keep a logical structur.
As a teacher, my experience knows that @baumhof is fully right.
As a human being, I know that my answer doesn't help anyone.

So, even if it's really not beautiful, I would try to prevent as much as possible error in the practice and eventually let both directory as "brothers" instead of "father/son", I think it's ea

[2019-07-19 07:40] PLanB2008 commented on #101
DFS stands for distributed filesystem which is a samba feature. This allows the clients to have a transparent way to call our data without knowing on which server they are located. The access is handelt  by samba, so samba knows which (sub)directory is located on which server.
For us this means we cannot be sure the fileserver is always reachable on unix filesystem.
In our concept this should only

[2019-07-19 20:21] #107 closed, assigned to nobody

[2019-07-24 06:27] RolandBBerlin opened #108 "Error in WebUI after setup "Server error: POST /api/lmn/quota""
After first setting up the system (without docker, opsi and mail server) on login the secure WebUI a Server error (SyntaxError on Request POST /api/lmn/quota, invalid syntax (<unknown>,line 1) is displayed:

![Bildschirmfoto 2019-07-24 um 08 22 54](https://user-images.githubusercontent.com/48863382/61769933-3edbf380-adec-11e9-8750-b4a103b96d7b.png)

Here the traceback:
[Traceback.txt](https://gith

[2019-07-24 06:58] PLanB2008 commented on #108
Well this is due Error Output in the communication between sophomorix and webui. In This case its caused by the quotabar you see after login.
@kiarn works on this in general. But in this case it seems to happen to be an sophomorix4 issue wehre @jeffbeck is responsible for.

What happens if you enter

    sophomorix-query --sam global-admin --user-full --quota-usage -j

(Assuming you login as globa

[2019-07-24 07:15] RolandBBerlin opened #109 "text error in command help for linuxmuster-setup -h"
Long Parameter for state is falsely listed as "country" in command help:

![Bildschirmfoto 2019-07-24 um 09 14 09](https://user-images.githubusercontent.com/48863382/61772793-671b2080-adf3-11e9-951b-b78bc8cae08e.png)

[2019-07-24 07:48] RolandBBerlin commented on #108
Here the output:
![Bildschirmfoto 2019-07-24 um 09 48 09](https://user-images.githubusercontent.com/48863382/61774902-270a6c80-adf8-11e9-890c-88bff44efcb9.png)

[2019-07-24 07:53] RolandBBerlin opened #110 "Encoding setting for Extra Courses results in sophomorix-check error"
In the WebUI settings it is possible to set encoding for Extra courses. Once this is done, however, adding new users is not possible, because ENCODING is not allowed for extraclasses in sophomorix-check.

![61773379-d5acae00-adf4-11e9-9d56-8441e2d5393a](https://user-images.githubusercontent.com/48863382/61775221-c6c7fa80-adf8-11e9-956c-fdf1326c46a5.png)

[2019-07-24 08:20] RolandBBerlin opened #111 "Error on sophomorix-check when setting encoding in WebUI"
I have set encoding to "UTF-8" in WebUI. After adding the first teacher sophomorix-check gives an error:

`#### Encoding results for  teachers.csv                                   ####`
`   * ENCODING:          UTF-8 (configured)`
`   * ENCODING_FORCE:    FALSE`
`   * ENCODING_CHECKED:  UTF8`
`   * Misconfigured ENCODING in configuration file and ENCODING_CHECKED do not match`
`   * Set A) ENCODI

[2019-07-24 15:45] kiarn commented on #109
Hello @RolandBBerlin

It's not related to the WebUI, I made a little ticket in linuxmuster-base7 : https://github.com/linuxmuster/linuxmuster-base7/issues/74

[2019-07-24 15:45] kiarn commented on #108
Hello @RolandBBerlin

Please recheck with global-admin and not global_admin.

[2019-07-24 15:59] kiarn commented on #111
Hello @RolandBBerlin

I think we need some help from @jeffbeck for this case, because :

1) UTF8 and UTF-8 are both valid encoding ( see iconv -l )
2) I didn't really understood the role of all the encoding parameter in school.conf ( yes, I need to do my homework, I'm on it ).

[2019-07-24 16:01] kiarn commented on #92
@RolandBBerlin

Is it still actual ? Or can we close it ?

[2019-07-24 16:08] RolandBBerlin commented on #92
The error still exists as of today - sorry, I thought I had updated today, but do not see my comment now.
I was able to reproduce it, but only on Apple Safari browser. It can be reproduced as this:

1. During setup in WebUI enter school data
2. Press "Continue"
3. On the follow-up-screen press "Return"

Then the country changes to "da". This behaviour is only in Safari, not in Chrome browser.

[2019-07-24 16:34] kiarn commented on #109
Fixed : https://github.com/linuxmuster/linuxmuster-base7/commit/0c7c4e1d06e0ca42b77e8a123f55927e1655f2c0

[2019-07-24 16:34] #109 closed, assigned to nobody

[2019-07-24 16:36] kiarn commented on #92
Ha ok, this is an important information.
We are currently testing the WebUI with Firefox and Chrome, I don't know how to install Safari in Debian.
@PLanB2008 has maybe an idea for this ?

[2019-07-24 17:22] RolandBBerlin commented on #108
Sorry ;-), here the output as a file

[sophomorix global-admin output.txt](https://github.com/linuxmuster/linuxmuster-webui7/files/3428052/sophomorix.global-admin.output.txt)

[2019-07-24 17:34] PLanB2008 commented on #92
Safari is kind of a niche browser.

Problem is there is no safari for an operating system besides mac os. The
windows client was discontinued some years ago and there never was an Linux
client.

I could provide you a virtual machine running mac os but due to artificial
limitations by apple this runs pretty poorly.

I'll look into this.

Am 24. Juli 2019 18:36:44 schrieb Kientz Arnaud <notification

[2019-07-24 21:31] kiarn commented on #108
This commit https://github.com/linuxmuster/linuxmuster-webui7/commit/caec565ad0101b1bde527113b5b27e3baf786659 fixs this problems, but does not solves the fact that something is wrong with perl or with sophomorix configuration.

[2019-07-24 21:38] kiarn commented on #102
So I have another example, when an admin wants to set passwords for many teachers :

`sophomorix-passwd -u t1,t2,t3 --pass Muster! -jj`

The stderr is :

[code]
`lmn_getSophomorixValue()` only gets the first dict. Merging all the result dicts is a risky way, it would be better to ask @jeffbeck if it's possible to do it in sophomorix.

[2019-07-26 06:02] PLanB2008 commented on #111
The optimal way to use this is to keep the encoding in autodetect mode.

Sophomorix should be able to detect your encoding, this best works if you do not add one teacher but several, at best you provide a whole list of teachers and / or students.

WebUI does not force encoding right now, maybe weve to overthink this.
AFAIK there is no difference between UTF8 and UTF-8. So this could be an sophomor

[2019-07-26 09:27] jeffbeck commented on #111
The Following is the workflow, that is planned and good:
(Webui does NOT try to detect the encoding. it asumes UTF8)

To add a new students.csv (or teacher.csv, or *.students.csv) BOTH the console administrator AND the webui must do the following:

1) upload new file to server to a temporary location(encoding not known)
2) Register the file with sophomorix-transfer
   This does the following:

  E

[2019-07-29 14:02] #58 closed, assigned to nobody

[2019-07-29 14:03] #54 closed, assigned to nobody

[2019-07-29 17:22] PLanB2008 opened #112 "Edit Project members does not show current members"
When clicking on edit members in projekt group members the current members are highlighted but members don't. So open this dialog and klicking save removes all the members:

![Peek 2019-07-29 19-22](https://user-images.githubusercontent.com/26460239/62068388-31809800-b236-11e9-9130-196bad012fce.gif)

[2019-07-29 17:39] kiarn commented on #112
Hello @PLanB2008

Thanks for your test. I can't reproduce this behaviour with chrome or firefox, it works fine here.
Is sophomorix up to date ?

[2019-07-29 17:41] kiarn commented on #112
Maybe the reason : https://github.com/linuxmuster/linuxmuster-webui7/commit/a178e479f7fe9419243e129e23bfb6aea1860581

[2019-07-30 08:00] PLanB2008 commented on #112
Hello @kiarn

my bad, I did not update sophomorix to the most current version, so this was my mistake. Now this is working. A minor issue i found:

In the userlist and also the group list in the user properties the top right element lacks the sophomorix-admin-class:
![grafik](https://user-images.githubusercontent.com/26460239/62111432-cf18ad80-b2b0-11e9-9308-1756557d3d21.png)

![grafik](https://us

[2019-07-30 09:06] kiarn commented on #112
The count of the members is also sometime false, I have to check it.

What's the output of :

`sophomorix-query --group-members --group-full --sam PROJECT -j`
( for the first screenshot )

and

`sophomorix-query --schoolbase default-school --user-basic --sam USER -j`
( for the second one )
?

[2019-07-30 14:19] PLanB2008 commented on #112
[first.txt](https://github.com/linuxmuster/linuxmuster-webui7/files/3447236/first.txt)
[second.txt](https://github.com/linuxmuster/linuxmuster-webui7/files/3447237/second.txt)

It always appreas for the top right element.

[2019-07-30 14:30] kiarn commented on #112
Ok, that's a CSS problem in Firefox, it's ok in Chrome. I'll have a look later.

[2019-07-30 14:53] #112 closed, assigned to nobody

[2019-07-30 14:54] kiarn commented on #112
It's a bug in Firefox : https://bugzilla.mozilla.org/show_bug.cgi?id=1441048

[2019-08-06 12:03] PLanB2008 commented on #108
So we gonna close the issue.

[2019-08-06 12:03] #108 closed, assigned to nobody

[2019-08-06 12:04] PLanB2008 commented on #101
Should be fixed

[2019-08-06 15:15] PLanB2008 commented on #92
I can confirm the issue.

I'll look into this.

![grafik](https://user-images.githubusercontent.com/26460239/62552309-b9d1ef00-b86d-11e9-8b95-7527af67c641.png)

[2019-08-06 16:22] PLanB2008 commented on #92
I'm not sure what triggers the issue. It seems only to happen if you use TAB to tab trough the options in the school-information window.

Theres nothing special about this dropdown.

Keep in mind @RolandBBerlin : This value does not define the language  webui provides. This value is only used for the self signed certificate.

The language is defined in the first screen (welcome screen) and is not

[2019-08-09 11:04] foer opened #113 "Printers not visible in Devices/ Printers Management"
With Version 1.0.83-1 the printers section under devices is not working. Ther's only a grey page visible. Before that printers registered in cups are displayed.

Assigning certain printers to rooms/clients also didn't work before.

[2019-08-09 11:27] PLanB2008 commented on #113
This module is deprecated and will be removed in  1.0.85-1.

[2019-08-09 11:27] #113 closed, assigned to nobody

[2019-08-19 22:38] zefanja commented on #44
Looks like it is enabled again... https://ask.linuxmuster.net/t/sophomorix-check-sophomorix-add-sophomorix-update-schleife/3967/22

[2019-09-02 11:48] foer opened #114 "Import of student.csv list fails"
After confirming the sort order the import of the file fails with this errormessage:

![Bildschirmfoto-20190902100052-1342x1544](https://user-images.githubusercontent.com/3774978/64112659-595ca180-cd88-11e9-82e6-f1d1dba91822.png)

[2019-09-05 07:28] PLanB2008 commented on #114
This should be solved with the current sophomorix-version. Please try and provide feedback.

[2019-09-13 09:19] foer opened #115 "Printing of passwordlists ends with 404 error in linuxmuster-webui7 (1.0.95-1)"
After sending a password printing request, the webui redirects to a 404 Site. This is a nasty showstopper and should be fixed immidiately.

![404](https://user-images.githubusercontent.com/3774978/64851663-23d17700-d618-11e9-9901-29f64472336d.jpg)

Dominik

[2019-09-13 11:14] PLanB2008 commented on #115
fixed in 5274ec63a00bcdbf86afca800e13669323571c42 and package 1.0.96-1
please confirm.

[2019-09-16 14:00] #115 closed, assigned to nobody

[2019-09-16 14:00] #114 closed, assigned to nobody

[2019-09-16 15:02] #101 closed, assigned to PLanB2008

[2019-09-16 15:03] #45 closed, assigned to nobody

[2019-09-20 12:13] jolly-jump opened #116 "Webui/selma weird error when using passwords"
Hi, here:https://ask.linuxmuster.net/t/schulkonsole-selma-legt-keine-lehrer-an/4184/4?u=tobias
im Prinzip worum es geht:
Wenn ich "Wunschpasswort" verwenden will, dann klappt das nur, wenn alle schon existierenden ein Wunschpasswort haben, nicht, wenn ich bei einem neuen Lehrer damit anfangen will.

Außerdem: Das Wunschpasswort muss den Regeln entsprechen, die man aber auf der Seite nicht sehen ka

[2019-09-20 15:42] PLanB2008 commented on #116
Ist mir bereits bekannt. Das Problem tritt auch auf,wenn  keine Lehrer wunschlogins verwendet werden.

Fehlenden Übersetzungen gerne mal zentral in einem Ticket sammeln.

Ich denke an der Stelle können wir die Prüfung lockern, falsche Eingaben werden dann aber immernoch richtigerweise beim Import fehlschlagen.

Letztendlich bearbeiten wir hier auch nur eine importliste, keine Datenbank.

[2019-10-01 19:51] kiarn commented on #116
Hello,

I'm working on it :

![2019-10-01_21-47](https://user-images.githubusercontent.com/10401079/65995228-55aa6080-e495-11e9-9a97-4a3e3af290ba.png)

But it's a very long process to factorize and customize all possible errors : the goal is to have all tests and error messages i na single place.

The "desired password problem" is already solved is the branch "validation".

[2019-10-09 15:49] dooomkopf opened #117 "Keine Filterung von Umlauten beim Anlegen von Kursen"
Unterricht -> Kurse anlegen -> Schüler hinzufügen:

SuS mit Umlauten oder é im Namen werden nicht gefunden.

[2019-10-16 06:37] kiarn commented on #116
Fixed in https://github.com/linuxmuster/linuxmuster-webui7/commit/fec9413743c6c7d9b6cf0110e2f2a9f1b5e24577

[2019-10-16 06:37] #116 closed, assigned to nobody

[2019-10-22 12:01] mathiasrettich opened #118 "vanilla install with webui 1.0.105 uses POrt 8000 for webui, should be 443"
this Morning i made an vanilla install of lnm7.
The page for setup in webui was 10.0.0.1:8000 not 443.
I thought it should be 443 and i think it as a few months ago ..

[2019-10-22 12:59] PLanB2008 commented on #118
I can confirm this. We'll look into this.

[2019-10-22 14:14] #118 closed, assigned to nobody

[2019-10-24 20:39] baumhof opened #119 "Students should be able to log in to WebUI to change Passwort and view Quota"
This is a Feature Request:
i would like it very much if Students could log into WebUI to change their Password and view their Quota.
Changing Passwords through WebUI istead of mechanisms of the Client OS has a big Advantage: you can state Password Policies before changing Passwords (which is already done in WebUI: Thumbs up for that :-)  ).

Yours

Holger

[2019-10-25 09:32] foer commented on #119
+1

[2019-10-25 09:38] foer opened #120 "Selecting projects leads to error linuxmuster-webui 1.0.105-1"
Selecting an owned project leads to the following error:

![error](https://user-images.githubusercontent.com/3774978/67560754-d28acc00-f71b-11e9-8fe4-e55479adec78.png)

after that nothing happens. It's not possible administrating the project.

[2019-10-25 10:32] #120 closed, assigned to nobody

[2019-12-05 18:14] jeffbeck opened #121 "Hidden classes show at password printing page"
In "Passwörter drucken" hidden classes are shown.

If
sophomorixHidden: TRUE
the printing of passwords should not be possible

[2019-12-05 18:24] jeffbeck opened #122 "Session names with /"
If a session name contains a / like "Donnerstag 3/4 Stunde",
this string is used as a path seperator when data ist collected into:

...user/transfer/collected/20191205_08-48-02-Donnerstag 3

in the subdirectory "4 Stunde"

We should avoid some characters here like / [SPACE], ...

My advice is to allow only A-Za-z0-9-_

to avoid trouble in advance.

Fixing this in sophomorix would be cumbersome, be

[2019-12-08 21:10] #121 closed, assigned to nobody

[2019-12-08 21:24] #122 closed, assigned to nobody

[2019-12-09 10:01] jeffbeck opened #123 "password view of student should show username"
When beeing in
Unterricht - >Session -> (Zahnrad) -> Erstpassword anzeigen

there should be

1) also the username displayed.
2) The window showing username and password should be larger
(lage white frame aroud the data)
The students take pictures of their data, and should not see other data

[2020-01-28 16:09] PLanB2008 commented on #123
Is this really a use case?

Whould it be suitable to make the frame as big as the user details window? But also in this case there would be some data at the bottom.

We would have to add a blank page around the whole frame to get rid of any other data.

Other than that: I'll add the username, this seems to be an obvoius improvement.

[2020-02-20 11:43] PLanB2008 commented on #123
Fixed in 3e3783f8c516c9f9b31461b9d05f5c7c316539ca

![grafik](https://user-images.githubusercontent.com/26460239/74930801-a2f48380-53de-11ea-9bc9-d1ca8c49472f.png)

[2020-02-20 11:43] #123 closed, assigned to PLanB2008

[2020-02-24 13:25] kiarn commented on #117
Hello,

Is it still a problem, because I cannot reproduce this :

![2020-02-24_14-22](https://user-images.githubusercontent.com/10401079/75155985-6c39a880-5711-11ea-877c-b4136789c003.png)

![2020-02-24_14-22_1](https://user-images.githubusercontent.com/10401079/75156003-73f94d00-5711-11ea-9332-ec1248e79ecb.png)

Otherwise, I would close this issue.

Arnaud

[2020-02-24 13:30] kiarn commented on #82
I think we can close this issue, I don't remember seeing other problems in this form this year, and without details it will difficult to debug.
We can reopen it if it occurs again.

[2020-02-24 13:30] #82 closed, assigned to nobody

[2020-02-24 14:07] PLanB2008 commented on #87
I reacteted this ticket in lmn-base
https://github.com/linuxmuster/linuxmuster-base7/issues/82

[2020-02-24 14:07] #87 closed, assigned to nobody

[2020-02-24 14:15] kiarn commented on #35
Hello,

So, it's not so complicated, we just have to read `/etc/linuxmuster/subnets.csv` with a CSV-Parser, and then run `linuxmuster-import-subnets`.

I will discuss this with the other devs.

[2020-02-25 15:33] kiarn commented on #35
Hello,

Done :
https://github.com/linuxmuster/linuxmuster-webui7/commit/82db2c1fbb3ec9f8a4bf9ef4164cc82e7b4eb42f
https://github.com/linuxmuster/linuxmuster-webui7/commit/d066e3c71c839ddbcdd4569bd2fdc7984e831c38
https://github.com/linuxmuster/linuxmuster-webui7/commit/61f5f85d1f632f19b9ad85295dcbc9a7964ebc40
https://github.com/linuxmuster/linuxmuster-webui7/commit/35af248db198df0e49af6e359882f5ab0e

[2020-02-29 20:45] #117 closed, assigned to nobody

[2020-03-10 13:30] roesslerrr opened #124 "select and unselect all users in session for exam changes all users"
Hello!

Some users in a session are in exam-mode und you want to stop the exam-mode for this users.

If you select exam-mode for ALL users of the session and then unselect ALL users, then the boxes of the exam-users are empty and yellow.
If you save this preferences the exam-mode is tried to stop for ALL users of the session, not only the yellow marked. But this can only be done for the exam-users

[2020-03-12 15:26] jeffbeck opened #125 "exam user password cannot be reset by webui (was so before)"
when a user is in the exam-mode, password change (set firstpassword, ...) is not possible anymore.

Reason shown by webui: user is in exam mode

This is teature is necessary, when the teacher hast started an exam and one of the participants has forgotten his password

[2020-03-12 15:29] jeffbeck opened #126 "cloning firstpassword when creating an examuser"
I just opened an isue in sophomorix:

https://github.com/linuxmuster/sophomorix4/issues/104

This helps to show correctly if an examuser still users its firstpassword.

Any reason not to clone forstpassword?

[2020-03-12 15:30] kiarn commented on #125
Is it related to https://github.com/linuxmuster/sophomorix4/issues/104 ?
I mean : do you need to first implement something in sophomorix so  that we could correct this ?

[2020-03-17 10:35] jeffbeck opened #127 "Sorting of users in Unterricht"
sorting of users in Unterricht should consider givenName when surname is equal:

gast01, Nachname: Gast Vorname: Albert
gast02, Nachname: Gast Vorname: Berta
....

Does not sort correctly

[2020-03-17 10:36] jeffbeck commented on #127
Would be nice if the user could change the sorting algorithm to:

- sort according to givenName (surame second)
- sort according to loginname (surname second)

[2020-04-09 09:52] PLanB2008 commented on #124
In general this is the correct behaviour. If sophomorix takes to long to recognize these users arent in exam mode, we could update this.
The concept is, if you hit the save button everything gets executed as stated, no matter which previous status the user had.

[2020-04-13 17:36] cweikl opened #128 "teacher: sharing files with pupils ends up in a loop if teachers has forgotten to load a file"
Logged in as a teacher, have chosen class room -> teaching -> sharing (austeilen)

When the teacher has forgotten to upload a file which he wants to share and clicks sharing -> the webUI ends up in an endless loop.
I can close the browser and login in again. But I think the WebUI should terminate the process.

Chris

[2020-04-13 20:02] kiarn commented on #128
Hello Chris,

Thanks for your report, it's fixed. F5 is althought your friend in this case ;)

[2020-04-13 20:04] #128 closed, assigned to nobody

[2020-04-18 10:34] jolly-jump commented on #119
+1

[2020-04-18 10:35] jolly-jump commented on #119
please, please, it is not so complicated. I use the workaround:
[code]
but if it should be configurable then I don't know how to do it.
For the fix entry I can pull a request....

[2020-04-18 10:44] kiarn commented on #119
@jolly-jump : it's really more complicated as what you think. We have to change the complete auth process and uid/gid isolation to execute some commands.

The good news is : this is 99% fixed, we are just waiting some changes in sophomorix and more tests to finalize this. I hope it will comes the next weeks. We didn't forget this issue, but it was a hard work : https://github.com/linuxmuster/linux

[2020-04-20 08:39] white-rabbit07 opened #129 "Druck-Daten: Einträge werden nicht angezeigt"
Eine Rückfrage zu dieser Datei:
–> https://github.com/linuxmuster/sophomorix4/blob/bionic/sophomorix-samba/config-devel/master/school.conf.master

Da gibt es viele Einträge wie z.B. die ganzen URL...= , die es in meiner school.conf gar nicht gibt.
Wenn ich als global-admin unter Schuleinstellungen --> Druck-Daten etwas eintrage, ist es nach dem nächsten Aufruf der Seite wieder verschwunden.

Wenn

[2020-04-20 10:35] jeffbeck commented on #129
Die von dir verlinkte master Datei zeigt alle **zuässigen** Einträge an. Sie müssen aber nicht da sein.

Wenn ich das mit sophomorix teste, dann trage ich das per Editor ein.

Bin mir nicht ganz sicher ob die webui da auch noch was machen muss.

Ob true/yes/1/TRUE haben wir so lange diskutiert, bis ich es einfacher fand zu sagen: alles ist erlaubt (wie bei samba)
Falls das nicht so ist, bitte meld

[2020-04-20 13:27] white-rabbit07 commented on #129
Hi. Das heißt, dass der Eintrag **vollständig** angelegt und in der school.conf eingetragen wird, wenn ich z.B. die moodle-URL einstelle, ja? Oder muss ich es mir so vorstellen, dass nach dem Eintrag "moodle-url=" gesucht wird und hinter dem "=" dann der Eintrag gemacht wird?

Ich trage viele Dinge auch **direkt** in die conf-Datei ein. Das Problem ist im Moment aber: Da meine .conf gar nicht alle

[2020-04-20 13:52] jeffbeck commented on #129
Zum zweiten Teil:
Die neuen parameter werden programmiertechnisch in der school.conf.master bekanntgegeben,
Seit kurzem auch im Paketfeed:
https://ask.linuxmuster.net/t/v7-beta-paketfeed/3438/106

Am besten wäre natürlich, wenn die webui, die master einliest, eine schöne Beschreibung liefert und dann die Zeilen nachträgt.

Das wird sicher mal passieren, aber geht prinzipbedingt nur mit Verzögerung

[2020-04-21 19:49] jolly-jump commented on #119
ok, didn't know either of this. Thanks for working on it!

[2020-04-21 20:01] jolly-jump opened #130 "Timeout when printing passwords"
sophomorix-samba Version: 3.77.2-1
linuxmuster-webui7: Version: 1.0.139-1

- logged in as teacher,
- does not respond for a looong time.
- in the end the PDF that comes back is really a text/html which says Server error with traceback:
[code]

[2020-04-21 20:06] jolly-jump opened #131 "ajenti wants to use flash ?"
Do we **really** need Flash?
whatfor?
does not look good...

![grafik](https://user-images.githubusercontent.com/2824334/79908850-45030d00-841c-11ea-9720-ada0f1d3bfc0.png)

[2020-04-21 20:06] kiarn commented on #130
Hello @jolly-jump

Thanks.
Already fixed : https://github.com/linuxmuster/linuxmuster-webui7/commit/8e374a812ed1351a18c61f87ea4a8aa97fba95e0

Must just be published.

[2020-04-21 20:06] #130 closed, assigned to nobody

[2020-04-21 20:09] kiarn commented on #131
Hello @jolly-jump,

It's weird that firefox propose this, it should use websocket instead. I must investigate, but I never encountered this situation.
So the answer is : we absolutely not need flash.

[2020-04-24 12:44] kiarn commented on #131
Hello @jolly-jump,

I'm not able to reproduce this, so I cannot test if my change avoid this behaviour. Can you please test something for me ?

I don't know if you use Ajenti with Python3 or the old version, so I give the instructions for Python3, you may have to adapt :

1. Comment out the flashsocket use in `/usr/local/lib/python3.6/dist-packages/aj/core.py`. This is the line containing `str('fl

[2020-04-24 12:45] PLanB2008 commented on #131
I saw this issue before, but it disappears after some time

[2020-04-24 12:48] kiarn commented on #131
Ok. I have disabled the use of flashsocket in Ajenti : https://github.com/kiarn/ajenti/commit/3b0c49a3fa98880ab3de13c1bead9bd82a26eb9e and I'm pretty sure this is the only dependency to flash, if @jolly-jump or another can confirm it, it would be great :)

[2020-04-24 13:26] PLanB2008 commented on #131
What was this socket use for? I saw firefox asking for permission but it does not appear on a regular base, at least not on my machine.

[2020-04-24 13:37] kiarn commented on #131
This socket is not really used : it's an optional handler listed and proposed when socket.io is started. Ajenti propose a list of transports ( xhr_polling, websocket, flashsocket, ... ), the client browser choose automatically the best one and use it.

See : https://gevent-socketio.readthedocs.io/en/latest/handler.html#module-socketio.handler

[2020-04-29 14:03] PLanB2008 commented on #129
Die Webui legt die Werte selbständig an wenn diese gesetzt werden. Allerdings muss von unserer Seite definiert werden welche Fehler es zum ausfüllen gibt.
Theoretisch könnten wir dies auch auslesen, ich denke aber das wäre overkill da hier nicht zu häufig neue Werte zu erwarten sind.
Zudem würde ein automatisches bestimmen der Fehler auch eine ausgewogene Übersetzung der Attribute verhindern.

[2020-04-29 14:06] PLanB2008 opened #132 "User information should show the current used quota as well"
![grafik](https://user-images.githubusercontent.com/26460239/80605317-37104600-8a33-11ea-9363-a034ef285d98.png)

We should add a query which gets the current used quota for a user. Perhaps we can use the same code used for the landing pange and print a nice progressbar so an admin can have a look at the quota usage of a specific user.

Also we should work on an qupta overview, even if it would be

[2020-04-29 14:19] kiarn commented on #132
It's already prepared in user list, see :

https://github.com/linuxmuster/linuxmuster-webui7/blob/836a4e8c482a749a0e94710fd9fb51ac1e6e0b40/usr/lib/linuxmuster-webui/plugins/lmn_users/resources/partial/teachers.html#L140

and

https://github.com/linuxmuster/linuxmuster-webui7/blob/836a4e8c482a749a0e94710fd9fb51ac1e6e0b40/usr/lib/linuxmuster-webui/plugins/lmn_users/resources/js/controllers/teachers.

[2020-05-05 15:43] PLanB2008 opened #133 "Adding a registry patch trys to write bytestring instead of unicodestring (python2 python3 related)"
<img width="697" alt="grafik" src="https://user-images.githubusercontent.com/26460239/81085715-de8bed80-8ef7-11ea-858d-a14c635ae7d2.png">

[2020-05-05 16:35] #133 closed, assigned to nobody

[2020-05-06 08:46] PLanB2008 opened #134 "Read Password Complexity Settings from samba"
When we have a "simple" school form like an elementary school or school for mentally handicapped students we usually disable password complexity in samba.

This does not work well with webui.

Suggesitons: Webui Should look for passwordsettings and only look for special characters etc. when neccessary.

This could be done via

  samba-tool domain passwordsettings show

Maybe sophomorix should prov

[2020-05-06 14:14] kiarn commented on #134
So, the first big question is : should it be a feature request by sophomorix ?
Adding it in `config.yml` and implementing it in the Webui would be then not a big deal.

[2020-05-07 08:24] PLanB2008 opened #135 "Another byte encoding issue in list upload"
Trying to upload a students list via webui (list management) fails:

<img width="649" alt="grafik" src="https://user-images.githubusercontent.com/26460239/81271871-f45ef700-904c-11ea-928c-0e49bdf639db.png">

[2020-05-07 08:29] kiarn commented on #135
Does it work with 'rb' instead of 'r' ?

[2020-05-07 08:30] PLanB2008 commented on #135
I assume it'll work but I can't test it at the moment. I'll provide more feedback asap.

[2020-05-07 11:28] jolly-jump commented on #131
I use the most current linuxmuster-webui debian package now: 1.0.141-1 so I guess it is python3?

does not work, still flashing the sign. And more:
I also removed the file `rm -rf /usr/local/lib/python3.6/dist-packages/aj/__pycache__/core.cpython-36.pyc` to be sure.

And now I tried python2.7, changes and:
[code]
still flashing... :chicken:

The transport list seems a good choice, but maybe I seem

[2020-05-07 13:05] kiarn commented on #131
Hi @jolly-jump

Thank you for your test !
It's maybe necessary to empty the cache of the browser before testing again.
I tried to test with firefox on many systems, and was not able to reproduce this, it's weird.

Maybe I overlooked something, I must search again ...

[2020-05-07 13:40] jolly-jump commented on #131
Hi @kiarn,

maybe here:
/usr/local/lib/python3.6/dist-packages/ajenti_plugin_core/resources/build/all.vendor.js
at least I can grep a couple of files within the plugin_core directory.
And: hm, I most of the time closed Firefox and opened it again *and* tried it again with a private window.
hm, how to make sure it is not in the cache?

[2020-05-07 21:43] jolly-jump commented on #131
Hi @kiarn ,

Bingo!
I have tried a new profile in Firefox: works perfectly using the comment as proposed: No flash in sight.
Checked against: uncommented it again, and the same session reloaded shows the flash.
Now I can't get it out in the second profile either.
A third profile does again not show flash (wenn flashsocket was commented out)

Cheers!

[2020-05-07 22:21] kiarn commented on #131
Hi @jolly-jump

Many thanks for your tests !
So this confirm that the notification is due to the flashsocket transport, and I can close this issue as it is already fixed in ajenti 2.1.35.

[2020-05-07 22:21] #131 closed, assigned to nobody

[2020-05-08 19:24] kiarn commented on #132
I add a raw view of quota, please see : https://github.com/linuxmuster/linuxmuster-webui7/commit/cb635c0f5ee312d5d758c55a8c0e8e3e247829b4

![user3](https://user-images.githubusercontent.com/10401079/81441497-2b7af880-9172-11ea-949c-5dcf49f76370.png)

There's already a little overview of the quotas in the teacher view --> Show quotas bottom right.
This is not implemented for the students, and maybe

[2020-05-08 19:47] kiarn commented on #132
And also please see : https://github.com/linuxmuster/linuxmuster-webui7/commit/2e83c23eb4c7566c62949a5bd8adcd7bfbde8b5b

[2020-05-21 08:01] zefanja opened #136 "Adjust title in wizard - remove "beta""
The welcome wizard still says, that v7 is beta.

https://github.com/linuxmuster/linuxmuster-webui7/blob/a8d71b773038f238c04411febbc02445679e120c/usr/lib/linuxmuster-webui/plugins/lmn_setup_wizard/partial/init-welcome.html#L3

[2020-05-21 09:05] #136 closed, assigned to nobody

[2020-05-22 04:39] zefanja commented on #37
I've just run the setup wizard and it is back to "Country" again, but actually you set the language in this field:

https://github.com/linuxmuster/linuxmuster-webui7/blob/a8d71b773038f238c04411febbc02445679e120c/usr/lib/linuxmuster-webui/plugins/lmn_setup_wizard/partial/init-school.html#L21

https://github.com/linuxmuster/linuxmuster-webui7/blob/a8d71b773038f238c04411febbc02445679e120c/usr/lib/lin

[2020-05-22 09:57] zefanja opened #137 "Setting MAILDOMAIN messes up school.conf"
When I want to add a custom mail domain via School Settings, it messes up the school.conf file.

Before adding custom domain:

[code]
After adding custom domain:

[code]

[2020-05-22 10:59] kiarn commented on #137
Hello @zefanja,

I cannot reproduce this. Can you please check with an editor if your file contains some special chars like non-breaking space or others ?
With `vim`, just make `:set list`, a char like `$` or `^I` is normal.

[2020-05-22 12:34] zefanja commented on #137
No, only `$` and `^I` chars.

I have a fresh install and it happens, when I empty the mail domain value in the webui, save it, put in a new value and save again.

[2020-05-22 13:03] kiarn commented on #137
Ok !
With this description, I know see and understand what's going on, and also reproduce it.
I will have a look this week-end for a fix.

[2020-05-22 17:14] #137 closed, assigned to nobody

[2020-05-23 01:29] zefanja commented on #137
Great! Thank you!

[2020-05-23 18:49] cibomato opened #138 "name format in webui main page"
In webui at the main page under "Kontoinformationen" - Name: the chosen format
_first name, family name_ e.g. _Max, Mustermann_
with a comma in between looks strange.
I'd either choose:
_family name, first name_ e.g. _Mustermann, Max_
or
_first name family name_ (without comma) e.g. _Max Mustermann_
Cheers,
Jochen

[2020-05-23 19:11] cibomato opened #139 "Print password list for session"
Feature request:
Printing password lists for seesions (not only for classes) should also be possible!
Normally the IT-teacher and not the class teacher informs new students about their account data but many IT-sessions aren't whole classes but sometimes contain students from 2 or more different classes.
Thanks and cheers,
Jochen

[2020-05-23 19:43] cibomato opened #140 "password-list: filename.pdf with apostrophe at the end"
Saving a password list as pdf results in a filename with an apostrophe or similar weird character at the end e.g. _eg11-rp.pdf'_
Therefore OS doesn't recognize the file format.

Cheers,
Jochen

[2020-05-23 20:13] kiarn commented on #138
Hello @cibomato,

Yes, it looks weird, I removed the comma, but I let the issue open to let the others give their opinions, because it's relative to local culture.

[2020-05-23 20:17] kiarn commented on #140
It's already fixed in testing, coming in the next release.

[2020-05-23 20:17] #140 closed, assigned to nobody

[2020-05-24 08:12] PLanB2008 commented on #139
This feature first has to be implemented in sophomorix, the webui just shows and provide these features.

[2020-05-24 11:15] jeffbeck commented on #139
see https://github.com/linuxmuster/sophomorix4/issues/109

[2020-06-10 09:17] PLanB2008 opened #141 "Session Module Collect does not respect timezone"
Session module puts files in fodlers containing the current timestamp.

This timestamp uses UTC instead of localtime.

[2020-06-10 12:16] #141 closed, assigned to nobody

[2020-06-11 03:25] zefanja opened #142 "Even if I edit and save a file (e.g. devices), webUI still says there are unsaved changes"
![Peek 2020-06-11 10-21](https://user-images.githubusercontent.com/708888/84341499-76eb5100-abcd-11ea-8025-467f20e5f931.gif)

[2020-06-11 08:57] #142 closed, assigned to nobody

[2020-06-11 12:05] goeba opened #143 "Bug in Webui when editing Linbo partition due to encoding problems"
Hi,
I've got the following error (latest Linuxmuster 7, updated May 2020):

Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/aj/api/endpoint.py", line 74, in wrapper
    result = fx(self, context, *args, **kwargs)
  File "/usr/lib/linuxmuster-webui/plugins/lmn_linbo/views.py", line 88, in handle_api_images
    'description': open(desc_file, 'rb').read().decode(mime

[2020-06-11 12:07] kiarn commented on #143
Hello Andreas,

Thanks for the report, it's already solved in the testing branch, we must push a new package ASAP.

Regards,

Arnaud

[2020-06-11 12:07] #143 closed, assigned to nobody

[2020-06-11 12:28] zefanja commented on #142
Thanks a lot for the quick fix!

[2020-06-11 14:30] goeba opened #144 "Server Error when clicking on "Dashboard""
Clicking on "Dashboard" as global-admin gives "this is likely a bug", traceback:

[code]

Version: latest linuxmuster testing.

Regards,
Andreas

[2020-06-11 15:52] kiarn commented on #144
Hello Andreas,

It's pretty nice to have someone who retrieve the issue from testing here, many thanks for this !
It seems that the user attribute `sophomorixWebuiDashboard` in ldap is corrupted or not really readable, I will check this.

Regards

Arnaud

[2020-06-11 16:15] kiarn commented on #144
I made a global fix, but it would be interesting for me to know what is to find under your global-admin userconfig.

Can you please try to do a :

[code]

on your server ?
You will need to replace "YOUR.DOMAIN" with your ldap domain.

[2020-06-12 06:50] goeba commented on #144
Hi,
sorry to ask such a dumb question, but: How do I find out my ldap domain?
I use a virtual test server for testing, but I did not set up that myself, and I'm a "linux only" user with no windows-domain knowledge!
Yours / Viele Grüße
Andreas

[2020-06-12 06:53] PLanB2008 commented on #144
Well in that case you should know what you configured during the installation :P

One easy linuxmuster way would be to use sophomorix to determine the domain:

sophomorix-user -i -u global-admin

################################################################################
User 1/1 in AD: global-admin in school global
CN=global-admin,OU=Management,OU=GLOBAL,DC=linuxmuster,DC=lan
###############

[2020-06-12 07:22] goeba commented on #144
Ok, as I said I did NOT install that instance!
I did it right all the way, my domain is LMN.LAN
The results:
[code]
I think this means "nothing" ;)
Regards,
Andreas

[2020-06-12 07:23] goeba commented on #144
Why does that "insert code" not work???

[2020-06-12 07:27] zefanja commented on #144
For multiline code you need to use 3x "`" at the top and bottom

[code]

[2020-06-12 07:30] PLanB2008 commented on #144
This looks indeed empty. I assume the sophomorix-user -i -u global-admin command did not return data as well?

You could create another global-administrator by
`sophomorix-admin --create-global-admin <name-of-admin> --password <fdrTfdtti>`

and try to proceed. If this works delete the original global-administrator and create a new one.

[2020-06-12 07:37] goeba commented on #144
No, sophomorix-user -i -u worked:
[code]

[2020-06-12 07:39] goeba commented on #144
This is the command I used for Arnauds request:
[code]

[2020-06-12 08:17] kiarn commented on #144
No, it doesn't mean nothing, it's pretty much the result I was expecting, and it confirms that the fix from yesterday will work, thank you for taking the time to do it :)

The command just retrieve the `sophomorixWebuiDashboard` attribute from the user global-admin in ldap. You already have a global-admin user, no need to do something else, we can close this yet.

[2020-06-12 08:17] #144 closed, assigned to nobody

[2020-06-18 20:28] kiarn opened #145 "Ghost session"
Hello,

When a teacher creates a session, and then delete it, it remains a ghost session without id.
I found many reasons for this :

https://github.com/linuxmuster/linuxmuster-webui7/blob/8c945d3347b07c94e93ad0d69dbe97fd4e13d533/usr/lib/linuxmuster-webui/plugins/lmn_session/views.py#L34 : even if there's no session, an object is added to the sessionList, and returned to angularjs.

https://github

[2020-06-22 05:40] PLanB2008 commented on #145
I'll look into this.

The session module is a fairly complicated plugin, in addition it was the first one I wrote, so there is the possibility a lot of things could be done easier.
I'm gonne fix it :)

[2020-06-24 13:20] PLanB2008 commented on #125
@jeffbeck

I wasn't sure if its wise to change the password during the exam. Afterwards the password of the users differ from its exam account.
I could allow this again but I think its confusing.

[2020-06-25 08:38] #145 closed, assigned to PLanB2008

[2020-06-26 05:36] PLanB2008 commented on #124
@jeffbeck could you improve the speed by checking if a user is in exam mode before? If its impossible I could look into my code, but I think it would be better to let sophomorix deal with it.

[2020-07-08 13:05] PLanB2008 opened #146 "Files are not collected under special circumstances"
When chaning the session name during a exam, files cant be collected anymore.

[2020-07-09 10:42] kiarn opened #147 "Drag&drop failed because of permissions in /srv/webuiUpload"
Hello,

See : https://ask.linuxmuster.net/t/austeilen-ueber-webgui-geht-nicht-mehr-leere-dateien/5821
We have to correct it fast, it's a blocking problem.

On my test server :
[code]

This doesn't allow the teacher to upload files in session module : https://github.com/linuxmuster/linuxmuster-webui7/blob/c33ae1d35acc51fceb47144e0c7e2a1c7a103f58/usr/lib/linuxmuster-webui/plugins/lmn_session/resourc

[2020-07-09 12:09] PLanB2008 commented on #147
We shouldn't rely on the posix mapping, I think it would be better suited to allow this group via ACL. Nevertheless adding the teachers-role seems to be a good idea for the moment.

I'll give it a try and provide a bugfix.

[2020-07-09 12:19] kiarn commented on #147
Sorry, I don't remember the reason, but why don't upload this in a tmp directory in user's home, and then delete this ?
Only because of the owner/group owner ?
Since the webui is running as samba user, maybe this is not a problem anymore, would worth checking this.

[2020-07-09 12:22] PLanB2008 commented on #147
We do this because its not safe to assume the users home folder is on the same server than the WebUI. When running with a dedicated fileserver, or in a multischoolenvironment, the fileserver runs on another server which is connected via DFS (distributed filesystem).
So we upload this in a tmp directory and move it into the right home folder via samba which is using the fileserver provided via DFS

[2020-07-09 12:26] kiarn commented on #147
Ha, ok ! I forgot about the DFS and multischool env, thanks for the reminder.

[2020-07-20 07:10] zefanja opened #148 "School Console Title"
Just an idea:

Currently the webUI has the following website title, e.g. "Students | server.domain.com". What about displaying the school name / school short name / abbreviation instead of the server FQDN?

[2020-07-29 07:45] kiarn commented on #119
Implemented since the last release.

[2020-07-29 07:45] #119 closed, assigned to nobody

[2020-07-29 07:56] kiarn commented on #138
I made a commit for the second option, and removed the comma, I think we can close it.
Please see : https://github.com/linuxmuster/linuxmuster-webui7/commit/cacb5a4bcba6163735a20f1b81050933007b1547

[2020-07-29 07:56] #138 closed, assigned to nobody

[2020-07-29 07:59] kiarn commented on #148
Nice idea, but it needs some work, since we have to load each time the linuxmuster config before the page shows.

[2020-07-29 08:00] kiarn commented on #132
Already done.

[2020-07-29 08:00] #132 closed, assigned to nobody

[2020-07-29 08:55] PLanB2008 opened #149 "Sophomorix-session list sessions"
List sessions should use

--supervisor $username

so speed is increased

[2020-07-31 08:13] zefanja commented on #37
Still an issue, should be opened again.

[2020-07-31 14:34] PLanB2008 commented on #37
I'll look into this again. If I recall correctly this is used for language AND for the ssl certificate country.

[2020-08-07 12:43] kiarn commented on #148
It's quite done, we just have to clarify some changes for the upcoming features.

[2020-08-07 12:43] #148 closed, assigned to nobody

[2020-08-11 15:21] jolly-jump opened #150 "Modal dialog does not disappear when deleting projects"
When I delete a project as a teacher in the webui,
the shown dialog does not disappear, while the new modal dialog ("do you really...")
already appears below.
Just clicking next to the first dialog lets it disappear and one can click to agree to really delete.
TRied chromium and icecat as browsers.

[2020-08-11 15:24] kiarn commented on #150
Hello @jolly-jump,

It's already solved here : https://github.com/linuxmuster/linuxmuster-webui7/commit/f8dbaade2786d97e4abacc4f3d6ecb2b20d6a891
But not published.

Arnaud

[2020-08-11 15:24] #150 closed, assigned to nobody

[2020-08-12 20:12] jolly-jump opened #151 "Removing teachers from class -> project not found"
Removing teacher from a class in the webui results in an error message saying that the project p_10b could not be found.
see screenshot...
this seems to be a bug...
![Screenshot_20200812_220734](https://user-images.githubusercontent.com/2824334/90062952-d73f6180-dce8-11ea-8093-0f1cb22548dc.png)

[2020-08-13 11:07] jolly-jump opened #152 "projectname should at least allow "_""
- only allows numbers and small letters so far
- why not "_" or "-"?

It is not very comfortable to name projects like this, e.g.
"9bcnwt", "9ablatein"

workaround "latein9ab" is no very much better.

[2020-08-14 11:07] jolly-jump opened #153 "minor detail: project should be ticked when created"
When creating a new project, the project is not checked/ticked off in the list although the creator is obviously in the project.
Checking/Ticking it off does not seem to change anything.
So, I guess it should be ticked off right from the start.

[2020-08-15 07:25] zefanja opened #154 "No way to clear selection in user management"
There is a button in user management to select all users in the list, but no way to clear the selection again.

[2020-09-03 12:43] kiarn commented on #152
Hello,

@jeffbeck : do you see a problem with using "_" or "-" in project names ?
When not, I can extend the scheme in the Webui.

Arnaud

[2020-09-03 12:45] kiarn commented on #151
Hello,

The name of the project you are showing ( 10b migrated )does not seem to respect the name scheme of a project, i.e. 'p_SOMENAME', that's the reason.

How did you create this project ?

Arnaud

[2020-09-03 13:03] #153 closed, assigned to nobody

[2020-09-03 15:17] #154 closed, assigned to nobody

[2020-09-04 07:28] jolly-jump commented on #151
Hi,
this is *not* a project.
This is me trying to remove teachers from a *class*!
Tobias

[2020-09-04 07:43] jolly-jump commented on #151
The class is named "10b migrated" because it was migrated from 6.2.

[2020-09-04 20:28] kiarn commented on #151
Ok, got it, I didn't pay enough attention to the screenshot.
https://github.com/linuxmuster/linuxmuster-webui7/commit/7c5eeec75162efb3fd39542975b63f73e243e182 solves this partially, because I'm not able to create a class with a space ( how to do this @jeffbeck ? ), and I think that this space in the name will cause further errors.

[2020-09-04 21:22] jolly-jump commented on #151
I am not sure, what the name is, the class was called "10b", but somewhere there is a "displayname" "10b migrated" which came obviously from the migration...

[2020-09-04 21:55] kiarn commented on #151
Maybe you can view it with `sophomorix-class -i`.

[2020-09-04 22:14] jolly-jump commented on #152
Just for the record: I do have several old projects which were migrated from the 6.2 which have the "_" in the name, like p_ag_bogy and I am 100% sure they were created by collegues through the old Schulkonsole.
So at least the "_" was always ok.
And using it on the command line I can definitely create a project using "_" and "-".

Arnaud: where is the line I could patch this in, do you have the t

[2020-09-04 22:25] kiarn commented on #152
I have tested it this week, and I can confirm, there was no error. I just wanted a confirmation from @jeffbeck, because I don't know all consequences for such a modification.

Here : https://github.com/linuxmuster/linuxmuster-webui7/blob/d1c3e5723c470031f10ef6190fe1df91b5e37e02/usr/lib/linuxmuster-webui/plugins/lmn_common/resources/build/all.js#L412
I think adding "_\-" in the regexp would do the

[2020-09-05 08:03] jolly-jump commented on #152
Yes, this works:

[code]

only with "-" or only with "_" in it or with both of them in there.

even when you start with a hyphen like "-test" ...

[2020-09-05 08:35] kiarn commented on #152
Ok, thanks, but you should escape the hyphen in the regexp.

[2020-09-05 10:10] jolly-jump commented on #152
Ok. I escaped the "-".
It is a little weird to start a project name with a "-", but it does work in the Schulkonsole and in the command line.

BTW, the fixes / workarounds for
#153
#150
do also work perfectly. I have patched them manually.

BTW, My packages are:
[code]

[2020-09-05 10:23] jolly-jump commented on #152
Two more "oh I don't get this"

- there is a file "validation.service.coffee' which does also some kind of validation
https://github.com/linuxmuster/linuxmuster-webui7/blob/d1c3e5723c470031f10ef6190fe1df91b5e37e02/usr/lib/linuxmuster-webui/plugins/lmn_common/resources/js/validation.service.coffee#L43
is this the source code, and I edited the already-built-code?

- the string and the translation ne

[2020-09-05 10:27] kiarn commented on #152
I still cannot update the deb database, we have to wait until the others have time for this.

Exactly.

That's the wrong approach. I did a translation update this week, not published.
To modify / correct a translation, please do it there : https://crowdin.com/project/linuxmusternet, and then we retrieve the new strings.

[2020-09-05 21:14] jolly-jump commented on #151
Thanks you are right.
Class name was "10b", Class description was "10b migrated". Anyway, the system removed those already anyway.

[2020-09-18 00:36] zefanja opened #155 ""Finish" - button is not displayed, after setup is done"
When I run the initial configuration in the webUI, after the linuxmuster-setup script is done, the Finish button is not displayed. I have to reload the page finish the setup.

[2020-09-19 05:50] zefanja commented on #155
![Peek 2020-09-19 12-47](https://user-images.githubusercontent.com/708888/93660215-a0423580-fa76-11ea-9b9e-ec949ccf8f92.gif)

[2020-11-23 18:13] ni-kw opened #158 "Error handling in exam mode"
By collecting:

Either sophomorix field doas not exist or ajenti binduser doas not have sufficient permissions. Error Message: 'COMMENT_EN' Dictionery...

[2020-11-24 08:36] HappyBasher opened #159 "Testing webui with 20.04"
I upgraded a test system to 20.04. After reboot `dpkg-reconfigure linuxmuster-webui7` was necessary. This runs without errors. Webui service does not start. Manually invoking
`/usr/bin/python3 /usr/local/bin/ajenti-panel -d --stock-plugins --plugins /usr/lib/linuxmuster-webui/plugins`
causes the following error:
`<frozen importlib._bootstrap>:219: RuntimeWarning: greenlet.greenlet size changed, ma

[2020-11-24 11:06] kiarn commented on #159
This is already solved in Ajenti, please see : https://github.com/ajenti/ajenti/commit/bbce12fd167d3fa3f5d29244731eb79d69ef24d9

Next version should soon be released.
You can also test with : `/usr/bin/python3 /usr/local/bin/ajenti-panel -dev --stock-plugins --plugins /usr/lib/linuxmuster-webui/plugins`

[2020-11-24 11:06] #159 closed, assigned to nobody

[2020-12-08 21:48] jolly-jump opened #160 "Projects should (eq. to classes) auto-create sessions"
- Being subscribed to classes (Klassen) generates sessions (Kurse) automatically ( on-the-fly?)
- why not autocreate sessions ("Projekte") automatically generated from all subscribed projects.

Background:
In our school all the possible mixed classes are generated by teachers (NWT_10ab, IMP_9acd, Religion_8ab,  Latein_7ab, K1_Kül_Mathe) usw. We have *a lot* of projects therefore.

When teachers wa

[2020-12-22 17:52] dorianim opened #161 "Option for UseMinimalLayout in Linbo configuration"
Hey everyone,

The new Linbo GUI adds a new parameter to the start.conf file: `UseMinimalLayout`.
It  is of type Bool and controls how the GUI looks.
It would be nice to have a setting for this added to the input mask in the webui :)
(Somewhere over here)
![Screenshot from 2020-12-22 18-49-08](https://user-images.githubusercontent.com/30153207/102918174-be10a380-4486-11eb-8ae6-c3057167298f.png)

R

[2020-12-22 18:18] kiarn commented on #161
Hello @CodeCrafter912,

Default value is false ?

Regards,

Arnaud

[2020-12-22 18:33] dorianim commented on #161
@kiarn
Yep, default is false

[2020-12-22 19:09] #161 closed, assigned to nobody

[2020-12-22 19:15] dorianim commented on #161
That was fast, thank you :)

[2020-12-22 19:22] dorianim opened #162 "Migrate OS icons from .png to .svg"
Hello again,

The new Linbo GUI uses .svg icons instead of .png.
It would be nice to use these new icons in the webui as well.
(over here)
![OsIcons](https://user-images.githubusercontent.com/30153207/102925139-25cceb80-4493-11eb-9915-d68036b01d7a.png)

All the new Icons can be found over here: [https://github.com/linuxmuster/linuxmuster-linbo-gui/tree/master/build/icons](https://github.com/linuxm

[2020-12-22 20:32] kiarn commented on #162
Hello @CodeCrafter912,

For this, I think we should ensure the compatibility with all linbo versions and first check which linbo version use svg instead of png. Is it for `linuxmuster-linbo7` up to 2.4.1 or only if `linuxmuster-linbo-gui7` is installed ?

Regards,

Arnaud

[2020-12-22 22:07] kiarn commented on #162
One more thing : all icons was always present in `/srv/linbo/icons/` (or `/srv/linbo/boot/grub/themes/linbo/icons/` ?) through the package `linuxmuster-linbo7`.
I just checked that the webui always lists the icons of `/srv/linbo/icons/`, and it may be wrong since months, can someone please confirm this is the right directory ? (@HappyBasher ?)

So, if we want to list the new svg icons in the webui

[2020-12-22 22:47] dorianim commented on #162
Hi @kiarn

This just applies to linuxmuster-linbo-gui7.

Maybe it would make sense to keep both icon formats until only the new GUI ist supported?
I am not sure how to implement that cleanly though...

[2020-12-22 23:09] kiarn commented on #162
Hi @CodeCrafter912

Ok, then it is possible to check whenever this package is installed, and then use svg instead of png.

You can see an example in the linbo repo :

- all icons are stored in https://github.com/linuxmuster/linuxmuster-linbo/tree/master/files/common/var/linbo
- the content of this directory is copied in the deb package, and then extracted through the install process : https://gith

[2021-01-12 20:25] dorianim opened #164 "Linbo config option for background color"
It would be nice to have an option for the Linbo background color over here:
![image](https://user-images.githubusercontent.com/30153207/104368317-33b6df00-551c-11eb-82de-43df38544860.png)
The color has to be set via the `BackgroundColor` parameter and must be a html hex color ([example can be found here](https://www.w3schools.com/colors/colors_picker.asp)).
It is important though, that the "#" be

[2021-02-05 16:12] kiarn opened #168 "Missing ntacl in deb package"
Hello,

The file `/usr/lib/linuxmuster-webui/etc/webuiUpload.ntacl` is missing in the deb packages, breaking the update process :

[code]

is empty.

As workaround, I told to do the following :

[code]

Thanks

Arnaud

[2021-02-13 10:13] kiarn commented on #155
Hello @zefanja

Is this issue still valid ?
I know my answer is really, really late, but I was not able to reproduce this. I have tested it again this week with a new install and firefox as browser, without problem. Did you have some errors during the provisioning ?

Arnaud

[2021-03-31 12:29] dorianim opened #171 "Add options for -n and -d to Linbo Sync plugin"
It would be nice to have the options `-n` and `-d` available in the Linbo sync plugin.
- n prevents the autostart
- d disabled the new gui

[2021-04-03 17:02] kiarn commented on #171
Hello @CodeCrafter912

I think it's done, it would be nice to test it if you can, but the displayed result command seems ok.

Arnaud

[2021-04-03 17:02] #171 closed, assigned to nobody

[2021-04-03 18:00] dorianim commented on #171
Thank you,  I'll test it tomorrow :)

[2021-04-06 15:57] dorianim commented on #171
Unfortunately I am unable to test this due to a bootstrap error. The browser console give the following logs:
[code]

[2021-04-06 16:00] kiarn commented on #171
I'm not the author of the vdi plugin. Is there something in `/var/log/ajenti/*log` ?

[2021-04-07 11:54] dorianim commented on #171
Yes, the logs shows an error as well:
[code]

[2021-04-07 12:39] kiarn commented on #171
I have corrected this here : https://github.com/linuxmuster/linuxmuster-webui7/commit/452545b3057232b31d57ed75a9fcc47d52a67aaf
But I don't think it's related.

Maybe your error occurs because I have renamed all plugins and I forgot something in Angularjs, but I cannot reproduce this. Does the web console say something else ?

[2021-04-09 08:43] dorianim commented on #171
Yes, it is unrelated.
The browser console shows
[code]
very often together with
`Angular bootstrap has failed`.

[2021-04-09 09:37] kiarn commented on #171
Please try this :

[code]

There was some syntax change in the `plugin.yml`, and some plugins (ni_*) have not been updated yet. That's the reason why I didn't upload a deb package last week.

[2021-04-09 10:05] kiarn commented on #171
In order to see what happen :

[code]

[2021-04-09 16:24] dorianim commented on #171
I don't  see error when running the command you gave, but the bootstrap issue remains...
[code]

[2021-04-09 16:25] dorianim commented on #171
By the way, what does the vdi plugin even do?

[2021-04-09 18:51] kiarn commented on #171
It's a plugin from NI to manage virtual machines in proxmox. You can also move this directories from `/usr/lib/linuxmuster-webui/plugins` to another place and then restart the webui to test.

[2021-04-10 06:27] dorianim commented on #171
So, I had t move the plugins `lmn_dhcp  lmn_samba_dns  lmn_vdi_administration  lmn_vdi_dashboard` away to get rid of the Module not available errors.
Now I get a different error though:
[code]

[2021-04-10 11:30] dorianim commented on #171
Hi @kiarn
Looks like it works fine! :)
Just one small proposal: As a Label, I would not use "Bypass start.conf" but rather "Bypass autostart"

[2021-04-15 09:05] kiarn commented on #147
Does the new `ntacl` permission file solve this problem ?
Can we close this issue ?

[2021-04-15 09:14] kiarn opened #172 "Wrong ACLs to delete files"
Hello,

It's currently not possible to delete any file as teacher in his home directory `/srv/webuiUpload/default-school/teachers/masskrug`. The Webui shows the deleted file as "deleted" because it simply remove the entry in the JS-Object, but the file is not deleted on server side.

The reason is that the acl are not set correctly for this situation :

- `Webui` runs with uid `masskrug` and gid `

[2021-04-15 14:49] PLanB2008 commented on #147
This can be closed.

The other issue for the missing ntacl file is also on my list, I've to write a script which will be executed by sophomorix base during setup...

https://github.com/linuxmuster/linuxmuster-base7/issues/113

[2021-04-15 14:49] #147 closed, assigned to nobody

[2021-04-15 14:51] kiarn commented on #147
Thanks ! :+1:

[2021-04-19 16:23] dorianim opened #173 "Add functionality to add rooms to printer groups"
Add functionality to add rooms to printer groups inside the webui.

[2021-04-20 09:26] dorianim opened #174 "Allow deleting multiple images at once"
Please allow deleting multiple images at once. This would make cleaning backups much easier.

[2021-04-22 09:09] dorianim opened #176 "Add support for editing the prestart script"
Add support for editing the prestart script of an image. This could be achieved by simply adding another tab to the image editing popup:
![image](https://user-images.githubusercontent.com/30153207/115688136-2733f500-a35b-11eb-92af-182f86c177b0.png)

[2021-04-22 09:45] kiarn commented on #173
I'm asking some questions to fully understands how `sophomorix-group` works :

https://github.com/linuxmuster/sophomorix4/issues/131

This should be done soon.

[2021-04-22 09:46] kiarn commented on #176
Can you please describe which file to edit ( path, extension, name model ), and from which version of linbo we can use it ?

[2021-04-22 09:58] dorianim commented on #176
It is similar to the postsync script:
\<imagename\>.cloop.prestart

[2021-04-22 10:03] PLanB2008 commented on #176
Thats not true. This seems to be the first file which has do be written without the .cloop extension so it should be

`<imagename>.prestart`

https://github.com/linuxmuster/linuxmuster-linbo/commit/4759d9e24f02e3b06b8365015a97fee8d3a3a13e#diff-94e15f7aab87c8ae1aa92e19b55c796192850c2b3c3cc5ecf62344caa144a3f2R1542

Where `/mnt/.linbo ` is a textfile containing the imagename (eg. in Windows C:\.linbo

[2021-04-22 10:54] dorianim commented on #176
Yep, looks like you are right. Apologies for the confusion :)

[2021-04-22 12:06] kiarn commented on #176
Ok, thanks. And what are the right permissions for a `IMAGE.prestart` script : 644, 664, other ?

[2021-04-22 15:55] #176 closed, assigned to nobody

[2021-04-22 19:31] #174 closed, assigned to nobody

[2021-04-22 21:28] #164 closed, assigned to nobody

[2021-04-22 21:30] kiarn commented on #164
I think it's done, but it must be tested. Is that a problem if the option `BackgroundColor` is empty in the `start.conf` file ?

E.g. :

[code]

[2021-04-23 05:20] dorianim commented on #164
Thank you :)
Should not be a problem. I will test it and if it actually is a problem, I will fix it.

[2021-04-23 08:09] dorianim opened #177 "Linbo config option for clientDetailsVisibleByDefault"
Hi,
There is a new config option in the start.conf `clientDetailsVisibleByDefault` inside the `[LINBO]` block.
It controls if the additional client information are visible by default or not.
Please add a checkbox for this in the Linbo config popup :)

[2021-04-23 08:12] #177 closed, assigned to nobody

[2021-04-24 11:42] #162 closed, assigned to nobody

[2021-04-24 15:30] kiarn commented on #173
I checked some points with `sophomorix` and there's some work to do so it works :

https://github.com/linuxmuster/sophomorix4/issues/132
https://github.com/linuxmuster/sophomorix4/issues/133

[2021-05-05 11:06] dorianim opened #178 "linuxmuster-imort-devices multi-school"
I don't know if this is still relevant, but I'm opening this, so it is not forgotten:
linuxmuster-import-devices now needs the parameter `-s` followed by the school in multi-schools.

[2021-05-05 11:12] kiarn commented on #178
Ok, but as I see in the source code of `linuxmuster-import-devices`, it's a non-breaking change : without the `--school` argument, `default-school` is chosen.
So it's only necessary to add it in multischool env, I think @PLanB2008 will make it.

[2021-05-06 08:26] kiarn commented on #111
There wasn't any update for this the past months, and I didn't encounter the same problem.
I think we can close it.

[2021-05-06 08:26] #111 closed, assigned to kiarn

[2021-05-06 08:29] kiarn commented on #69
I think it's solved in testing.

[2021-05-06 08:29] #69 closed, assigned to nobody

[2021-05-06 08:31] kiarn commented on #13
I think it's the same conclusion as #74 .
Once the setup is done, it's not possible to undo it.

[2021-05-06 08:31] #13 closed, assigned to nobody

[2021-05-06 16:11] PLanB2008 commented on #172
I don't get it.

The permissions (now correctly fixed for fresh installs in: 137c97edf02d64b614dfaa0c298cd1c33f8df34b ) allow everyone in role-teacher to create and delete everything).

Deleting files in the upload dialogue should delete files in /srv/samba/default-school/teachers/masskrug/transfer or whatever. These acls should be correct from the beginning.

Could you go into detail a little mor

[2021-05-06 16:12] PLanB2008 commented on #178
implemented in 83b75de6178f0cc572c73b4964d500e8c788959c

[2021-05-06 16:12] #178 closed, assigned to PLanB2008

[2021-05-06 16:17] PLanB2008 commented on #168
This is fixed in 137c97edf02d64b614dfaa0c298cd1c33f8df34b

I moved it into the initial installation hookdir. On new systems it should run now without a flaw. On system which still have this bug I suggest running

`/usr/lib/linuxmuster-webui/etc/create_webuiUploadFolder.sh`

[2021-05-06 16:17] #168 closed, assigned to PLanB2008

[2021-05-06 16:19] kiarn commented on #172
Yes, I must edit my first post because I used the wrong path to describe the problem.
We are speaking of `/srv/samba/default-school/teachers/masskrug/transfer` and not `/srv/webuiUpload`, sorry for the confusion.

So, basically, a teacher in `role-teacher` group cannot delete a file in his home transfer file. It works as group `users` but not as group `role-teacher`.

[2021-05-06 16:21] PLanB2008 commented on #149
Seems I implemented this 3 years ago... cc1b3b4dd03dfbc0291fd4df703d4e600fc21e7b 🥇

[2021-05-06 16:21] #149 closed, assigned to PLanB2008

[2021-05-06 16:42] PLanB2008 commented on #172
Hmmm but  why is this the case? When I upload a file via webui I get the following permissions:

[code]

These permissions are set by

[code]

Having the right user attribut set it should be possible to delete. The group attribute is not neccessary.

[2021-05-06 16:55] PLanB2008 commented on #172
Running the same command as this user works as well...

[code]

[2021-05-06 16:58] kiarn commented on #172
Yes, it's because all teachers are member of the group `users`. I don't understand what is happening and I'm trying to test further. `users` is a local group, is it possible that the permission on a local group have precedence over a samba user ?

[2021-05-06 20:53] kiarn commented on #172
So I made some others tests as `teacher:role-teacher`. The problem is the test if the file exists here : https://github.com/linuxmuster/linuxmuster-webui7/blob/7b7e8466b52b81da0f42937c965304dd085acd9f/usr/lib/linuxmuster-webui/plugins/lmn_common/views.py#L104

`os.path.exists` will fail if it can not perform an `os.stat` on the file or the directory.
`os.path` works fine for `/srv/samba`, `/srv/sa

[2021-05-07 07:38] kiarn commented on #172
More tests :

[code]

If i do the same with the `pysmbclient` library (using kerberos), I have no problem, so I'm slowly thinking that the `os` module in `python` has problem to read some ACLs.

[2021-05-07 07:43] PLanB2008 commented on #172
Well to be honest using pysmbclient or implementing this in sophomorix is the only long term solution anyway.

Deleting files this way only works when the teacher home is a local path. I think the easiest way to tackle this would be to implement a delete function in sophomorix-transfer and use this to delete a given file.

Using pysmbclient could be seen as a long term solution but we rely on soph

[2021-05-07 08:28] kiarn commented on #172
I get the same permission error with `os.unlink` so I think we can only provide a quick fix with a new option in `sophomorix-transfer`.

[2021-05-07 08:46] #152 closed, assigned to kiarn

[2021-05-07 10:54] PLanB2008 opened #179 "Unwanted behaviour in Group Menu"
![grafik](https://user-images.githubusercontent.com/26460239/117439358-08c12280-af33-11eb-97f1-40c6816c0345.png)

Its possible to remove students from a class via the group edit menu. This shouldn't be possible at all. Also making a student a admin is an unwanted behaviour.

I suggest

- removing delete project at all in the class details.
- removing make admin
- removing options to remove hidden

[2021-05-07 11:25] kiarn commented on #179
So I think I can also remove the red admin panel for a class, it's not necessary, don't you think ?

[2021-05-07 11:52] PLanB2008 commented on #179
Ya I think so, this menu does not need a lot of information I guess.

[2021-05-09 12:53] kiarn commented on #37
This parameter is saved as language in the Webui, and as `country` in `setup.ini`, but I was not able to find any use of this parameter in https://github.com/linuxmuster/linuxmuster-base7, even for the certificate. So I changed back the label to language, and updating this is not a big deal, so we can close this.

[2021-05-09 12:53] #37 closed, assigned to kiarn, PLanB2008

[2021-05-09 13:26] #179 closed, assigned to kiarn

[2021-05-14 08:55] kiarn commented on #37
I got the confirmation of @HappyBasher that this is not used anymore in `linuxmuster-base7`.

[2021-05-14 09:03] kiarn commented on #135
The only way I was able to reproduce this was with an empty csv file, but not for other usual encoding types, or do you know other cases ?

[2021-05-14 09:24] kiarn commented on #155
I tried again without problem. So I suggest to close this for the moment. If we get more details or if it occurs again we can still reopen it.

[2021-05-14 09:24] #155 closed, assigned to nobody

[2021-05-14 09:27] kiarn commented on #68
Is it still a thing, or can we close it ?
I was never able to see this kind of behaviour during an update or a new install.

[2021-05-19 10:49] PLanB2008 opened #180 "Group Membership Module uses wrong attribute to determine teacher"
In group membership module you check if a member of a class is teacher by checking for _member.sophomorixAdminClass_.

This does not work in a mutlischool environment because the _sophomorixAdminClass_ is in this case <school_shortname>-teachers.

Better use _sophomorixRole_ in this case because this is the same for all teachers.

[2021-05-20 09:45] kiarn commented on #180
I have to use `sophomorixAdminClass` in order to display the different user, but instead of using `sophomorixRole` just for some checks it's maybe better to test if `sophomorixAdminClass` ends with `teachers`.

[2021-05-20 11:14] jeffbeck commented on #180
I want to encourage the idea to use sophomorixRole.
Thats the attribute for sophomorix to decide, if a user is teacher.
In future we might add other group names that are teachers.

[2021-05-20 12:42] kiarn commented on #180
First of all, I fully agree with both of you, `sophomorixRole` is the right value to check, nothing to say about it. My thought was just trying to avoid performance issue into transporting a var for all users. But I just saw that `sophomorixRole` is already include in the members details, so I will simply use it as @PLanB2008 's suggest :)

Second, I don't get the point with this :

If an user has

[2021-05-20 13:03] #180 closed, assigned to kiarn

[2021-05-20 13:23] jeffbeck commented on #180
we have some supporting 'teachers' (social workers) from our city. Not from Baden-Württemberg.
For linuxmuster, they do the same work as teachers.
For other uses (listing their working hours, no access to marks (Zeugnisse)) they are a bit different.
So one day there might be a need to name their group city-techers with the role teachers

[2021-06-11 07:47] kiarn commented on #151
Hello @jolly-jump ,

I've just tested this with the last testing and master versions since the changes last month, and it seems that it now works, I can not reproduce it anymore with a `10b migrated` class, so I suggest to close this issue.

Feel free to comment it, we can reopen if you still have this issue.

[2021-06-11 07:47] #151 closed, assigned to kiarn

[2021-06-11 07:53] kiarn commented on #135
I thin k we can close it, https://github.com/linuxmuster/linuxmuster-webui7/commit/3083684829a3df25eb7cf667116e6d26d85803ea should have fixed it.

[2021-06-11 07:53] #135 closed, assigned to kiarn

[2021-06-17 16:23] HappyBasher opened #181 "Support qcow2 linbo images"
Next Version of linuxmuster-linbo will use qcow2 image format. Please support the .qcow2 image file extension in
linuxmuster-webui7.

[2021-06-19 13:22] kiarn commented on #181
Hello @HappyBasher,

Does the additional files scheme stay the same ?
I mean, do we have files named like :

[code]
?

[2021-06-19 14:05] HappyBasher commented on #181
Hi @kiarn !

Yep. And the additional files
ubuntu.prestart
ubuntu.postsync
ubuntu.macct
which appear in future without image extension.
Note: You have to support also the old variant with extension.

Enjoy the heat! ;)

[2021-06-23 19:50] dorianim opened #182 "Preserve additional columns in students.csv"
Hi,

It would be nice, if extra columns in the students.csv (after the student id). This could be used for custom data, like a private email address. I also opened a related issue in sophomorix: https://github.com/linuxmuster/sophomorix4/issues/138

[2021-06-23 19:52] kiarn commented on #182
Hi @CodeCrafter912

I'm currently planning to make a separate plugin to handle all custom fields on it's own for many resources ( emails, Kürzel, school subjects, ... ).

[2021-06-23 20:00] dorianim commented on #182
Oh, that is cool!
I'm looking forward to seeing it :D

[2021-06-27 11:01] kiarn commented on #182
So, I made it this way ( not published yet ) :

First of all, display the content of the cutom fields in the users details and make it editable :

![teachers-details2](https://user-images.githubusercontent.com/10401079/123541756-72e19100-d746-11eb-9bbe-e7709784211e.png)

You see "custom 1", "multi custom 1" is not pretty clear, so I have added a tab in the school settings in order to configure the

[2021-06-29 06:50] dorianim commented on #182
That is really, really cool :D
Is there also an Option for importing these using the list import?

[2021-06-29 06:56] dorianim commented on #182
Just out of interest:
Where are you storing the names of the cutsom fields?

[2021-06-30 16:02] kiarn commented on #182
Thanks.

Not for the moment, and I think it must be implemented in `sophomorix`. The reason is : we need to know the `uid` of an user in order to call `sophomorix-user`. It would be complicated to parse the result of an import and then to call another command to set the custom fields.

In `/etc/linuxmuster/webui/config.yml`
I still didn't have the time to work further on it, I'll try this week-end

[2021-06-30 17:21] dorianim commented on #182
Ok, I understand that.
Would it still be possible to at least preserve additional columns? I will use the sophomorix hook in combination with a custom script to push the data to the AD myself. It's not optimal, I know, but I need this to work somehow. The reason is that we are getting a list with all our members from our member management tool. This list includes email addresses, and I need a way

[2021-07-01 09:24] kiarn commented on #182
We must have a look at this with @PLanB2008 because he was the one who developped the import module.
It would also be a good solution for my environment.

[2021-07-05 13:59] dorianim opened #183 "Allow changing MAILDOMAIN of type.project"
Hi,
Currently, it is only possible to set the maildomain for admin and teacher classes in the school setting. It would be nice to have that for projects as well.
Over here:
![image](https://user-images.githubusercontent.com/30153207/124482701-dce2e180-dda9-11eb-8249-3fb3381b5973.png)

This is currently not working with sophomorix though, so no hurries :)
See: https://github.com/linuxmuster/sophomo

[2021-07-05 18:49] kiarn commented on #183
Hi,

Just a note for me - `school.conf` with all options :

https://raw.githubusercontent.com/linuxmuster/sophomorix4/bionic/sophomorix-samba/config-devel/master/school.conf.master

[2021-07-05 19:06] dorianim opened #184 "Allow changing proxyAddress"
Hi,
It would be cool to be able to change the proxyAddress of a user.
Its not urgent though.

[2021-07-05 19:07] kiarn commented on #184
Hi,

And it's almost already done :)

[2021-07-07 17:39] dorianim opened #185 "Toggle for sophomorixMailList"
Hi,

Projects and classes have the attribute `sophomorixMailList`. It can be set using `sophomrix-class -c someclass`/`sophomorix-project -p someproject` together with `--maillist` and `--nomaillist`. This sets whether there should be a mail list for this project/class. It would be nice to have a toggle for that somewhere in the class/project settings.

[2021-07-07 18:33] #185 closed, assigned to nobody

[2021-07-07 20:56] dorianim commented on #185
Wow, that was fast :+1:

[2021-07-10 16:48] kiarn commented on #184
Done in testing ( currently only for teachers, will come for students too ).

[2021-07-10 16:48] #184 closed, assigned to kiarn

[2021-07-21 09:28] PLanB2008 opened #186 "Setup Wizard Checking Servers Issue"
When checking the docker and opsi server the setup wizard tries to establish an ssh connection.

This only works if the ssh key exchange has already been done.
At this point there is no ssh private key on the server. Essentially the check should try the default password for the ssh authentication 'Muster!'

At the moment we use the ssh command to achieve this but the ssh command cannot receive a c

[2021-07-21 18:59] #183 closed, assigned to kiarn

[2021-07-21 20:35] kiarn commented on #186
Hello @PLanB2008

I've added a basic test in `tools.py` using `paramiko`, and I let the examples.
It seems to work on my test system, but please test it again to see if it solves your problematic.

There's an additional variable `err` in order to describe the error if the ssh connection failed, but this is currently not used.

[2021-07-22 21:18] kiarn opened #187 "New footer style"
Hello,

I found the footer style not pretty, so I made a `btn-lmn` class in order to ameliorate this.

Before :

![TeachersVor](https://user-images.githubusercontent.com/10401079/126710762-65a88197-67f2-409c-baa3-cbfa8520360a.png)

After :

![TeachersNach](https://user-images.githubusercontent.com/10401079/126710778-9ed23d0b-261f-43a3-82e3-9e21b92a0016.png)

Colors are inspired from the LMN Logo,

[2021-07-23 15:01] dorianim commented on #187
Looks good 👌

[2021-08-04 20:33] nikolaslibert opened #188 "Desired Password not working for Teacher"
Hi,
when you go to the listmanagement, choose the teachers tab, enable the field/column "Desired Password", and choose a password, the fist password is still being set to "Muster!". The field "Desired Password" affects the field "sophomorixUnid" (I don't know what is it for) in AD and doesn't change "sophomorixFirstPassword".

greetings,
Liebert

[2021-08-06 06:18] kiarn commented on #187
I made the button a little more visible ( bold + 2px border ).
The whole is in testing.

[2021-08-06 06:18] #187 closed, assigned to kiarn

[2021-08-06 07:42] kiarn commented on #188
Hello @nikolaslibert

Thanks for your contribution. I've tested this functionality and came on the following conclusions :

- the "Desired Password" field has no influence once the user is created. This mean it's not possible to change change the password of an existing user with this method, but only through the Teachers management. This is written in the man : https://github.com/linuxmuster/soph

[2021-08-31 21:37] delacroix0815 opened #189 "schooladmin cannot switch into "List Management" view - Server error occured. This is likely a bug."
As global-admin, i created several school-admins, but none of them can switch into the Listmanagement view - Screenshot below.

![Bildschirmfoto_2021-08-31_23-32-44](https://user-images.githubusercontent.com/20043526/131578625-93f19509-e9ac-4585-98cc-28e5a3b3ef34.png)

As global-admin, it works. I think this bug has been mentioned in the forums already: https://ask.linuxmuster.net/t/webui-this-is-

[2021-08-31 21:50] kiarn commented on #189
Hello,

The error mentioned in the forum should be fixed and published since last year.
I cannot reproduce this problem. Do you have more informations in `/var/log/ajenti/ajenti.log` ?

[2021-08-31 21:59] delacroix0815 commented on #189
Not much unfortunately:

I logged in as schooladmin 'createc' first tried to switch to the ListView Panel, then as 'global-admin', then as 'createc' again, as seen in the output above.

'fixed and published last year' -- meaning it should already be on our system when we ran apt update && apt dist-upgrade?

[2021-08-31 22:28] kiarn commented on #189
Ok, the logs don't show anything interesting.

If you want, you can try to activate the debug mode :

[code]

Change :
[code]

to

[code]

and then :

[code]

This way we may have more informations about the problem.

If it's the same problem, yes, it should already be fixed on your system :)

Arnaud

[2021-08-31 22:42] delacroix0815 commented on #189
Debug output during login as 'createc':

[2021-08-31 22:44] delacroix0815 commented on #189
As global-admin:

[2021-08-31 22:54] kiarn commented on #189
Unfortunately it's not better with debug mode : we can see the HTTP 500 but not the reason.

Another possibility is to launch the webui per Hand, but first change the systemd file config back to the previous version, and then run a

[code]

and then :

[code]

When the error is thrown, you can stop it with Ctrl - C and then restart the systemd service.
Hopefully we will know what is going on : I w

[2021-08-31 23:07] delacroix0815 commented on #189
Finally :)

[2021-09-01 06:36] kiarn commented on #189
Thanks for your effort, but that's not the error we are looking for, it just says that a development tool is missing, what is normal on your machine. Installing this tool is not a solution because you will missing dozen of dependencies to compile the files.

I will test on another of my servers today and see if I find a better solution to debug.

[2021-09-01 20:24] kiarn commented on #189
I don't find a simple way to debug this actually, so I ask some others questions to try to understand the situation :

1) Does the file `/etc/linuxmuster/sophomorix/default-school/school.conf` has the right permissions ?
2) Is there some duplicate entries in ?
3) Is there any error in the web developer console of the browser ?
4) Can you please run `sophomorix-user -u createc -iv | grep schoolsett

[2021-09-02 21:09] delacroix0815 commented on #189
1. -rw-r--r-- 1 root root 1,7K Feb  7  2021 /etc/linuxmuster/sophomorix/default-school/school.conf
2. Contains duplicates like QUOTA_DEFAULT_GLOBAL, but in different sections for the [role.students|teacher|schooladmins], so i guess this is ok
3. didn't check that because i dunno what to look for
4. output for "sophomorix-user -u createc -iv | grep -i schoolsettings" was empty, i then did "sophomor

[2021-09-03 16:25] kiarn commented on #189
In your browser, for example chrome, with F12 you can acces a web developer console.
Errors are shown in the tab Console.

It could be ok, it depends which version of the webui you are using : stable or testing ? ( with your description, it should be stable ).
You can also post the result of `dpkg -l | grep webui`.

Arnaud

[2021-09-07 14:42] kiarn commented on #189
Ok, I found out why I was not able to reproduce the issue.

To solve this please edit `/usr/lib/linuxmuster-webui/etc/default-ui-permissions.ini` and add the following line in the `[schooladmin]` section :

[code]

Then run `sophomorix-ui`, and the user must logout / login in the Webui.

[2021-09-07 15:26] dorianim commented on #182
I'd linke to bump this up again.
Sophomorix has an option to create custom filter scripts:
https://github.com/linuxmuster/sophomorix4/wiki/Export-and-Filters#filters

This feature is not usable in conjunction with the webui right now, as it forces the user to provide the data in the final format.
Maybe it would be possible, to provide an "expert mode" toggle which enables users to upload csv files

[2021-09-07 22:11] delacroix0815 commented on #189
Thank you, adding the line and running sophomorix-ui worked! Do you know why this wasn't included in the .ini in the first place?

[2021-09-07 22:11] #189 closed, assigned to nobody

[2021-09-08 14:36] kiarn commented on #189
Maybe this was forgotten, I really don't know, but it's corrected in testing since a long time.
Glad I was able to help, even if it was a long way.

[2021-09-08 14:45] kiarn commented on #182
Hello Dorian,

I have a lot to do actually, but the new feature seems interesting, but I didn't understand how it works. We can apply a script on e.g. students.csv to create a new csv, or did I misunderstood the workflow ?
The script can be configured in school.conf, ok, this point is quite clear.
And what is the format of the awaited header ?

[code]

?
If you already have some informations or te

[2021-09-08 20:12] dorianim commented on #182
Hi Arnaud,
I really understood this feature when following this thread:
https://ask.linuxmuster.net/t/asv-bw-exportformat-fuer-schuelerdaten/6125/5

It basically allows you to use an abritray file as students.csv and sophomorix calls your custom script on import. This script must then convert the abritray file to a sophomorix compatible csv.

This is useful when a users school management software

[2021-09-09 13:22] kiarn commented on #182
Hi Dorian,

Thanks for the description, this is the point I don't understand fully.

Given a file `export.csv` in the form :

[code]

This filter would just rewrite it as `students.csv` with the correct column order ? e.g. :

[code]

?

[2021-09-09 17:02] dorianim commented on #182
Hi Arnaud,
The filter is just a script wich recieves two arguments:
`script <path to students.csv> <path to filtered studens.csv>`

The script can do anything with the data.
Let me give an example:
Your student manager does not allow to change the order of the colums in the exported csv, so you would have to correct it manually before each import. With a custom filter script, you can place the unm

[2021-09-10 09:43] kiarn commented on #182
Thanks for your patience. So basically, this is an upload followed by the call of `sophomorix-newfile` if a filterscript is provided ( and executable ). I've just tested, seems to work well.

[2021-09-10 10:09] kiarn commented on #186
Hello @PLanB2008

Does this works as it should ?

[2021-09-10 12:41] PLanB2008 commented on #186
Ya this seems to work. I'm not sure if there's still another issue regarding the setup wizard but the ssh issue is fixed so we can definitely close the issue.

[2021-09-10 12:41] #186 closed, assigned to kiarn

[2021-09-10 13:10] kiarn commented on #182
So I add a way to upload customs CSV and to configure the path to the filter script.
This way you can apply what you want on your custom CSV ( e.g. call `sophomorix` to register your email addresses or add a column to `students.csv` ), but the extra columns will then not be saved in the official `students.csv`.

I hope it's a good solution.

[2021-09-10 13:10] #182 closed, assigned to kiarn

[2021-09-10 14:36] dorianim commented on #182
Hi Arnaud,

Thank you! This will simplify our workflow a lot :D

[2021-09-13 07:20] PLanB2008 opened #190 "Enable Reverse Surname Firstname in Listmanagement does not work properly"
Enabling the checkbox
![grafik](https://user-images.githubusercontent.com/26460239/133040514-2fb3afb5-b29b-4e8c-9ea7-e49ae9a41143.png)

adds another entry in the ini file instead of chaning the existing field:

![grafik](https://user-images.githubusercontent.com/26460239/133040585-f451507e-2c54-4aed-8b1d-15b5c5ba7daf.png)

Probably just a small / capital letter issue.

[2021-09-13 11:48] PLanB2008 opened #191 "List Management Module"
There are some minor issues with the listmanagement module.

First the birthday syntax check fails when der is a blank in this field. I suggest to ignore these. Second this fails when the birthdate is in the wrong format (eg. no leading zero).
Both of this is inconvenient when switching from lmn6 which contains both of this in a default lehrer.txt.

When adding a teacher the login field is optiona

[2021-09-13 16:38] #190 closed, assigned to nobody

[2021-09-13 16:45] kiarn commented on #191
Hello @PLanB2008

The birthday is not required anymore ? I thought it was a necessary input.

Ok, I will show at it.

So it's necessary to allow empty login field for the teachers.

[2021-09-13 18:43] PLanB2008 commented on #191
I assume I wasn't clear in describing the issue. The field is still mandatory. The issue occurs when you have an additional (or more than one) blank character / whitespace in this field.

This happens when you take a look at a line of the old lmn 6 lehrer.txt:

[code]

Not sure which part of lmn tries to display the csv nice but it adds a lot of whitespace. I would suggest just to clean this in th

[2021-09-16 15:58] kiarn commented on #191
The last commit removes all leading and trailing spaces for all fields in all CSV ( devices, students, etc ... ).
It seems to work on my installation.
The birthdate problem is solved too.

Empty logins for teachers are already allowed : https://github.com/linuxmuster/linuxmuster-webui7/blob/7fa63acf2a07ad57c30b5047b73ef297370be2bc/usr/lib/linuxmuster-webui/plugins/lmn_users/resources/js/controller

[2021-09-19 15:48] kiarn commented on #173
I add the possibilty to include a room into a printer group.
This is actually possible for project too, and I think it's not necessary to have this for project.
If @PLanB2008 confirms that we do not need this for project, I will limit the use only for printer groups.

[2021-09-19 15:48] #173 closed, assigned to kiarn

[2021-09-19 15:55] dorianim commented on #173
Cool :D
This will be very helpful for many people and should be announced in ask (best over here: https://ask.linuxmuster.net/t/fragen-zum-neuen-anmeldescript-fuer-linuxclients-linuxmuster-linuxclient7/7406 or here: https://ask.linuxmuster.net/t/linuxmuster-linuxclient7-muessen-drucker-ueber-gpos-installiert-werden/7921 )

I dont think, this is necessary for projects, at least I cannot come up wit

[2021-09-19 16:22] kiarn commented on #173
It's nothing new, just a `sophomorix-group --addmembergroups ROOM --group PRINTER`.
But we should discuss about announcements when you are back, because we first need to publish all changes since 10 months (!) and test it.

Allow the access to a share only over a room ? E.g. access to `p_arts` in the arts rooms and nowhere else.

[2021-09-19 16:33] dorianim commented on #173
It is new that it is possible in the webui, though :)

👍

This is very interesting! You've got a point there, maybe it would make sense to also enable it for projects.

[2021-09-23 08:26] PLanB2008 opened #192 "Print Password module issue in safari"
When trying to display the print password page in safari (e.g. on a mac or an iPad) not all printers are visible.

![grafik](https://user-images.githubusercontent.com/26460239/134475932-c8875b5f-8adc-4f67-88ff-9645b90996bb.png)

[2021-09-23 08:43] PLanB2008 commented on #191
You're right, this seems to work. I have to look into this again. Maybe the patchlevel was to low on the last environment I checked.

I'll close the issue. Thanks for your support!

[2021-09-23 08:43] #191 closed, assigned to kiarn

[2021-09-24 10:37] kiarn commented on #192
Should be fixed.

[2021-09-24 10:37] #192 closed, assigned to PLanB2008

[2021-09-27 06:22] dorianim opened #193 "Exception in latest testing"
Hi,

I just cloned and built the testing branch, and I get an exception over here:
https://github.com/linuxmuster/linuxmuster-webui7/blob/7828f69c296efcab2f69e5d36633a7ad3217b794/usr/lib/linuxmuster-webui/plugins/lmn_users/views.py#L193

When opening the list management:
[code]

[2021-09-27 06:27] dorianim commented on #193
It think the problem is that the global-admin is in the school `global`. This causes many more issues with other plugins as well.

[2021-09-27 06:32] kiarn commented on #193
Hi,

The multischool is running pretty well, I'm using it on many servers. Can you please print the path to show what's is going on ?
What do you mean exactly with "built" ?

Arnaud

[2021-09-27 06:52] dorianim commented on #193
Hi Arnaud,

How do I print the path?
I just cloned the repo and ran buildpackage.sh
Should I have done something elese?

[2021-09-27 06:57] dorianim commented on #193
Ok, so it works with `global-admin` but not with global-admins who have a different username.

[2021-09-27 07:30] kiarn commented on #193
Perfect. With this information I can reproduce and confirm it.
I made a quick fix.
@PLanB2008 is more implicated into multischool, so I let him have a look at this in order to confirm there's no side effects.

[2021-09-27 07:41] dorianim commented on #193
Your fix works for me :+1:

[2021-09-27 07:41] #193 closed, assigned to PLanB2008

[2021-09-28 13:14] dorianim opened #194 "Question about the customFields plugin"
Hi Arnaud,

First, thank you for your great work on the webUI! I just implemented the import of private email addresses through the new custom CSV upload, and it works perfectly :D This simplifies our workflow a lot.

I have a question about the customFields plugin:
I set CustomDisplay1 to sophomorixCustom1:
![image](https://user-images.githubusercontent.com/30153207/135093003-5fb4d6fc-dc7b-42d5-b

[2021-09-28 13:22] kiarn commented on #194
Hi Dorian,

Thanks for your positive feedback.
For the moment, I have only implemented this in the teacher view, not in the student view.
I wanted to wait a feedback from the other dev to know if we keep this or if it's unnecessary.
I think it's useful, in particularly when we want to handle all private emails or parents emails.
Implementing this for the student is not a big deal, I can do this th

[2021-09-28 14:38] dorianim commented on #194
Ok, cool :+1:

[2021-09-28 16:07] dorianim opened #195 "Collapse not working for quota in user details"
Just a minor thing:
The collapse button is not working for Quota in the user details of a student:
![image](https://user-images.githubusercontent.com/30153207/135124331-be665fc8-8bd6-46c0-b038-467901cee4ea.png)
Clicking "Ausblenden" just changes the label:
![image](https://user-images.githubusercontent.com/30153207/135124437-7216317d-ce74-4b78-bdab-eaebe3c272de.png)
Same for teachers.

Regards,
Do

[2021-09-28 16:31] kiarn commented on #195
Fixed.

[2021-09-28 16:31] #195 closed, assigned to nobody

[2021-10-01 14:31] kiarn commented on #194
Done, but I need to ameliorate the design since I find the result pretty ugly :)

[2021-10-01 14:31] #194 closed, assigned to nobody

[2021-10-01 16:33] kiarn commented on #194
The data are yet better displayed, just waiting to migrate to B4 in order to habe more design options.

[2021-10-02 21:58] dorianim opened #196 "Exception with empty custom fields"
Hi Arnaud,

I just tested your changes from #194, and it looks excellent, thank you very much :+1:
Just one minor problem: When there are some students who have an empty value in the custom field, an exception occurs:
![image](https://user-images.githubusercontent.com/30153207/135732803-fc8c25a9-1ba5-417e-a49d-e835ce8284cb.png)
![image](https://user-images.githubusercontent.com/30153207/135732811-

[2021-10-02 22:11] kiarn commented on #196
Hi,

Thanks for the report. I have a lot of students with empty values, I don't think this is the problem, but more the fact that not all 3 custom displays are configured, my bad.
I will have a look at this tomorrow, I currently work on linbo 4.

Arnaud

[2021-10-03 10:30] kiarn commented on #196
Should be fixed.

[2021-10-03 10:30] #196 closed, assigned to nobody

[2021-10-05 18:57] dorianim opened #197 "Option to edit start scripts in sysvol"
Hi,

Just a little Idea I had:
It would be helpful to have an option to modify the scripts in `/var/lib/samba/sysvol/linuxmuster.lan/scripts/default-school/custom`.
This is not super important, though.

Dorian

[2021-10-27 07:52] kiarn commented on #181
Hello,

I pushed the new Linbo 4 plugin in the testing branch. I just need to add some restarts for the services.
It's necessary to restart the torrent and the multicast service if I restore the backup, or if I rename an image ?

Duplicating image is not implemented, I don't see an use case for this, do we need it ?

Last question : should I prepare a button in the actual Linbo 2 plugin in order t

[2021-10-27 08:08] dorianim commented on #181
Hi @kiarn

I just updated to the latest testing and I get an internal server error:
[code]

![image](https://user-images.githubusercontent.com/30153207/139026315-e5a17f8b-2fd7-46f2-85a7-2090ddc2d0a0.png)

[2021-10-27 08:14] kiarn commented on #181
Hi Dorian,

Thanks for the feedback.
This is not finished, I made all my tests as root in the Webui, but without macct.
What permissions does this file have ?

[2021-10-27 08:33] dorianim commented on #181
Hi Aranud,

Please note that the error occurs even before logging in.
The permissions are:
[code]

[2021-10-27 10:01] kiarn commented on #181
Yes, it's normal, because there's now a service at starts from the Webui which handles all Linbo files. So this kind of error will be thrown at start.

I cannot reproduce the permission error, that's what I have :

[code]

By the way, should the `macct` be editable in the Webui ?

[2021-10-27 10:10] kiarn commented on #181
I did not publish anything since I merged Linbo 4 in testing : did you make your own package with `buildpackage.sh` ?

[2021-10-27 10:14] dorianim commented on #181
No, I don't think so. Probably you can simply ignore it.

Strange. I can fix it by setting chmod 666 and reproduce it by chmod 600.

Yes,

[2021-10-27 10:18] kiarn commented on #181
Ok. You can confirm you have tested it as root in the Webui ?
If the mod is 666, can you see in the Linbo 4 plugin the image and edit the extra files ? ( e.g. .reg ).
`/srv/linbo/images` and `/srv/linbo/images/ubuntu_test` have permissions 755 ?

[2021-10-27 10:30] dorianim commented on #181
What do you mean? I started the webui as root with ` /usr/bin/python3 /usr/local/bin/ajenti-panel --stock-plugins --plugins /usr/lib/linuxmuster-webui/plugins`.

Yes.

Yes.

[2021-10-28 13:36] kiarn commented on #181
I was able to reproduce the error, and it's not so simple to fix. I will think about it.

Duplicating image doesn't seem to be necessary, I will let it out.

[2021-10-28 16:10] kiarn commented on #181
Should now work.

[2021-10-28 16:13] dorianim commented on #181
Thanks, I'll try :)

[2021-10-28 16:20] kiarn commented on #181
For your information, I just renamed testing --> lmn71.

[2021-10-29 05:53] dorianim commented on #181
Seems to work :+1:

[2021-10-29 14:22] PLanB2008 opened #198 "setup.ini not Found"
There are some plugins in lmn71 branch which depends on reading the setup.ini.

This is a problem during the initial setup process. The setup wizard looks for this file and if its not available the setup wizard start. Right now ajenti cannot start at all because the lmn_common module fails to load because of the missing setup.ini file.

[2021-10-29 14:25] PLanB2008 commented on #198
I'll look into this myself :)

[2021-10-29 15:29] PLanB2008 commented on #198
Created a pull request.

Can you have a look if this is suitable?
 Fix setup.ini access #199

[2021-10-30 12:29] kiarn commented on #198
Hello @PLanB2008

Thanks for the fix !
The way I did this never convince me, and I'm asking myself if it's not better to load the setup at the start of the webui ( without sensible data ) and to have it available the whole life cycle, like the lmconfig :

https://github.com/linuxmuster/linuxmuster-webui7/blob/661ea1a9fa10737a11de537f3bc6b2b33a0efac3/usr/lib/linuxmuster-webui/plugins/lmn_common/api

[2021-11-03 14:44] baumhof commented on #168
Hello,

i just installed webui 1.0.159-1 from testing repo: the Problem persists. ntacl is still missing.
I have to wget it and reinstall with apt install -f

Yours
Holger

[2021-11-06 07:50] dorianim opened #200 "Unify management of "special" users?"
Hi,

![image](https://user-images.githubusercontent.com/30153207/140602319-874e523a-0d13-4cf8-a860-f1114f2531f9.png)

Currently, there are two menu entries, one for global admins and one for school admins. Wouldn't it make sense to combine those two?
I think, they could be combined to something like "special users". In this entry, it could then also be possible to manage custom bind users.

What d

[2021-11-06 09:27] kiarn commented on #200
Hi,

We had this discussion some years ago to split admins + teachers + students in order to have a direct access to all roles. It's quite important to have a direct access to teachers and students, but I also really think we could merge all the admin together since it's not pretty often used.

What do the others think about it ?

Arnaud

[2021-11-06 10:11] dorianim commented on #200
Yes, I fully agree :)

[2021-11-06 10:12] dorianim commented on #200
@PLanB2008 @jeffbeck @HappyBasher

[2021-11-07 14:28] kiarn commented on #168
Hello Holger,

Since the repo is not maintained anymore, we are migrating this to Github : https://github.com/linuxmuster/deb
It's not finished yet, and we must find a consensus between all dev ( hopefully the next weeks ) in order to publish this.
There's already a new version available for testing : https://github.com/linuxmuster/deb/tree/main/packages/linuxmuster-webui7/lmn7-testing

and for st

[2021-11-08 08:50] dorianim commented on #181
Hi @kiarn

I just spotted another minor problem:
When installing the latest lmn71 release on a lmn70 Server, an internal server error occurs:
[code]
Executing `mkdir -p /srv/linbo/images` solves the issue.

Dorian

[2021-11-08 15:19] kiarn commented on #181
Fixed, thanks !
i just show an info if the directory does not exist ( it will be automatic created by converting an image to qcow2 ).

[2021-11-19 09:34] kiarn commented on #181
I will close this because the plugin development as feature request is quite finished. If there's more issues with the linbo 4 plugin, please open a new issue.

[2021-11-19 09:34] #181 closed, assigned to kiarn

[2021-11-25 19:34] dorianim opened #202 "Don't allow hostnames longer than 15 chars"
Hi,

Hostnames which are longer than 15 chars seem to cause problems. See here:
https://ask.linuxmuster.net/t/linuxmuster-linuxclient7-setup-schlaegt-fehl/8222

I think, it would make sense to disallow such hostnames in the device management.

Regards,
Dorian

[2021-11-25 19:44] #202 closed, assigned to nobody

[2021-12-09 07:07] lemertens opened #203 "No error message when "restore first password" does not work"
When user-accounts where migrated from 6.2 including there passwords, the stored "first passwords" (Erstpasswort) might not meet the password requirements (as password validity check is deactivated during migration). When in this case a teachers tries to reset a password to the "first password" the password remains unchangend but the webui states "password changed"

[2021-12-09 08:45] kiarn commented on #203
Hello,

Thanks for the description, I can confirm it. Webui catchs the error from the sophomorix output, and in this situation, we don't get any error :

[code]

So I have to open an issue in the sophomorix repository.

Arnaud

[2021-12-14 12:27] dorianim opened #205 "Support for management groups"
Hi,

I had this idea a while ago and would like to start a conversion on it:
I think it would be cool to have an interface for management groups.
There is not much documentation about them, but I think that they are very powerful. As far as I understand it, they are basically projects without a share. Some documentation can be found here:
- https://github.com/linuxmuster/sophomorix4/wiki/objectCla

[2021-12-14 13:06] kiarn commented on #205
Hi,

I think it's a good idea to have a look at this in order to add flexibility in the Webui.
But we should with other devs decide over use cases and strategie about this functionality.

Calling `sophomorix-managementgroup --nowifi rocketchat` is not a pretty clear syntax in order to avoid access to someone. A general option like `--noacess` would be clearer.

Arnaud

[2021-12-14 13:34] dorianim commented on #205
Hi Arnaud,

Yes.

That is true. But managementgroups can also be cotrolled via config files in `/etc/linuxmuster/sophomorix/default-school/<group>.something.conf`. But I can't find good documentation on this (@jeffbeck ?)

Regards,
Dorian