[2021-12-14 14:09] PLanB2008 commented on #205
Once there was a plan to have more configurable management groups. I'm not sure if this was implemented, I don't thinks so.

The general idea is to have groups services rely on and are manageable by the teacher via WebUIs session module. In theory this could be extended to whatever you want but we have to discuss this.
At the moment there are few static defined groups, if we make this customizable

[2021-12-14 15:32] dorianim commented on #205
It is already customizable. You can create managementgroups using sophomorix in the terminal.

[2021-12-26 17:59] kiarn opened #206 "Remove Opsi + Docker in setup wizard."
Hello,

It was remove in `linuxmuster-base`, so it must also disappear from the Webui, it will block the setup process and the end.

Arnaud

[2021-12-26 20:52] dorianim commented on #206
I think, the mailserver should also be removed.

[2021-12-26 20:53] kiarn commented on #206
Yes, it's also planned :)

[2021-12-27 10:07] cweikl commented on #198
I have tested on a newly installed system with linuxmuster-prepare for 71. A I tried to run the setup via webui, I reveived an error.
As I ran
`touch /var/lib/linuxmuster/setup.ini
systemctl restart linuxmuster-webui.service`
I was able to login to WebUI.
Additional problem:
Having logged in as root, there is no button to start LM Setup Wizard.
When I use http://10.0.0.1/view/lm/init/welcome
the s

[2021-12-27 11:05] kiarn commented on #198
Solved by @PLanB2008

[2021-12-27 11:05] #198 closed, assigned to nobody

[2021-12-28 11:06] #206 closed, assigned to kiarn

[2022-01-03 16:33] dorianim opened #207 "Allow some Devices to have too long hostnames"
Hi,

I think, long hostnames should be allowed for devices other than `Schüler-PC im Klassenzimmer`, `Lehrer-PC im Klassenzimmer`, `Lehrer-PC`, `Fakultäts-Computer` and `domänencontroller`.
I think, I's not necessary to enforce this for all other types.

Regards,
Dorian

[2022-01-03 16:42] kiarn commented on #207
Hi,

Yes I agree. But this may causes some problems because we can't know which computer in which group will join the domain : this is all in the hand of the local admin, and can mess up some computers on his network if he/she doesn't pay enough attention. This must be good documented and communicated.

BTW, can you explain in which cases 15 chars are not enough ?
Do you have subdomains ?

Arnaud

[2022-01-03 16:52] dorianim commented on #207
We just have some longer names, eg:
- `ELE-wetterstation`
- `server-hypervisor`
- `server-rocketchat`

They could be shortened, of course, but it's a bit annoying since these devices are never going to be joined to a domain. I think it is enough to catch this mistake for Computers, since most users probably only ever join a computer and no server.

[2022-01-03 17:09] kiarn commented on #207
There's some other use cases with a server joining a domain, like ldap-replica, DFS, etc ... but these cases are mostly reserved for advanced users or company, and I don't remember if they are mentioned in the `devices.csv`.

The problem I have here is that I have no access to the role when I make a test about the hostname, I must show if this is possible in a simple way.

[2022-01-05 20:04] kiarn commented on #35
This is now published in version 7.1.

[2022-01-05 20:04] #35 closed, assigned to nobody

[2022-01-05 20:11] kiarn commented on #134
Related issue in sophomorix repository : https://github.com/linuxmuster/sophomorix4/issues/123

[2022-01-06 11:54] #207 closed, assigned to nobody

[2022-01-06 14:50] kiarn commented on #197
Hi,

I forgot to answer here, sorry for that.
Which scripts especially ?

That's the tree I have :

[code]

Or do you mean all except the backups ( e.g. `login.script.*` ).

Arnaud

[2022-01-06 14:59] kiarn commented on #68
This seems to be solved now.

[2022-01-06 14:59] #68 closed, assigned to nobody

[2022-01-06 15:30] dorianim commented on #197
Hi arnaud,

Just the ones in `/var/lib/samba/sysvol/lmn.lan/scripts/default-school/custom`.
The login.script* are obsolete and not used anymore in the wen client.

Regards,
Dorian

[2022-01-06 16:24] kiarn commented on #197
Hi,

If I understand correctly, these scripts are provided through sophomorix, but I didn't find a documentaion on the wiki.
Only here : https://github.com/linuxmuster/linuxmuster-linuxclient7/wiki/Hook-scripts

Is it only used in linuxclient7 ?
I ask because I need to put it in the right place in the webui.

Arnaud

[2022-01-07 09:41] dorianim commented on #197
HI Arnaud,

Yes, these scripts are created by sophomorix and there is no proper documentation on this.
They are used in the linuxclient (https://github.com/linuxmuster/linuxmuster-linuxclient7/blob/19e41e02aae7409baec47a1a5f8a9caaae414ea8/usr/lib/python3/dist-packages/linuxmusterLinuxclient7/hooks.py#L32) and slightly diffrently in the windowsclient (https://github.com/linuxmuster/sophomorix4/blob

[2022-01-08 11:20] dorianim opened #209 "Idea: Shutdown machines in linbo_sync"
Hi,

I think, it might be a nice to have feature to be able to shut down machines in Linbo_sync. It could work like this:
- Linbo: `ssh -o ConnectTimeout=2 -o StrictHostKeyChecking=no -p 2222 root@$IP /sbin/poweroff`
- Linux: `ssh -o ConnectTimeout=2 -o StrictHostKeyChecking=no root@$IP shutdown now`
- Windows: `net rpc -S $IP -U global-admin%$PASSWORD shutdown -t 1 -f`

For windows, it might be p

[2022-01-08 11:23] dorianim commented on #209
I can implement the Backend, but someone else has to do the frontend for this :slightly_smiling_face:

[2022-01-08 12:45] dorianim opened #210 "Allow to create cron task which can be accessed by all admins"
Hi,

I really like the new cron plugin, I'm using it to execute regular syncs with linbo_remote.
But because the plugin uses my own crontab, other admins cannot see  and edit my tasks. Would it be possible to add an option to create a "global" cron task (maybe in root context) which every admin can edit?

Regards
Dorian

[2022-01-09 16:25] kiarn commented on #209
Hi,

I wanted to achieve this feature, and I would love to have it in my network, but there's too many constraint for this :

- for Linbo, nothing to say, it's already done with `linbo-remote`
- for Linux : you need a root ssh access for this, which many of us don't have for security reasons, and you need a ssh server on the client. If it's the case, then you have to
  - provide a ssh access with

[2022-01-09 16:32] kiarn commented on #210
Hi,

I was awaiting this request.
I see 2 solutions for this :

- as admin, open a `crontab` as root, which can be shared over all admins, and can reuse the same backend
- edit `/etc/crontab` which is considered as bad practice ( what I always do ) and need some improvement on the backend.

The first solution seems better.

[2022-01-09 17:12] dorianim commented on #210
I also prefer the first solution :+1:

[2022-01-09 17:14] dorianim commented on #209
Yes, you are right, It's not optimal. A solution for linuxclients could be to automatically setup ssh in the linuxclient7 or with Linbo. But we need to discuss this.

[2022-01-09 17:17] kiarn commented on #209
I'm glad you came up to this idea, that's exactly what I wanted to silently suggest :)

[2022-01-11 08:17] PLanB2008 commented on #210
You could also add a checkbox like dorian suggested "global-crontab" and run crontab -u global-admin or something like that (specifying the user which is linked to the global cronjobs).
But this begs the question: Do we need user specified crontabs at all? I mean in a multischool environment it makes sense to have "global" cronjobs and school specific. Other than that I would not offer every user

[2022-01-11 08:28] PLanB2008 commented on #209
Just adding my 2 cents to this:

I would like to see something like this as well. I wouldn't mind to share the public key of the school server to all the linux clients as requirement.
For security reasons one could add another user to these machines (eg. lmn-system), and provide this key just for this user having the permissions to shutdown.
I personally would not go this route. In my opinion the

[2022-01-11 09:58] dorianim commented on #210
I don't think, we should use ssh. It is a pain to set it up under windows.

I would prefer something like this:
- we have an mqtt beoker in the server
- all clients run a daemon which connects to it
- they publish their details like os, version, logged in users, uptime, ...
- they subscribe to some some subject where the server publishes actions for them to execute, like shutdown, reboot, suspend,

[2022-01-11 10:05] dorianim commented on #209
I would not like to use ssh. It is a pain to setup in windows and its not particularly fast to connect to it.

I would prefer the following solution:
- the server runs an mqtt broker
- all clients run a daemon which connects to that broker
- the clients publish some status values like OS, uptime, logged in users, ...
- the server publishes actions for the clients to execute like shutdown, reboot,

[2022-01-11 10:17] PLanB2008 commented on #209
I get your point and see the benefits of having a real unified client-software running on each client.
On the other hand we would've the disadvantage of developing and maintaining another tool rather than using default standards provided for the operating system.

I agree not using ssh for windows, using rpc commands should be the way to go for this, I did not adressed windows at all in my post.
B

[2022-01-11 10:24] dorianim commented on #209
The problem with using the default tools is again, that we don't have a nice way for determining what os the client is running. Currently we only use port scanning and this may be unreliable in some cases.
So in the worst case, we'd have to try both which may make the process kinda slow.

In addition to that, we would not have the ability to get fine-grained information fron the client in a fast w

[2022-01-11 10:28] dorianim commented on #209
In addition to that, we could use the daemon for many more things in the future. Like executing linbo tasks, locking the screen, blocking the internet access.
It could also relace linbo-remote and finally create a clean and secure way for linbo <-> server communication (replacing that hacky rsync solution we currently have).

[2022-01-11 10:32] dorianim commented on #209
Mqtt has so much felxibility, it could to it all! Also things like storing the last sync of a client and even providing start.confs.

As you can see, it could be the ultimate solution for us. And it is so much easier to implement than everything we currently use.

[2022-01-11 10:37] dorianim commented on #209
But I am getting off-topic, sorry. We should start with a small proof-of concept which will only provide the functionality for this issue. If that works and we are hapoy with it, we can go further 😅

[2022-01-11 14:49] kiarn commented on #209
Good, we all have a lot of differents ideas, what a time to be creative.
Let's talk about this in our next meeting, I think it is then simplier to focus on our needs and roadmap for this.

[2022-01-11 14:55] kiarn commented on #210
The plugin is initially a copy of the ajenti plugin, with holiday addon, which currently does not work.
The actual permissions only allows global and school admins to change this, no one else.
I also think that only one cron would be enough in a single school env.
One more thing to discuss in a meeting ... we already have a lot for the next meeting, the biggest question will be to find a date for

[2022-01-11 15:50] kiarn opened #211 "Obsolet parameter in webui.yml"
Hello,

Since I'm filling the documentation, I saw that the parameter `is-configured`, `provision` and `initialized` in `/etc/linuxmuster/webui.yml` are not used.

The setup wizard is triggered when the file `/var/lib/linuxmuster/setup.ini` does not exists, and I don't any use of these variables in the webui or in linumxuster-base, so I think it's obsolet and we can remove it.

But just before I d

[2022-01-23 15:05] garblixa opened #213 "WebUI does not respect comments in devices.csv"
Hello,

When devices.csv is edited directly and an entry exists like the following, webui then returns an error when saving and importing.
[code]

Error:
[code]
WebUI should respect comments in devices.csv

Thanks
Klaus

[2022-01-23 15:42] dorianim commented on #213
CSV does not support comments by default:
https://stackoverflow.com/questions/1961006/can-a-csv-file-have-a-comment

[2022-01-24 06:29] garblixa commented on #213
Since WebUI already respects comments in other areas of devices.csv, this should also happen when comparing for duplicate host/IP/MAC entries.

[2022-01-24 20:17] kiarn commented on #213
Yes, it's not a good practice to write comments in csv, but it was already implemented as I joined the team.
But my last test show that the commented line was not completely copied ( @garblixa : can you please confirm it ? ), so I fix it today.

Removing the commented lines from the validation was not a big deal, it's done : https://github.com/linuxmuster/linuxmuster-webui7/commit/101213fea83457be

[2022-01-25 07:37] garblixa commented on #213
Hello Arnaud,

To the general discussion if it is correct to use comments in .csv files I would like to say that I think it is correct and state of the art on unix systems to use comments in text files. Comments are used in any linuxmuster pattern configuration file. There is a WebUI for the devices.csv to add entries and a WebUI editor. Therefore the file could also be called devices.txt and exte

[2022-01-25 11:10] kiarn commented on #213
Hello Klaus,

Ok, thanks, it's since yesterday already solved : https://github.com/linuxmuster/linuxmuster-webui7/commit/f79edbe28ed25dd79cdb1afe0fb7190bfe74b447, so I think I can close this.

Arnaud

[2022-01-25 11:10] #213 closed, assigned to nobody

[2022-01-26 10:31] baumhof opened #214 "webui accepts capital Letters in room and devicenames, linbo4 does not like them"
Hello there,

pleas regard this post in ask.linuxmuster.net
I think webui should not suggest A23 as a Room Name and it would be marcvolous if it could generate a Error stating capital Letters are not allowed in Room or Devicenames.

https://ask.linuxmuster.net/t/linuxmuster-net-7-1-testing/8265/33

Yours
Holger

[2022-01-26 15:39] kiarn commented on #214
Hello Holger,

It doesn't seem to be related to the Webui, so I'm closing it for the moment.

Arnaud

[2022-01-26 15:39] #214 closed, assigned to nobody

[2022-01-27 10:27] hermanntoast opened #215 "Add question mark as valid password character"
Sophomorix already support a question mark as a valid password character, but the WebUI doesn't allow it.

[2022-01-27 10:31] hermanntoast opened #216 "Extrastudent listmanagement requires a username"
The WebUI Plugin requires a username in extrastudent listmanagement, but sophomorix can auto generate one if not specified.

[2022-01-27 20:24] #215 closed, assigned to nobody

[2022-01-27 20:25] kiarn commented on #215
Thanks.
Note for me for later : valid chars are shown with

[code]

But it seems to miss some of them.

Arnaud

[2022-01-27 20:53] #216 closed, assigned to nobody

[2022-02-01 20:39] lemertens opened #217 "Distribution of files failes after upgrade from stable version / missing script call in postinst"
After updating from 7.1.0 version the distribution of files does no longer work due to a permission error on folder /srv/webUiUpload.
This might be a result of a missing call of  /usr/lib/linuxmuster-webui/etc/create_webuiUploadFolder.sh  during post-installation, as the mentioned script does recreate the mentioned folder with correct permissions.

[2022-02-02 06:51] PLanB2008 commented on #217
Fixed in 77821de2feee31d2a2ba0dc55b026165dfa6837b

[2022-02-02 06:51] #217 closed, assigned to nobody

[2022-02-04 18:12] white-rabbit07 opened #218 "Feature Request: Accounts for parents?"
Hi.
it would be nice to have accounts for parents like this:

Pupils account:
Name                          Login           Group
max mustermann ---> musmax --> Klasse 5a

Parents:
e.musmax --> Eltern 5a (and the same default-password for everyone??)

Is there a way to realize that? The background of this question is:
-  A way for parents to login via LDAP/AD  to moodle (and other platforms) with

[2022-02-09 13:46] PLanB2008 commented on #211
Indeed these are not used. Maybe we **should** starting using them instead of relying on the existence of setup.ini?

[2022-02-10 15:39] PLanB2008 opened #223 "Move Subnets from School config to global config"
Editing these options affects all schools, this needs to be moved to global config and needing global-admin permissions.

[2022-02-11 10:13] #223 closed, assigned to nobody

[2022-02-15 15:52] PLanB2008 opened #224 "Holidays should be school specific"
At the moment the module uses /etc/linuxmuster/holidays.yml.

This does not work in a multischool environment, especially if these schools use different holidays.

The module should save the holidays in different files like sophomorix. eg. kbrs.holidays.yml

In addition the linuxmuster-holiday script needs an argument to define which school is used.

[2022-02-15 15:52] PLanB2008 opened #225 "Move Custom Fields Tab to Global Settings"
Like Subnets settings this setting is used for every school in a multischool context. This needs to be moved to global-settings.

[2022-02-15 16:07] PLanB2008 opened #226 "Fields editable by user"
Maybe we can add an option to allow users (especially teachers)  to edit custom fields which are defined by the admin as editable.

[2022-02-16 20:44] kiarn commented on #224
Hello,

I was awaiting this comment. That's why I think it's necessary that we talk about multischool.

Arnaud

[2022-02-16 20:47] kiarn commented on #225
Hello,

Maybe we should discuss it first ;)

User management is school specific, so I don't get why custom fields could not be school specific too.
I wanted to split the config file anyway, and moving to globa settings would block school admins from editing this.

Arnaud

[2022-02-16 20:51] kiarn commented on #226
Hello,

Do you mean to add an option for each to make it editable ?
Or should we let the admin decide which fields come to the landing page and let this way the users changing it ?
Or both ?
This is feasible, but need some work.

Arnaud

[2022-02-23 08:28] PLanB2008 commented on #226
I was thinking the second. Its not urgent in my opinion but would improve using custom fields for some use cases.

[2022-02-26 10:03] #211 closed, assigned to nobody

[2022-02-26 10:04] kiarn commented on #211
I remove this for the moment for a clean structure, but I keep in mind we can eventually use it in the future :+1:

[2022-02-26 11:58] kiarn commented on #224
Hello,

Already done for the settings, but for the crontab plugin, I need to list all existing schools on the server.
Can you please confirm that I can achieve this with :

[code]

and then use `LISTS/SCHOOLS` ?
On my test server, there's more entries in `LISTS/SHARES` than in `LISTS/SCHOOLS`.

Arnaud

[2022-02-26 16:55] kiarn commented on #224
This is quite done in crontab plugin, but I need to add a select for the global-admin, so that he can select the right school to apply the holidays. That's why I asked a few hours about listing the schools.

[2022-02-26 16:57] dorianim commented on #224
This problem already existed a while back: https://github.com/linuxmuster/sophomorix4/issues/112

[2022-02-26 18:15] kiarn commented on #210
Hello,

Since I was working on it today to enable school specific holidays, I suggest the following :

  * all global admins open the same cron file, the one from the user `global-admin`
  * school admins can all open the same cron file from the school they belong. It's easy to check the school, but we need a common user for all school admins from the same school and for this point I have no idea.

[2022-02-27 12:56] #225 closed, assigned to nobody

[2022-02-27 14:47] dorianim commented on #210
Sounds good to me :)

[2022-02-27 16:43] kiarn commented on #226
Hello,

It is mostly done, but I have a permission problem : teachers and students should be able to read the configuration in `/etc/linuxmuster/sophomorix/SCHOOL/custom_fields.yml`, and it's not the case yet.
It's also not possible to read this config at startup and to store it in a variable because it depends on the school context. For the moment, I don't have an idea to solve it.

Arnaud

[2022-02-27 16:44] kiarn commented on #210
Hello,

Do you mean that only `global-admins` can edit cron jobs ?

Arnaud

[2022-02-27 17:54] dorianim commented on #210
Yes. In my opinion, this is fine, as it is a very low-level administrative task.

[2022-03-02 13:15] michaelkohls opened #227 "Deleting a linbo group (Hardwareklasse) doesn't delete the grub conf"
When deleting a linbo group (hardware class) in the webui, the associated start.conf.example in /srv/linbo is deleted, but not the associated grub.conf in /srv/linbo/boot/grub (example.conf).
From my point of view, the grub conf should also be deleted in order to keep the system clear.

[2022-03-02 22:15] kiarn commented on #227
Hello @michaelkohls

Thanks, that's a good point, but you mean surely `/srv/linbo/boot/grub/example.cfg` and not `/srv/linbo/boot/grub/example.conf` ?

@dorianim : I don't see it as a bug, but more as enhancement.

Arnaud

[2022-03-02 22:21] dorianim commented on #227
I don't mind changing the labels.

[2022-03-02 22:31] kiarn commented on #227
@dorianim : do you know when a `grub.cfg` is created ?
I'm testing right now the following :

- create `start.conf.mygroup`,
- use `mygroup` for a device,
- launch `linuxmuster-import-devices`.

But after this I don't see any `mygroup.cfg` in `/srv/linbo/boot/grub`.

[2022-03-02 22:43] dorianim commented on #227
I think, it is created by linuxmuster-import-devices, but only when there is a device using it in devices.csv

[2022-03-02 22:45] kiarn commented on #227
Ok thanks, I thought the same ( and I tried to say it with "use mygroup for a device" :) ), but it doesn't work on my test server. I must test further ...

[2022-03-02 22:54] dorianim commented on #227
If it helps - its done over here:
https://github.com/linuxmuster/linuxmuster-base7/blob/a35a6d08a885c6aeb8c04be48f2c085239d282c1/sbin/linuxmuster-import-devices#L80

[2022-03-03 07:15] michaelkohls commented on #227
Hello @kiarn

You are right. I mean `/srv/linbo/boot/grub/example.cfg`.

Thanks
Michael

[2022-03-03 09:32] #227 closed, assigned to nobody

[2022-03-03 09:33] kiarn commented on #227
Thanks, it was a misconfiguration on my instance.
File `example.cfg` will now be deleted too.

Arnaud

[2022-03-03 09:39] michaelkohls commented on #227
@kiarn: Great, that was quick. 👍 Thanks!

[2022-03-20 17:36] dorianim opened #228 "Add plugin to edit GPOs"
Hi,

It would be nice to have a plugin which allows to edit the drives.xml (and maybe also printers.xml) gpos. Many users are having trouble configuring them, and this would be super helpful for them :)

Regards,
Dorian

[2022-03-20 17:44] kiarn commented on #228
Hi,

Yes, I wanted this since the beginning. Is there a documentation of the possible options and syntax ?

Arnaud

[2022-03-20 18:02] dorianim commented on #228
I found this:
- https://docs.microsoft.com/en-us/openspecs/windows_protocols/ms-gppref/1b0df77e-9f78-4be0-b55a-988ac916b425
- And this: https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn581924(v=ws.11)#xml-file-configuration

[2022-03-26 14:00] dorianim opened #229 "Custom fields for admins"
Hi @kiarn

I love the custom fields, and we are using them for private mail addresses. It would be super nice to also have them available for admins (eg. global-admins). Is that possible?

Thanks,
Dorian

[2022-03-26 14:09] dorianim commented on #200
Thanks for implementing the binduser management, works fine for me :+1:
Another nice feature would be to show the generated password (stored in `/etc/linuxmuster/.secret/<username>`) :slightly_smiling_face:

[2022-03-31 18:58] #210 closed, assigned to kiarn

[2022-04-01 21:42] kiarn commented on #226
This is fixed for teachers. Students need sudo permissions for `sophomorix-user` to edit these (it's only displayed actually), but I close it anyway.

[2022-04-01 21:42] #226 closed, assigned to nobody

[2022-04-01 21:43] kiarn commented on #224
I think it's ok how it actually works.

[2022-04-01 21:43] #224 closed, assigned to nobody

[2022-04-03 16:01] #229 closed, assigned to nobody

[2022-04-03 16:44] kiarn commented on #200
Even if I think it's a little security issue, it's done.
Only admins can see this, and I try to harden this enough.

Unifying the admins views will not be done at the moment (we found no consensus), we can speak about it by the next dev meeting.

Arnaud

[2022-04-03 16:44] #200 closed, assigned to kiarn

[2022-04-11 08:03] dorianim commented on #228
Hi Arnaud,

If it helps: I created some example files for the unittests of the linuxclient:
https://github.com/linuxmuster/linuxmuster-linuxclient7/tree/feat/tests/usr/lib/python3/dist-packages/linuxmusterLinuxclient7/tests/files

Policy1 is completely valid and the other ones have different flaws. The invalid ones should cover most edge-cases.

The corresponding unittest is this one:
https://gith

[2022-04-11 09:28] PLanB2008 commented on #228
Just a minor addition:

This is a GPP GroupPolicyPreference. GPOs are stored in a binary format.

[2022-04-11 10:41] dorianim commented on #228
Oh, ok. Good to know. Where are they stored?

[2022-04-23 11:47] dorianim opened #230 "Error in global admins User details"
Hi Arnaud,

I just tested the custom fields for global admins, and besides one minor problem they work great!

When opening the user details of a global admin, there is an error: `Error: $scope.proxyAddresses is undefined`

Regards,
Dorian

[2022-04-23 11:50] dorianim opened #231 "Useless button when no binduser exists"
Hi Arnaud,

Another minor issue:

When no binduser exists, there still is a delete button displayed:
![image](https://user-images.githubusercontent.com/30153207/164893294-620d4975-98a9-4f9e-a6ab-57b4a558cd9c.png)

Otherwise, the binduser management works flawlessly! :smile:

Regards,
Dorian

[2022-04-23 14:33] #231 closed, assigned to nobody

[2022-04-23 14:37] #230 closed, assigned to nobody

[2022-04-25 16:37] PLanB2008 opened #232 "lmn_settings permission needed for teachers"
https://github.com/linuxmuster/linuxmuster-webui7/blob/451cfa86aa8cb21b4deb0e10d9ea93f2ef4bce87/usr/lib/linuxmuster-webui/plugins/lmn_settings/permissions.yml#L10

This seems to throw an error when opening user information as a teacher.

![grafik](https://user-images.githubusercontent.com/26460239/165134041-7b8c091c-3387-4f63-bab5-d886e57ff13a.png)

[2022-04-25 16:44] kiarn commented on #232
~~A teacher should not be able to open user details, only admins.~~
But I just saw that the teacher have access to students details in the session module, I was not aware of this.
I will have a look at this.

[2022-04-25 16:47] PLanB2008 commented on #232
Not sure if this shouldn't be possible. I see the need for a teacher looking for groups or quota of a student.

[2022-04-25 16:49] kiarn commented on #232
I forgot to strike the first sentence ;)

[2022-04-25 16:51] kiarn commented on #232
The only decision to take is : should a teacher see the content of the custom fields ?
The simpliest solution would be to display custom fields only for admin roles in the user details.

[2022-04-25 17:11] PLanB2008 commented on #232
It depends... I havent had confidential information in mind when we were talking about this custom fields but I could see some user wanting this feature...

My personal opinion: Let them see everything but if you would like to hide it - go for it :)

[2022-04-25 18:17] #232 closed, assigned to kiarn

[2022-05-22 17:11] dorianim opened #235 "samba home plugin exception"
Hi Arnaud,

I tried out the new home plugin, but unfortunately, I get an empty list when opening it. When trying to create a folder, I get this exception:
[code]

Regards,
Dorian

[2022-05-22 18:14] kiarn commented on #235
Hi,

Kerberos auth didn't worked. Is there a file `/tmp/krb5cc_USERID` on the server ?
You can check it with `klist /tmp/krb5cc_USERID`, but I'm pretty sure you have known it already.

Other possibility : the library `smbprotocol` is not installed with kerberos support, this can happen if there's an incompatibility with `gssapi` : https://github.com/jborean93/smbprotocol#requirements

Cheers

Arna

[2022-05-22 19:31] dorianim commented on #235
The kerberos ticket exists:
![image](https://user-images.githubusercontent.com/30153207/169712677-24e11f09-a309-480b-9cd1-00328a05cd76.png)

And it also seems that smbprotocol is installed:
![image](https://user-images.githubusercontent.com/30153207/169712706-20ea92ed-1d23-4e28-92f3-afbfccf87d3c.png)

Anything else I can test?

Regards,
Dorian

[2022-05-22 19:34] kiarn commented on #235
Yes :

[code]

[2022-05-22 19:35] dorianim commented on #235
Seems to work:
![image](https://user-images.githubusercontent.com/30153207/169712825-5ec61c09-d56d-4f8c-adcb-db5535be4655.png)

[2022-05-22 19:40] kiarn commented on #235
Are `python-dev, libkrb5-dev, gcc` installed on your system ?
Can you eventually try to install `smbprotocol` yourself to see what happen ?

[code]

Maybe we can see some error.

Arnaud

[2022-05-22 20:05] dorianim commented on #235
![image](https://user-images.githubusercontent.com/30153207/169713740-fb62da58-06b2-4296-ab45-fcd3573f58d2.png)
Unfortunately, there does not seem to be a problem with the packages.

[2022-05-22 20:23] kiarn commented on #235
I don't get the problem. Please try this (variable home must have the right realm, and the kerberos must still be present in `/tmp`):

[code]

Based on the uid from the process, `smbprotocol` try to find a ticket in `/tmp/krb5cc_UID` and use it, that's why it's necessary to make a setuid.
Or is it a special account not listed in sophomorix roles ?

Arnaud

[2022-05-22 20:27] dorianim commented on #235
It's an extra-student in the default-school:
`test;Test;Nutzer;01.01.2000;default-testnutzer;`
(I also tested with a normal student, does not seem to make a difference)

When executing the commands you sent, I get a similar error message:
[code]

[2022-05-22 21:21] kiarn commented on #235
I didn't find a explanation yet. Do you have this behaviour on both your test and production server ?
Does a request with the regular smbclient throw any error ?

[2022-05-23 17:26] dorianim commented on #235
I only have the new WebUI installed on my test system, because we are still using linbo 2 in production.

Works fine with password, but I don't know how to use it with a specific kerberos file.
Not sure, if this should work:
![image](https://user-images.githubusercontent.com/30153207/169874596-666edbe6-84ac-4700-8cb6-d396c0e938de.png)

[2022-05-24 13:06] kiarn commented on #235
Hello,

If you have a domain, please try with the domain instead of the realm, it can be a DNS problem :

[code]

In order to test with `smbclient`, you can do it this way :

[code]

Then you should get a smb console to do `ls` or other stuff.

Cheers

Arnaud

[2022-05-24 13:23] dorianim commented on #235
It's really strange:
![image](https://user-images.githubusercontent.com/30153207/170045064-2bb1d96f-b7ec-4113-abf7-9d1ce1c5eff9.png)
For some reason, it says "ticket expired". This behaves the same on my testing and production system.

[2022-05-24 13:25] kiarn commented on #235
Did you check it with `klist` ? Did you rolled back a snapshot and forgot to set the time ? ( happens to me all the time )

[2022-05-24 13:29] dorianim commented on #235
The date is correct, but it created the ticket with a wrong expiry date:
![image](https://user-images.githubusercontent.com/30153207/170046942-d40c2a7e-4c48-4494-8860-297546c9b944.png)

[2022-05-24 13:43] kiarn commented on #235
Sorry, but I don't see what's wrong with the expiry date.

[2022-05-24 13:55] dorianim commented on #235
Yes, you're right, its fine

[2022-05-24 14:10] kiarn commented on #235
My bad : calling `smbclient` as root is the problem. `smbclient` try to use the credentials cache located at `/tmp/krb5cc_0`, and this ticket is maybe expired.
`kinit default-testbenutzer` let you define a ticket for root as default-testbenutzer.

[2022-05-24 14:21] dorianim commented on #235
Yep, like this, it works on both systems

[2022-05-24 15:10] kiarn commented on #235
So, I encounter the error mentioned in the first post if :

 * the owner of the credentials cache is not set properly, here  `REALM\default-testbenutzer:users`
 * the ticket is missing or expired, here  `/tmp/krb5cc_3000072`
 * there is a problem with DNS

Did you try the Python code with domain instead of realm ?

[2022-05-24 19:12] dorianim commented on #235
With the correct permission set, This worked too now (`$USER` is set to testnutzer):
`sudo -u LINUXMUSTER\\$USER smbclient -d 3 -U $USER \\\\server.linuxmuster.lan\\default-school -k`

But I still can't get it to work in python:
![image](https://user-images.githubusercontent.com/30153207/170114020-4d7d2757-ef0e-4174-be2c-2702f960ebf9.png)
neither with the whole domainname:
![image](https://user-im

[2022-06-03 06:11] FlorianKrammel opened #236 "Cleartext passwords logged"
Plugin: lnm_users
File: views.py
Function: handle_api_users_password( )

The parameter "password" contains the cleartext password e. g. from global-admin an is shown in the logs (journalctl).

[2022-06-03 06:30] FlorianKrammel opened #237 "Add management support for airserver connect 2"
Featurerequest for management support for the airserver connect 2 hardware.

https://www.airserver.com

This could be a "blackbox". Cloud management and I guess an webbased API is available.

[2022-06-03 06:48] kiarn commented on #236
Hello @FlorianKrammel ,

Thanks for the report, I can confirm. It's necessary to handle this with `pexpect`, but I'm afraid I will not have the time to solve this the next 2 weeks. I will show at it then.

Arnaud

[2022-06-03 06:50] kiarn commented on #237
Hello @FlorianKrammel,

I do not own an airserver, and I have many (many !) requests to integrated diverses APIs.
It could be a good first issue for someone who want to write its own plugin, but I think it's necessary to describe a complete example of the API use here.

Cheers

Arnaud

[2022-06-16 06:46] FlorianKrammel commented on #237
The topic is "under consideration"

https://support.airserver.com/support/solutions/articles/43000600187-control-api-for-airserver-connect

[2022-06-20 09:33] kiarn commented on #236
Hello,

I made some deep investigations, and there's 2 points to correct :

 - Ajenti logs all `subprocess` commands in DEBUG mode. Fix is [prepared](https://github.com/ajenti/ajenti/commit/85a59bba19b46d0f8ad8ad39f1205caae5870c8e) to let the possibility to hide sensitive commands and will be available with the next release.
 - the second point is the fact that `sophomorix-passwd` is run with `sud

[2022-06-20 16:40] #235 closed, assigned to nobody

[2022-06-21 12:07] PLanB2008 commented on #237
First we should discuss which functionality you want to see in the LMN WebUI.

Furthermore, I do not see what makes airserver special, so we should prioritize it in favour of other features. I get the general idea, but our resources are limited, and we have to focus on core development extended with new features.

[2022-06-29 09:44] #236 closed, assigned to kiarn

[2022-07-06 17:46] Buster-de commented on #228
Location of GPP within GPO is documented at https://docs.microsoft.com/en-us/previous-versions/windows/it-pro/windows-server-2012-r2-and-2012/dn581924(v=ws.11)

I want to raise awareness that Group Policy Management Console exists and can be installed on any modern Windows client as part of [Remote Server Administration Tools](https://docs.microsoft.com/en-us/windows-server/remote/remote-server-ad

[2022-07-06 17:53] dorianim commented on #228
I'm aware of that. The intention behind this issue is to create a simple and easy to use interface for the printer and drive GPPs to users don't have to go through the process of setting up any Microsoft stuff.

[2022-07-06 17:59] PLanB2008 commented on #228
Is this compatible with samba 4 servers?

[2022-07-06 18:02] PLanB2008 commented on #228
Oh I did not catch this one, they are both stored along the gpps in sysvol/$DOMAIN/Polices/$GPO/Machine/ as Registry.pol

[2022-07-15 08:44] aloisr opened #239 "Improve logging"
Hello developers,

I have here:

https://ask.linuxmuster.net/t/lmn-7-x-was-loggt-ihr/9023/9

because of the logging. There came out a possible solution for logging. Is it possible to implement this in LMN?

Many greetings

Alois

[2022-07-16 08:12] kiarn commented on #239
Hello @aloisr,

This is not only related to the Webui, I have already provided a full answer on the forum.

Arnaud

[2022-07-16 08:12] #239 closed, assigned to nobody

[2022-07-24 09:19] #197 closed, assigned to kiarn

[2022-07-24 09:20] kiarn commented on #197
Hi Dorian,

I placed this in device management, I think it's better there.

Arnaud

[2022-08-03 10:56] kiarn commented on #228
Hello,

I've prepared a minimalistic tab to modify `useLetter`, `letter` and `disabled` in `Drives.xml`.
Available letters in the select are only the one not used.

![20220803-125037](https://user-images.githubusercontent.com/10401079/182591299-ba9c936a-abf3-454e-875e-ccb9f905043b.png)

It will not be published for now, because I'm waiting that `sophomorix-school --gpo-listall -jj` gives an output

[2022-08-03 13:31] dorianim commented on #228
Looks really promising!

[2022-08-05 11:48] nomisge opened #240 "Option: Benutzerdefinierte Felder auf Eindeutigkeit prüfen"
Bei den benutzerdefinierten Felder wäre es gut, wenn diese so konfiguriert werden können, dass bei Wertzuweisung in das benutzerdefinierte Feld (z.B. bei Listenimport, oder Änderung durch Nutzer selbst) geprüft wird, ob der Wert bereits von einem anderen Nutzer belegt ist. Sollte der Wert nicht eindeutig sein, wird ein Fehler zurück gegeben und zur Eingabe eines eindeutigen Wertes aufgefordert.

D

[2022-08-06 22:20] kiarn commented on #240
Hello @nomisge

It's a common practice to speak english, so I will answer in english, but we can follow the discussion in discourse in german if you want ;)

I see your point and fully understand the request, but I see a problem in the workflow : if an user changes his data, there's no possibility to test it against the data of the other users, this is blocked by design. Only the admins have this

[2022-08-06 22:48] nomisge commented on #240
HI @kiarn,
Don't worry english is fine. I figured it would be better to write in english, just after I posted the feature request. Didn't have time to change it into english. Should I?

I was told, that user custom fields are set directly from the webui, without any sophomorix scripts beeing run. Thus I figured here is the right  place to request the feature.

The security aspect is a valid reason

[2022-08-07 10:19] kiarn commented on #240
Hi @nomisge,

I don't think it's necessary.

I also think it's better to ask about an common implementation on the `sophomorix` side, it would be a more proper way to achieve tihs feature.

It could be some new parameter like :

[code]

I opened an issue there : https://github.com/linuxmuster/sophomorix4/issues/161

This is a question to ask at @jeffbeck, the developer of `sophomorix`, I cannot te

[2022-08-08 10:32] thoschi opened #241 "Hardware group not shown when base image names missing"
After creating a new hardware group and partitioning for this group, the group vanishes from the list of hardware groups in the Linbo section.
If I manually add base image names, the group comes back.
As mentioned in https://github.com/linuxmuster/linuxmuster-webui/issues/3 there should be a way to either set a name (even if there is no image present so far) or may allow a placeholder (like #tbc).

[2022-08-08 16:26] #241 closed, assigned to nobody

[2022-08-08 16:26] kiarn commented on #241
Hello @thoschi

Fixed. I was not aware of the issues in the other deprecated repository.

Arnaud

[2022-08-17 10:39] HappyBasher opened #242 "Install on Ubuntu 22.04 fails by collecting getevent"
See console output:

[code]

[2022-08-18 21:57] thoschi opened #243 "UserID is not shown in user details"
After creating users including an ID (Hera ID in our case) when I open the details of a user, this ID is not shown (it shows Null instead).

Checking the user from CLI shows, that the ID has been added, so the import seems to work fine.

[2022-08-18 22:03] thoschi opened #244 "import errors not properly catched"
some errors during import of new users could be more informative. so far I encountered:

- too short passwords (maybe this should even be catched in school settings - it should not be possible to choose a smaller password length than samba allows)
- duplicate IDs
- missing birthdate of user(s)

the process just stops with an generic python error - it would be better probably to get a proper warnin

[2022-08-19 13:08] thoschi commented on #209
We have this functionality within a simple bash script we use for some years now.

Host OS detection is done by checking certain ports (2222 -> Linbo) and timeouts (for devices powered off or disconnected).
Shutdown/Restart is done via public key ssh (password-access was also possible before) - in windows this works fine with the now included Linux subsystem.

This script also allows to issue Linb

[2022-08-23 08:07] kiarn commented on #243
Hello @thoschi

Can you please provide a example line from users file ? I don't use ID and don't know where the ID are stored.
Which command do you use exactly to check this with CLI ?

I will have a look at this when I'm back.

Arnaud

[2022-08-23 09:44] thoschi commented on #243
Hello @kiarn,

calling `sophomorix-user -i -u <uid>` i get the Unix ID: `sophomorixUnid: <unxi-id>`
The webui user details correctly labels "Hera-ID" (instead of custom) but shows "null" as a value here.

Does this help?

Thomas

[2022-08-27 08:40] dorianim opened #245 "BUG: Wrong scripts for linux in client management"
Hi Arnaud,

on Linuxclients there is no logoff.sh script, and they have an additional sessionstart.sh script, would be nice to get that fixed in the client management plugin :)
See here: https://github.com/linuxmuster/linuxmuster-linuxclient7/wiki/Hook-scripts#server-side

Regards
Dorian

[2022-08-27 08:46] dorianim opened #246 "BUG: Wrong directory in home plugin for students"
Hi Arnaud,

for some reason, the home plugin tries to open the wrong directory for students:
![image](https://user-images.githubusercontent.com/30153207/187022787-c578f3b2-a2fb-4275-90ec-77108b6e2f05.png)
The class is missing, it should be `\\server.linuxmuster.lan\default-school\students\myclass\dozedler`

The traceback is:
[code]

Regards,
Dorian

[2022-08-29 10:57] kiarn commented on #243
Hello @thoschi

Thanks,
Can you please provide a line example from `teachers.csv` with fake names and ID so I can see in which column the Hera ID is written ?

Arnaud

[2022-08-29 13:21] #245 closed, assigned to nobody

[2022-08-29 13:21] #246 closed, assigned to nobody

[2022-08-29 13:59] dorianim opened #247 "FR: Load shares in home plugin from GPO"
Hi Arnaud,

I think, it would be nice if the shares over here
![image](https://user-images.githubusercontent.com/30153207/187218404-b96399a2-90f7-4c1e-a746-d7ee21664310.png)
in the home plugin were loaded from the GPO. Like this, the user has the same shares as on the clients.
The code for this could be reused for https://github.com/linuxmuster/linuxmuster-webui7/issues/228  :)

[2022-08-29 14:03] kiarn commented on #247
Hi Dorian,

Yes, actually a good idea to ameliorate the integration.

The code in #228 is already done but not published, I don't get what you mean.

Arnaud

[2022-08-29 14:04] dorianim commented on #247
I just meant, that the code for parsing the GPO could be reused

[2022-08-29 14:06] kiarn commented on #244
Hello @thoschi,

If I understand correctly, you have imported directly a csv import, and not just added an user in the interface, right ?
I must see if the above errors appear in the `sophomorix` command, that's the only way I can solve it.

Arnaud

[2022-08-29 16:28] kiarn commented on #242
Hello @HappyBasher

Thanks, it's fixed with version 7.2.2

Arnaud

[2022-08-29 16:28] #242 closed, assigned to nobody

[2022-08-29 17:00] thoschi commented on #243
Hello @kiarn
Actually this problem is not (yet) with teachers but students. So a typical line would be
`5a;Mayer;Inge;11.12.2013;12345`
The last column is the id and gets imported from sophomorix as `sophomorixUnid`.

Some (anonymized) sophomorix-log-line, just in case:

[code]
Hope this helps!
Best regards
Thomas

[2022-08-29 17:18] kiarn commented on #243
Hello @thoschi,

I don't succeed to reproduce it :

[code]

![20220829-190858](https://user-images.githubusercontent.com/10401079/187256240-80d88e87-9ad5-4485-87ce-65ed61be4d3d.png)

Students are imported and I can check it :

[code]

Even if I edit manually `students.csv`, I get the ID in the Webui.

The Unid is not part of the user details window, so I don't quite understand where you see a null

[2022-08-29 17:48] thoschi commented on #243
I think we are talking about different places. In the list management I see the IDs. But at the `users/students`-view I can open a details modal with the Null field although the student has a valid ID within sophomorix and in the students list:

![userdetail](https://user-images.githubusercontent.com/40145888/187265160-e82333b6-1cd6-48f8-ac8c-d786af0ae13a.png)

Best regards
Thomas

[2022-08-29 17:57] kiarn commented on #243
Ok, I think you misunderstood the use of custom fields.
You can only display fields like `sophomorixCustom**` in the user details and nothing else.
The custom fields feature is only for optional fields which can be editable, and not for fields like `sophomorixUnid`.
But I can also add the `Unid` in the user details, it's not a big deal.

Arnaud

[2022-08-29 18:07] thoschi commented on #243
Hello Arnaud

you are right - so there is no connection between the possibility to import the ID (as a separate column) and the custom fields. I somehow connected that (probably missing the ID in the teachers list and using a custom field there). Sorry for mixing it up.

It would be great to see the student ID somewhere within the user details then.

Thank you
Thomas

[2022-08-29 18:07] #243 closed, assigned to kiarn

[2022-08-30 13:58] #228 closed, assigned to nobody

[2022-09-08 07:22] lemertens opened #248 "Password print: custom latex templates are not selectable"
The documentation of sophomorix-print states that customized latex templates are to be placed in
[code]
but those templates are not shown in the  corresponding drop-down box when printing password If the same files are put into
[code]
they are visible so i suspect that the directory in /etc/linuxmuster.... is not read when populating the drop-down box

[2022-09-08 14:15] kiarn commented on #248
Hello @lemertens

The path /etc/linuxmuster/sophomorix/<school>/latex-templates is read : https://github.com/linuxmuster/linuxmuster-webui7/blob/09df0911567335cfb365108e1a83d4eaa8257fa2/usr/lib/linuxmuster-webui/plugins/lmn_settings/views.py#L148

I suspect here a simple name conflict, I will have a look at it when I find some time.

Arnaud

[2022-09-10 14:45] jeffbeck commented on #240
In following answer it is said that uniqueness is not part of the scheme, so we cannot enforce it by means of AD:

https://stackoverflow.com/questions/50502779/determine-if-ldap-attribute-must-be-unique-value-across-the-entire-domain

The only way to implement it is by the programms that use the attribute.

I'm not sure if that is a good idea anyway foa custom field:
1) Because this would mean som

[2022-09-10 14:59] jeffbeck commented on #240
see: https://github.com/linuxmuster/sophomorix4/issues/161

[2022-09-11 14:11] kiarn commented on #248
Hello @lemertens

Wait a minute, I think I miss an information : do you mean printing passwords as admin or as teacher ?
In the teacher view, the teachers are not able to select a template, they always use the configured one ( in settings ).

Arnaud

[2022-09-11 14:19] kiarn commented on #172
Using `smbclient` seems to solve the problem.

[2022-09-11 14:19] #172 closed, assigned to PLanB2008

[2022-09-21 10:16] dorianim opened #249 "FR: sort IP-Addresses non-alphanumerical"
Hi,

IP-Addresses are currently sorted alphanumerial. I think, it would make more sense, to sort them like this:
[code]

Currently, `10.0.0.11` is considered smaller than `10.0.0.2`, the above snippet fixes that. There might be a nicer way to implement this, though.

[2022-09-26 15:55] hermanntoast opened #250 "Add multischool support for linbo-remote plugin"
Hello,

The linbo-remote plugin is not configured for multischool usage. It would be nice if this could be added. It's necessary that the parameter "-s" (to choose the school) is at the first position! e.g.:

`/usr/sbin/linbo-remote -s short-name -i 10.0.0.110 -c format:1,sync:1`

![grafik](https://user-images.githubusercontent.com/21087610/192322756-89a09166-62fb-498a-93b2-e590a2875594.png)

[2022-09-29 14:36] #249 closed, assigned to nobody

[2022-09-29 14:36] kiarn commented on #249
Hello @dorianim

Thanks, it's a good idea ;)

Arnaud

[2022-09-29 15:52] #250 closed, assigned to nobody

[2022-09-29 16:01] #127 closed, assigned to nobody

[2022-09-29 16:24] kiarn commented on #129
I think this discussion is not relevant anymore. The bug mentioned in the first post is already solved and @PLanB2008 answered about the rest. Please feel free to open it again if I'm wrong.

[2022-09-29 16:24] #129 closed, assigned to nobody

[2022-10-01 10:15] kiarn commented on #244
Hello @thoschi,

Since I do not use ID and wish PW, I had to test it and I call tell the following :

- in the sophomorix documentation it's mentioned that the wish PW are only used for teachers ( am i wrong ? ), so I only test it with teachers. In this case, I was not able to reproduce a problem : in the listmanagement, uploading a CSV with shorts PW, then check in the Webui was not a problem. Th

[2022-10-01 10:20] kiarn commented on #247
Unfortunately it is not that simple, because the normal user do not have permissions to read `Drives.xml`, and the UID of the Webui is in this case restricted.
This FR needs a complete code refactor.

How does it work in multischool environment ? Are there differents `Drives.xml` in use ?
@PLanB2008 @hermanntoast  : can you please tell us ?

Arnaud

[2022-10-01 10:22] dorianim commented on #247
Yes! The Drives.xml is determined by the GPO and the GPO is different for every school.

[2022-10-01 10:23] dorianim commented on #247
You can see how I load it in the linuxclient here:

https://github.com/linuxmuster/linuxmuster-linuxclient7/blob/3d7cb5fbefc06603febbd3fb17773e03a1385fda/usr/lib/python3/dist-packages/linuxmusterLinuxclient7/gpo.py#L47

Maybe, the user needs to mount the sysvol using samba. Then they should be able to access the drives.xml file.

[2022-10-01 10:33] kiarn commented on #247
Ok thanks.
Doing a ldap search could be a good solution, because `sophomorix-school --gpo-listall` needs at least 3s on my system, and I can not imagine adding this to each login.

[2022-10-01 10:36] dorianim commented on #247
Yes! Basically what you do is this:
1. construct the poicy name, it is `sophomorix:school:{school}`
2. find the poliy in LDAP: `(displayName={name from 1})`
3. get the policy path from the `gPCFileSysPath` attribute
4. load the policy from `{path from 3.}/User/Preferences/Drives/Drives.xml`

[2022-10-01 10:38] kiarn commented on #247
Thanks, but in this case, that was already clear for me :D
I've already tested as post the link to your code ;)
I will see if I can implement this in a quick way.

[2022-10-01 13:30] thoschi commented on #244
Hello @kiarn

this issue was only about the error messages I got.

When I was importing a CSV (exported from Hera) there was a single birth date missing in one line.
It would have been informative to get this information. Instead a generic Python error was thrown.

So I just wanted to suggest to inform about such issues like: "missing data in csv (user xyz)" or such.

Best regards
Thomas

[2022-10-04 14:26] kiarn commented on #244
Hello @thoschi

If you upload a custom CSV, there's no automatic check from sophomorix, you have to click on `Save and check` to achieve this. But if a birthdate is missing, the Webui will show it :

![20221004-162126](https://user-images.githubusercontent.com/10401079/193845316-938b1316-d52d-4463-adb2-443d16640726.png)

Or you made it another way, and I need to know how you get the error, and whi

[2022-10-05 06:29] PLanB2008 opened #252 "List Management Empty entries get manipulated"
When for example, a user uploads a student file containing empty rows respecting the columns, so there are lines like this:

;;;;;;

This works initially. But when the user hits Save and Apply these empty lines get replaces by just blank lines. This again makes sophomorix uncumfortbale and leads to an sophomorix crash because there are empty lines.

Webui should either leave these lines as they ar

[2022-10-06 15:31] kiarn commented on #252
Hello @PLanB2008

I made a test with the following `students.csv` and uploaded it as custom csv :

[code]

It's not possible to make a `Save & Apply` with it, because the validation service detects errors:

![20221006-172249](https://user-images.githubusercontent.com/10401079/194353338-4683df54-a875-46e7-a2f0-38540c19be64.png)

Manually launching a `sophomorix-check` and then a `sophomorix-update`

[2022-10-06 15:41] PLanB2008 commented on #252
I assume the validation does not work if you have a really long stundents.csv.

Ill provide you a list for testing purpose so you can debug this issue further.

[2022-10-06 15:47] kiarn commented on #252
If the CSV is very long, you possibly can hit the `field_size_limit` : https://stackoverflow.com/questions/15063936/csv-error-field-larger-than-field-limit-131072

But I thought it was already corrected this summer : https://github.com/linuxmuster/linuxmuster-webui7/blob/a2050aef2d4f8e02e67d7e0d83d1b37c22672230/usr/lib/linuxmuster-webui/plugins/lmn_common/lmnfile.py#L17

Arnaud

[2022-10-11 07:50] kiarn commented on #252
Is this issue solved ?

[2022-11-17 15:14] jeffbeck commented on #125
It is big trouble if a teacher started an exam. And one student doesn't remember this password.

The student cannot participate in the exam, the teacher has to end exammode to change password. And restart exam again.
That takes to much time in an exam situation.

If the student gets confused (old password is still valid) this can be easily fixed in the next 'normal' non-exam situation.

[2022-11-17 15:21] jeffbeck commented on #125
The setting of a password works also in exam mode:

sophomorix-passwd --user <user> --pass 'Muster!7'

The password check if the firstpassword is working for the exam user, use the exam account name:
sophomorix-passwd --test-firstpassword -u <user>-exam

[2022-11-29 09:19] kiarn commented on #252
@PLanB2008 can we close it ? ;)